{
    "openapi": "3.0.0",
    "info": {
      "description": "Sequence API",
      "title": "Sequence API",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.sequence.build"
      }
    ],
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "paths": {
      "/rpc/API/AddCurrencyGroup": {
        "post": {
          "description": " Inventory, payments and management ",
          "operationId": "api-AddCurrencyGroup",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_AddCurrencyGroup_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_AddCurrencyGroup_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "AddCurrencyGroup",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/AddFriend": {
        "post": {
          "operationId": "api-AddFriend",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_AddFriend_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_AddFriend_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "AddFriend",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/AddInventoryPaymentConfig": {
        "post": {
          "operationId": "api-AddInventoryPaymentConfig",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_AddInventoryPaymentConfig_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_AddInventoryPaymentConfig_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "AddInventoryPaymentConfig",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/BlockNumberAtTime": {
        "post": {
          "description": "Utils",
          "operationId": "api-BlockNumberAtTime",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_BlockNumberAtTime_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_BlockNumberAtTime_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "BlockNumberAtTime",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/Clock": {
        "post": {
          "operationId": "api-Clock",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_Clock_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_Clock_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "Clock",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/ContractCall": {
        "post": {
          "description": " Chain-Utils ",
          "operationId": "api-ContractCall",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_ContractCall_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_ContractCall_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "ContractCall",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/DecodeContractCall": {
        "post": {
          "operationId": "api-DecodeContractCall",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_DecodeContractCall_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_DecodeContractCall_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "DecodeContractCall",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/DeleteCurrencyGroup": {
        "post": {
          "operationId": "api-DeleteCurrencyGroup",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_DeleteCurrencyGroup_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_DeleteCurrencyGroup_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "DeleteCurrencyGroup",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/DeleteInventoryPaymentConfig": {
        "post": {
          "operationId": "api-DeleteInventoryPaymentConfig",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_DeleteInventoryPaymentConfig_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_DeleteInventoryPaymentConfig_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "DeleteInventoryPaymentConfig",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/FriendList": {
        "post": {
          "description": " Contacts / Friends ",
          "operationId": "api-FriendList",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_FriendList_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_FriendList_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "FriendList",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GenerateWaaSVerificationURL": {
        "post": {
          "operationId": "api-GenerateWaaSVerificationURL",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GenerateWaaSVerificationURL_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GenerateWaaSVerificationURL_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GenerateWaaSVerificationURL",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetAuthToken": {
        "post": {
          "description": " Auth\nTODO: rename 'ewtString' arg to 'ethauthProof'",
          "operationId": "api-GetAuthToken",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetAuthToken_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetAuthToken_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetAuthToken",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetAuthToken2": {
        "post": {
          "operationId": "api-GetAuthToken2",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetAuthToken2_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetAuthToken2_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetAuthToken2",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetCoinPrices": {
        "post": {
          "description": " Price Feed ",
          "operationId": "api-GetCoinPrices",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetCoinPrices_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetCoinPrices_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetCoinPrices",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetCollectiblePrices": {
        "post": {
          "operationId": "api-GetCollectiblePrices",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetCollectiblePrices_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetCollectiblePrices_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetCollectiblePrices",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetExchangeRate": {
        "post": {
          "description": " Price Feed utils ",
          "operationId": "api-GetExchangeRate",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetExchangeRate_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetExchangeRate_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetExchangeRate",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetFriendByAddress": {
        "post": {
          "operationId": "api-GetFriendByAddress",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetFriendByAddress_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetFriendByAddress_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetFriendByAddress",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetInventoryPaymentConfig": {
        "post": {
          "operationId": "api-GetInventoryPaymentConfig",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetInventoryPaymentConfig_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetInventoryPaymentConfig_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetInventoryPaymentConfig",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetInviteInfo": {
        "post": {
          "description": " Legacy ",
          "operationId": "api-GetInviteInfo",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetInviteInfo_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetInviteInfo_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetInviteInfo",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetLinkedWallets": {
        "post": {
          "operationId": "api-GetLinkedWallets",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetLinkedWallets_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetLinkedWallets_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetLinkedWallets",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetMoonpayLink": {
        "post": {
          "description": " Wallet utils ",
          "operationId": "api-GetMoonpayLink",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetMoonpayLink_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetMoonpayLink_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetMoonpayLink",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetSardineClientToken": {
        "post": {
          "operationId": "api-GetSardineClientToken",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetSardineClientToken_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetSardineClientToken_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetSardineClientToken",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetSardineNFTCheckoutOrderStatus": {
        "post": {
          "operationId": "api-GetSardineNFTCheckoutOrderStatus",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetSardineNFTCheckoutOrderStatus_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetSardineNFTCheckoutOrderStatus_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetSardineNFTCheckoutOrderStatus",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetSardineNFTCheckoutToken": {
        "post": {
          "operationId": "api-GetSardineNFTCheckoutToken",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetSardineNFTCheckoutToken_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetSardineNFTCheckoutToken_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetSardineNFTCheckoutToken",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetSequenceContext": {
        "post": {
          "operationId": "api-GetSequenceContext",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetSequenceContext_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetSequenceContext_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorPermissionDenied"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorSessionExpired"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorAborted"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorGeoblocked"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorInvalidArgument"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnavailable"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorQueryFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorNotFound"
                      }
                    ]
                  }
                }
              },
              "description": "Client error"
            },
            "5XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                      }
                    ]
                  }
                }
              },
              "description": "Server error"
            }
          },
          "servers": [
            {
              "description": "Api",
              "url": "https://api.sequence.app"
            }
          ],
          "summary": "GetSequenceContext",
          "tags": [
            "api"
          ]
        }
      },
      "/rpc/API/GetSwapQuotes": {
        "post": {
          "description": " Currency abstraction ",
          "operationId": "api-GetSwapQuotes",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API_GetSwapQuotes_Request"
                }
              }
            }
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/API_GetSwapQuotes_Response"
                  }
                }
              },
              "description": "OK"
            },
            "4XX": {
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                      },
                      {
                        "$ref": "#/components/schemas/ErrorUnauthorized"
                      },
                      {
[...]
