@import url("../components/FullScreenLoading.css");

/* text anti-aliasing */
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

/* background color */
html {
  /* @apply font-inter; */
}

html {
}

/* Roboto Mono font face */
@font-face {
  font-family: 'Roboto Mono';
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Inter font face */
@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 700px) {
  .vocs_MobileTopNav {
    overflow-x: auto;
  }

  .vocs_MobileTopNav_navigation.vocs_NavigationMenu > div {
    position: initial !important;
  }

  .vocs_MobileTopNav_item {
    position: initial;
  }

  .vocs_MobileTopNav_item > div {
    width: 100vw;
  }

  .vocs_NavigationMenu_content {
    top: var(--vocs-topNav_height);
    left: 0;
  }
}

@media only screen and (max-width: 1700px) {
  .vocs_DesktopTopNav {
    padding: 0 calc(var(--vocs-topNav_horizontalPadding) + 140px) 0 var(--vocs-topNav_horizontalPadding);
  }
}

@media screen and (max-width: 1450px) and (min-width: 1080px) {
  .vocs_DesktopTopNav {
    padding: 0 calc(var(--vocs-topNav_horizontalPadding) + 200px) 0 var(--vocs-topNav_horizontalPadding);
    gap: 10px;
  }
}

/* Codetabs component styles */
.code-tabs {
  border: 1px solid var(--vocs-color_codeInlineBorder);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.code-tabs__tab-header {
  display: flex;
  background-color: var(--vocs-color_codeTitleBackground);
  border-bottom: 1px solid var(--vocs-color_codeInlineBorder);
}

.code-tabs__tab-button {
  flex: 0 1 auto;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.code-tabs__tab-button.active {
  border-bottom: 2px solid #007bff;
  background-color: var(--vocs-color_codeTitleBackground);
}

#code-content {
  margin: 0.0em 0px !important;
}

.code-content {
  margin: 0.0em 0px !important;
}

.code-tabs__code-content {
  /* background-color: var(--vocs-color_codeBlockBackground) !important;
  padding: 15px;
  overflow: auto;
  max-height: 400px;
  color: #96D0FF; */
  margin: 0em !important;
}

.code-tabs__code-content > pre > code {
  font-size: 0.9rem;
}

.code-tabs__access-key {
  padding-right: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  justify-content: flex-end; /* Aligns content to the right */
  text-align: center; /* Centers text within the span */
}

.code-tabs__accessKeyText {
  background: rgba(255, 255, 255, .04);
}

.code-tabs__copy-button {
  margin-left: auto;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  justify-content: flex-end; /* Aligns content to the right */
  text-align: center; /* Centers text within the span */
}

.code-tabs__copy-button.copied {
  color: #28a745;
}

.copy-button {
  padding-right: 10px;
  @apply transition-all duration-300 ease-in-out;
}

.copy-button svg {
  @apply w-5 h-5 text-gray-300;
}

.copy-button.copied svg {
  @apply text-white;
}