/* text anti-aliasing */
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

/* background color */
html {
  /* @apply font-inter; */
}

html {
}

/* Roboto Mono font face */
@font-face {
  font-family: 'Roboto Mono';
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Inter font face */
@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 700px) {
  .vocs_MobileTopNav {
    overflow-x: auto;
  }

  .vocs_MobileTopNav_navigation.vocs_NavigationMenu > div {
    position: initial !important;
  }

  .vocs_MobileTopNav_item {
    position: initial;
  }

  .vocs_MobileTopNav_item > div {
    width: 100vw;
  }

  .vocs_NavigationMenu_content {
    top: var(--vocs-topNav_height);
    left: 0;
  }
}

