{"openapi":"3.0.0","info":{"title":"アナリティクスAPI","version":""},"servers":[{"url":"https://api.sequence.app","description":"アナリティクス"}],"components":{"schemas":{"ErrorWebrpcEndpoint":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcエンドポイント"},"code":{"type":"number","example":"0"},"msg":{"type":"string","example":"エンドポイントエラー"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcRequestFailed":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcリクエスト失敗"},"code":{"type":"number","example":"-1"},"msg":{"type":"string","example":"リクエスト失敗"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcBadRoute":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正ルート"},"code":{"type":"number","example":"-2"},"msg":{"type":"string","example":"不正なルート"},"cause":{"type":"string"},"status":{"type":"number","example":"404"}}},"ErrorWebrpcBadMethod":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正メソッド"},"code":{"type":"number","example":"-3"},"msg":{"type":"string","example":"不正なメソッド"},"cause":{"type":"string"},"status":{"type":"number","example":"405"}}},"ErrorWebrpcBadRequest":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正リクエスト"},"code":{"type":"number","example":"-4"},"msg":{"type":"string","example":"不正なリクエスト"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcBadResponse":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正レスポンス"},"code":{"type":"number","example":"-5"},"msg":{"type":"string","example":"不正なレスポンス"},"cause":{"type":"string"},"status":{"type":"number","example":"500"}}},"ErrorWebrpcServerPanic":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcサーバーパニック"},"code":{"type":"number","example":"-6"},"msg":{"type":"string","example":"サーバーパニック"},"cause":{"type":"string"},"status":{"type":"number","example":"500"}}},"ErrorWebrpcInternalError":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc内部エラー"},"code":{"type":"number","example":"-7"},"msg":{"type":"string","example":"内部エラー"},"cause":{"type":"string"},"status":{"type":"number","example":"500"}}},"ErrorWebrpcClientAborted":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"WebrpcClientAborted"},"code":{"type":"number","example":"-8"},"msg":{"type":"string","example":"クライアントによってリクエストが中断されました"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcStreamLost":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcストリーム消失"},"code":{"type":"number","example":"-9"},"msg":{"type":"string","example":"ストリーム消失"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcStreamFinished":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcストリーム終了"},"code":{"type":"number","example":"-10"},"msg":{"type":"string","example":"ストリーム終了"},"cause":{"type":"string"},"status":{"type":"number","example":"200"}}},"AnalyticsProjectType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["すべて","作成済み","関連"]},"DateInterval":{"type":"string","description":"サーバー側ではuint16として表現されます","enum":["日","週","月"]},"QueryFilter":{"type":"object","properties":{"projectId":{"type":"number"},"ecosystemId":{"type":"number"},"startDate":{"type":"string"},"endDate":{"type":"string"},"dateInterval":{"$ref":"#/components/schemas/DateInterval"},"collections":{"type":"配列","description":"[]string","items":{"type":"string"}},"tokenId":{"type":"string"},"projectType":{"$ref":"#/components/schemas/AnalyticsProjectType"}}},"Chart":{"type":"object","required":["値","ラベル"],"properties":{"value":{"type":"number"},"label":{"type":"string"}}},"ChartWithPercentage":{"type":"object","required":["ラベル","合計","パーセンテージ"],"properties":{"label":{"type":"string"},"total":{"type":"number"},"percentage":{"type":"number"}}},"MultiValueChart":{"type":"object","required":["値","ラベル"],"properties":{"value":{"type":"object","description":"map<string,float64>","additionalProperties":{"type":"number"}},"label":{"type":"string"}}},"QueryResult":{"type":"object","required":["コレクション","ソース","取引高（USD）","トークン数","取引数"],"properties":{"collection":{"type":"string"},"source":{"type":"string"},"tokenId":{"type":"string"},"volumeUSD":{"type":"number"},"numTokens":{"type":"number"},"numTxns":{"type":"number"}}},"TokenTransactionData":{"type":"object","required":["コレクションID","コレクション名","トークンID","トークン名","アイテム数量"],"properties":{"collectionId":{"type":"string"},"collectionName":{"type":"string"},"tokenId":{"type":"string"},"tokenName":{"type":"string"},"itemQuantities":{"type":"number"}}},"TrailsTransactionByMode":{"type":"object","required":["モード","ユニーク取引ユーザー数","支払い開始数","支払い完了数","完了率","総手数料","総取引高"],"properties":{"mode":{"type":"string"},"uniqueTransactingUsers":{"type":"number"},"paymentsStarted":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"totalFees":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionByRoute":{"type":"object","required":["元チェーン名","送信先チェーン名","ユニーク取引ユーザー数","支払い開始数","支払い完了数","完了率","平均取引時間","ガス手数料","総手数料","総取引高"],"properties":{"origChainName":{"type":"string"},"destChainName":{"type":"string"},"uniqueTransactingUsers":{"type":"number"},"paymentsStarted":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"avgTxnDuration":{"type":"number"},"gasFees":{"type":"number"},"totalFees":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionByProvider":{"type":"object","required":["プロバイダースワップ","プロバイダーブリッジ","ユニーク取引ユーザー数","支払い開始数","支払い完了数","完了率","平均取引時間","プロバイダー手数料","総手数料","総取引高"],"properties":{"providerSwap":{"type":"string"},"providerBridge":{"type":"string"},"uniqueTransactingUsers":{"type":"number"},"paymentsStarted":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"avgTxnDuration":{"type":"number"},"providerFees":{"type":"number"},"totalFees":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionByCountry":{"type":"object","required":["国","取引ウォレット数","支払い完了数","完了率","総取引高"],"properties":{"country":{"type":"string"},"transactingWallets":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionDetail":{"type":"object","required":["日付","チェックアウトID","国","プロバイダー","ホスト名","元取引ハッシュ","送信先取引ハッシュ","元チェーン名","送信先チェーン名","元トークンシンボル","送信先トークンシンボル","プロバイダー手数料","総手数料","総取引高"],"properties":{"date":{"type":"string"},"checkoutId":{"type":"string"},"country":{"type":"string"},"provider":{"type":"string"},"hostname":{"type":"string"},"originTxHash":{"type":"string"},"destTxHash":{"type":"string"},"origChainName":{"type":"string"},"destChainName":{"type":"string"},"origTokenSymbol":{"type":"string"},"destTokenSymbol":{"type":"string"},"providerFee":{"type":"number"},"totalFee":{"type":"number"},"totalVolume":{"type":"number"}}},"Analytics_TotalCompute_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ComputeByService_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyComputeByType_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyComputeByService_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_GetOrderbookCollections_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_CreditsPerDailyActiveUser_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_CreditsPerMonthlyActiveUser_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTotal_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsDaily_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsMonthly_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByCountry_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByDevice_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByBrowser_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByOS_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByType_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTxnSentTotal_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTxnSentDaily_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTxnSentMonthly_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByOrigin_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ConnectionsByOrigin_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketTxnEventTotal_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketTxnEventDaily_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketTxnEventMonthly_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketWalletsTotal_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketWalletsDaily_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketWalletsMonthly_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalWalletTxnConversionRate_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyWalletTxnConversionRate_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyWalletTxnConversionRate_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyNewWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyNewWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalNewWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageDAU_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_RollingStickiness_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageStickiness_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D1RetentionByCohort_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D3RetentionByCohort_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D7RetentionByCohort_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D14RetentionByCohort_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D28RetentionByCohort_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD1Retention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD3Retention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD7Retention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD14Retention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD28Retention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyActiveWalletsBySegment_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyTransactingWalletsBySegment_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WeeklyActiveWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalViews_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyViews_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ViewsByCountry_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ViewsByDevice_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ViewsByOS_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyUniqueVisitors_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyUniqueVisitors_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ActiveSessions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_UserEvents_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalProjects_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalProjectsCreated_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalActiveProjects_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalDevelopers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemActiveDevelopers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemDailyActiveWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyActiveWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemDailyNewProjects_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyNewProjects_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalContracts_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyContracts_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByActiveWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByNewWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsCreated_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyActiveEcoWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemDailyNewWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyNewWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByDeveloperActivity_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByNewDevelopers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalMarketplaces_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyMarketplaces_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemActiveMarketplaces_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByCountry_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByDevice_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByOS_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByBrowser_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByType_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByLoginMethod_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyProjectTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionsByChain_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionsByCollection_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionsByToken_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectTransactionsByCollection_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyProjectVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectVolumeByChain_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectVolumeByCollection_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectVolumeByToken_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectVolumeByCollection_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TransactionVolumePerUser_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TransactionVolumePerTransactingUser_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyUniqueTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyUniqueTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TransactingUserConversion_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyTransactingUserConversion_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyTransactingUserConversion_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_RepeatingTransactingUserPercentage_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WeekOnWeekTransactingUserRetention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthOnMonthTransactingUserRetention_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AvgBalanceOfSequenceWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AvgBalanceOfTransactingSequenceWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyMarketplaceTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyMarketplaceTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsTransacted_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsPurchased_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsSold_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsListed_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsOffered_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceTransactingUsers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyMarketplaceVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyMarketplaceVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageMarketplaceTransactionPrice_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceTradedCollections_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TopMarketplaceBuyers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TopMarketplaceSellers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketplaceCollectionTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyShopTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyShopTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopItemsPurchased_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopPurchasers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyShopVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyShopVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageShopPurchasePrice_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TopShopBuyers_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ShopCollectionTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsSoldByToken_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopItemsSoldByToken_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTotalTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTotalTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTotalUniqueTransactingWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsAverageTransactionDuration_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsPaymentCompletionPercentage_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByDomain_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByAmount_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyTransactingWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyActiveWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyAverageTransactionDuration_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyPaymentCompletionPercentage_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyTransactionVolume_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyTransactingWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyActiveWallets_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyAverageTransactionDuration_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyPaymentCompletionPercentage_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByMode_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByRoute_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByProvider_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByCountry_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTopTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ExportTrailsTransactions_Request":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalCompute_Response":{"type":"object","properties":{"computeStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_ComputeByService_Response":{"type":"object","properties":{"computeStats":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_DailyComputeByType_Response":{"type":"object","properties":{"computeStats":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_DailyComputeByService_Response":{"type":"object","properties":{"computeStats":{"type":"object","description":"map<string,[]チャート>","additionalProperties":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_GetOrderbookCollections_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]クエリ結果","items":{"$ref":"#/components/schemas/QueryResult"}}}},"Analytics_CreditsPerDailyActiveUser_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_CreditsPerMonthlyActiveUser_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_WalletsTotal_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsDaily_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsMonthly_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsByCountry_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByDevice_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByBrowser_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByOS_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByType_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsTxnSentTotal_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsTxnSentDaily_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsTxnSentMonthly_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsByOrigin_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_ConnectionsByOrigin_Response":{"type":"object","properties":{"walletStats":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_MarketTxnEventTotal_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketTxnEventDaily_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_MarketTxnEventMonthly_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketWalletsTotal_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketWalletsDaily_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketWalletsMonthly_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalWalletTxnConversionRate_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyWalletTxnConversionRate_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyWalletTxnConversionRate_Response":{"type":"object","properties":{"marketStats":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyNewWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyNewWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalNewWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageDAU_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_RollingStickiness_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageStickiness_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D1RetentionByCohort_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D3RetentionByCohort_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D7RetentionByCohort_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D14RetentionByCohort_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D28RetentionByCohort_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD1Retention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD3Retention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD7Retention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD14Retention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD28Retention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyActiveWalletsBySegment_Response":{"type":"object","properties":{"data":{"type":"object","description":"map<string,[]チャート>","additionalProperties":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_MonthlyTransactingWalletsBySegment_Response":{"type":"object","properties":{"data":{"type":"object","description":"map<string,[]チャート>","additionalProperties":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_WeeklyActiveWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalViews_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyViews_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_ViewsByCountry_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_ViewsByDevice_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_ViewsByOS_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_DailyUniqueVisitors_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_MonthlyUniqueVisitors_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_ActiveSessions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_UserEvents_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalProjects_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalProjectsCreated_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalActiveProjects_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalDevelopers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemActiveDevelopers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemDailyActiveWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyActiveWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemDailyNewProjects_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyNewProjects_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalContracts_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyContracts_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTopProjectsByActiveWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByNewWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemWalletsCreated_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyActiveEcoWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemDailyNewWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyNewWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTopProjectsByDeveloperActivity_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByNewDevelopers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTotalMarketplaces_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyMarketplaces_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemActiveMarketplaces_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemWalletsByCountry_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByDevice_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByOS_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByBrowser_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByType_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]パーセンテージ付きチャート","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByLoginMethod_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTopProjectsByTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_TotalProjectTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyProjectTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectTransactionsByChain_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectTransactionsByCollection_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectTransactionsByToken_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectTransactionsByCollection_Response":{"type":"object","properties":{"data":{"type":"object","description":"map<string,[]チャート>","additionalProperties":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_TotalProjectTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyProjectVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectVolumeByChain_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectVolumeByCollection_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectVolumeByToken_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectVolumeByCollection_Response":{"type":"object","properties":{"data":{"type":"object","description":"map<string,[]チャート>","additionalProperties":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_TransactionVolumePerUser_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TransactionVolumePerTransactingUser_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyUniqueTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyUniqueTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TransactingUserConversion_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyTransactingUserConversion_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyTransactingUserConversion_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_RepeatingTransactingUserPercentage_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WeekOnWeekTransactingUserRetention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthOnMonthTransactingUserRetention_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AvgBalanceOfSequenceWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AvgBalanceOfTransactingSequenceWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyMarketplaceTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyMarketplaceTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsTransacted_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsPurchased_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsSold_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsListed_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsOffered_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceTransactingUsers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyMarketplaceVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyMarketplaceVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageMarketplaceTransactionPrice_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceTradedCollections_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TopMarketplaceBuyers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TopMarketplaceSellers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketplaceCollectionTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_TotalShopTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyShopTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyShopTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalShopItemsPurchased_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalShopPurchasers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalShopVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyShopVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyShopVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageShopPurchasePrice_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TopShopBuyers_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_ShopCollectionTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]マルチバリューチャート","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_TotalMarketplaceItemsSoldByToken_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]トークントランザクションデータ","items":{"$ref":"#/components/schemas/TokenTransactionData"}}}},"Analytics_TotalShopItemsSoldByToken_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]トークントランザクションデータ","items":{"$ref":"#/components/schemas/TokenTransactionData"}}}},"Analytics_TrailsTotalTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTotalTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTotalUniqueTransactingWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsAverageTransactionDuration_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsPaymentCompletionPercentage_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTransactionsByDomain_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTransactionsByAmount_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyTransactingWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyActiveWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyAverageTransactionDuration_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyPaymentCompletionPercentage_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyTransactionVolume_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyTransactingWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyActiveWallets_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyAverageTransactionDuration_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyPaymentCompletionPercentage_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]チャート","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTransactionsByMode_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]モード別トレイルズトランザクション","items":{"$ref":"#/components/schemas/TrailsTransactionByMode"}}}},"Analytics_TrailsTransactionsByRoute_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]ルート別トレイルズトランザクション","items":{"$ref":"#/components/schemas/TrailsTransactionByRoute"}}}},"Analytics_TrailsTransactionsByProvider_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]プロバイダー別トレイルズトランザクション","items":{"$ref":"#/components/schemas/TrailsTransactionByProvider"}}}},"Analytics_TrailsTransactionsByCountry_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]国別トレイルズトランザクション","items":{"$ref":"#/components/schemas/TrailsTransactionByCountry"}}}},"Analytics_TrailsTopTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]トレイルズトランザクション詳細","items":{"$ref":"#/components/schemas/TrailsTransactionDetail"}}}},"Analytics_ExportTrailsTransactions_Response":{"type":"object","properties":{"data":{"type":"配列","description":"[]トレイルズトランザクション詳細","items":{"$ref":"#/components/schemas/TrailsTransactionDetail"}}}}}},"paths":{"/rpc/Analytics/TotalCompute":{"post":{"operationId":"アナリティクス-総計算量","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalCompute_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalCompute_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/ComputeByService":{"post":{"operationId":"アナリティクス-サービス別計算量","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ComputeByService_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ComputeByService_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyComputeByType":{"post":{"operationId":"アナリティクス-タイプ別日次計算量","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByType_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByType_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyComputeByService":{"post":{"operationId":"アナリティクス-サービス別日次計算量","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByService_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByService_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/GetOrderbookCollections":{"post":{"operationId":"アナリティクス-オーダーブックコレクション取得","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_GetOrderbookCollections_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_GetOrderbookCollections_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/CreditsPerDailyActiveUser":{"post":{"operationId":"アナリティクス-日次アクティブユーザーあたりのクレジット数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerDailyActiveUser_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerDailyActiveUser_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/CreditsPerMonthlyActiveUser":{"post":{"operationId":"アナリティクス-月次アクティブユーザーあたりのクレジット数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerMonthlyActiveUser_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerMonthlyActiveUser_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTotal":{"post":{"operationId":"アナリティクス-ウォレット総数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTotal_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsDaily":{"post":{"operationId":"アナリティクス-ウォレット日次推移","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsDaily_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsMonthly":{"post":{"operationId":"アナリティクス-ウォレット月次推移","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsMonthly_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByCountry":{"post":{"operationId":"アナリティクス-国別ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByCountry_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByCountry_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByDevice":{"post":{"operationId":"アナリティクス-デバイス別ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByDevice_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByDevice_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByBrowser":{"post":{"operationId":"アナリティクス-ブラウザ別ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByBrowser_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByBrowser_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByOS":{"post":{"operationId":"アナリティクス-OS別ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOS_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOS_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByType":{"post":{"operationId":"アナリティクス-タイプ別ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByType_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByType_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTxnSentTotal":{"post":{"operationId":"アナリティクス-ウォレット送信トランザクション総数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentTotal_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTxnSentDaily":{"post":{"operationId":"アナリティクス-ウォレット送信トランザクション日次","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentDaily_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTxnSentMonthly":{"post":{"operationId":"アナリティクス-ウォレット送信トランザクション月次","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentMonthly_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByOrigin":{"post":{"operationId":"アナリティクス-オリジン別ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOrigin_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOrigin_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/ConnectionsByOrigin":{"post":{"operationId":"アナリティクス-オリジン別接続数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ConnectionsByOrigin_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ConnectionsByOrigin_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketTxnEventTotal":{"post":{"operationId":"アナリティクス-マーケット取引イベント総数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventTotal_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketTxnEventDaily":{"post":{"operationId":"アナリティクス-マーケット取引イベント日次","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventDaily_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketTxnEventMonthly":{"post":{"operationId":"アナリティクス-マーケット取引イベント月次","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventMonthly_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketWalletsTotal":{"post":{"operationId":"アナリティクス-マーケットウォレット総数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsTotal_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketWalletsDaily":{"post":{"operationId":"アナリティクス-マーケットウォレット日次","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsDaily_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketWalletsMonthly":{"post":{"operationId":"アナリティクス-マーケットウォレット月次","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsMonthly_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/TotalWalletTxnConversionRate":{"post":{"operationId":"アナリティクス-ウォレット取引コンバージョン率総計","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalWalletTxnConversionRate_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalWalletTxnConversionRate_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyWalletTxnConversionRate":{"post":{"operationId":"アナリティクス-ウォレット取引日次コンバージョン率","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyWalletTxnConversionRate_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyWalletTxnConversionRate_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MonthlyWalletTxnConversionRate":{"post":{"operationId":"アナリティクス-ウォレット取引月次コンバージョン率","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyWalletTxnConversionRate_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyWalletTxnConversionRate_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyNewWallets":{"post":{"operationId":"アナリティクス-日次新規ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyNewWallets_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyNewWallets_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MonthlyNewWallets":{"post":{"operationId":"アナリティクス-月次新規ウォレット","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyNewWallets_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyNewWallets_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/TotalNewWallets":{"post":{"operationId":"アナリティクス-新規ウォレット総数","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalNewWallets_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalNewWallets_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/AverageDAU":{"post":{"operationId":"アナリティクス-平均DAU","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_AverageDAU_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_AverageDAU_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/RollingStickiness":{"post":{"operationId":"アナリティクス-ローリングスティッキネス","tags":["アナリティクス"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_RollingStickiness_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_RollingStickiness_Response"}}}},"4XX":{"description":"クライアントエラー","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"サーバーエラー","content":{"application/json":{"schema":{"o
[...]
