{"openapi":"3.0.0","info":{"title":"アナリティクスAPI","version":""},"servers":[{"url":"https://api.sequence.app","description":"アナリティクス"}],"components":{"schemas":{"ErrorWebrpcEndpoint":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcエンドポイント"},"code":{"type":"number","example":"0"},"msg":{"type":"string","example":"エンドポイントエラー"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcRequestFailed":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcリクエスト失敗"},"code":{"type":"number","example":"-1"},"msg":{"type":"string","example":"リクエスト失敗"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcBadRoute":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正ルート"},"code":{"type":"number","example":"-2"},"msg":{"type":"string","example":"不正なルート"},"cause":{"type":"string"},"status":{"type":"number","example":"404"}}},"ErrorWebrpcBadMethod":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正メソッド"},"code":{"type":"number","example":"-3"},"msg":{"type":"string","example":"不正なメソッド"},"cause":{"type":"string"},"status":{"type":"number","example":"405"}}},"ErrorWebrpcBadRequest":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正リクエスト"},"code":{"type":"number","example":"-4"},"msg":{"type":"string","example":"不正なリクエスト"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcBadResponse":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc不正レスポンス"},"code":{"type":"number","example":"-5"},"msg":{"type":"string","example":"不正なレスポンス"},"cause":{"type":"string"},"status":{"type":"number","example":"500"}}},"ErrorWebrpcServerPanic":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcサーバーパニック"},"code":{"type":"number","example":"-6"},"msg":{"type":"string","example":"サーバーパニック"},"cause":{"type":"string"},"status":{"type":"number","example":"500"}}},"ErrorWebrpcInternalError":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpc内部エラー"},"code":{"type":"number","example":"-7"},"msg":{"type":"string","example":"内部エラー"},"cause":{"type":"string"},"status":{"type":"number","example":"500"}}},"ErrorWebrpcClientAborted":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"WebrpcClientAborted"},"code":{"type":"number","example":"-8"},"msg":{"type":"string","example":"クライアントによってリクエストが中断されました"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcStreamLost":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcストリーム消失"},"code":{"type":"number","example":"-9"},"msg":{"type":"string","example":"ストリーム消失"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorWebrpcStreamFinished":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Webrpcストリーム終了"},"code":{"type":"number","example":"-10"},"msg":{"type":"string","example":"ストリーム終了"},"cause":{"type":"string"},"status":{"type":"number","example":"200"}}},"ErrorUnauthorized":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"認証されていません"},"code":{"type":"number","example":"1000"},"msg":{"type":"string","example":"認証されていないアクセス"},"cause":{"type":"string"},"status":{"type":"number","example":"401"}}},"ErrorPermissionDenied":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"権限拒否"},"code":{"type":"number","example":"1001"},"msg":{"type":"string","example":"権限がありません"},"cause":{"type":"string"},"status":{"type":"number","example":"403"}}},"ErrorSessionExpired":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"SessionExpired"},"code":{"type":"number","example":"1002"},"msg":{"type":"string","example":"セッションの有効期限が切れました"},"cause":{"type":"string"},"status":{"type":"number","example":"403"}}},"ErrorMethodNotFound":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"メソッドが見つかりません"},"code":{"type":"number","example":"1003"},"msg":{"type":"string","example":"メソッドが見つかりません"},"cause":{"type":"string"},"status":{"type":"number","example":"404"}}},"ErrorRequestConflict":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"リクエスト競合"},"code":{"type":"number","example":"1004"},"msg":{"type":"string","example":"対象リソースとの競合"},"cause":{"type":"string"},"status":{"type":"number","example":"409"}}},"ErrorServiceDisabled":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"ServiceDisabled"},"code":{"type":"number","example":"1005"},"msg":{"type":"string","example":"サービスが無効です"},"cause":{"type":"string"},"status":{"type":"number","example":"404"}}},"ErrorTimeout":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"Timeout"},"code":{"type":"number","example":"2000"},"msg":{"type":"string","example":"リクエストがタイムアウトしました"},"cause":{"type":"string"},"status":{"type":"number","example":"408"}}},"ErrorInvalidArgument":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"無効な引数"},"code":{"type":"number","example":"2001"},"msg":{"type":"string","example":"無効な引数"},"cause":{"type":"string"},"status":{"type":"number","example":"400"}}},"ErrorNotFound":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"見つかりません"},"code":{"type":"number","example":"3000"},"msg":{"type":"string","example":"リソースが見つかりません"},"cause":{"type":"string"},"status":{"type":"number","example":"422"}}},"ErrorUserNotFound":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"UserNotFound"},"code":{"type":"number","example":"3001"},"msg":{"type":"string","example":"ユーザーが見つかりません"},"cause":{"type":"string"},"status":{"type":"number","example":"422"}}},"ErrorProjectNotFound":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"ProjectNotFound"},"code":{"type":"number","example":"3002"},"msg":{"type":"string","example":"プロジェクトが見つかりません"},"cause":{"type":"string"},"status":{"type":"number","example":"422"}}},"ErrorInvalidTier":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"InvalidTier"},"code":{"type":"number","example":"3003"},"msg":{"type":"string","example":"無効なサブスクリプションプランです"},"cause":{"type":"string"},"status":{"type":"number","example":"422"}}},"ErrorEmailTemplateExists":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"EmailTemplateExists"},"code":{"type":"number","example":"3004"},"msg":{"type":"string","example":"メールテンプレートが既に存在します"},"cause":{"type":"string"},"status":{"type":"number","example":"409"}}},"ErrorSubscriptionLimit":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"SubscriptionLimit"},"code":{"type":"number","example":"3005"},"msg":{"type":"string","example":"サブスクリプションの上限に達しました"},"cause":{"type":"string"},"status":{"type":"number","example":"402"}}},"ErrorFeatureNotIncluded":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"FeatureNotIncluded"},"code":{"type":"number","example":"3006"},"msg":{"type":"string","example":"この機能は含まれていません"},"cause":{"type":"string"},"status":{"type":"number","example":"402"}}},"ErrorInvalidNetwork":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"InvalidNetwork"},"code":{"type":"number","example":"3007"},"msg":{"type":"string","example":"無効なネットワークです"},"cause":{"type":"string"},"status":{"type":"number","example":"422"}}},"ErrorInvitationExpired":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"InvitationExpired"},"code":{"type":"number","example":"4000"},"msg":{"type":"string","example":"招待コードの有効期限が切れています"},"cause":{"type":"string"},"status":{"type":"number","example":"422"}}},"ErrorAlreadyCollaborator":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"AlreadyCollaborator"},"code":{"type":"number","example":"4001"},"msg":{"type":"string","example":"既にコラボレーターです"},"cause":{"type":"string"},"status":{"type":"number","example":"409"}}},"ErrorNoPaymentMethod":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"NoPaymentMethod"},"code":{"type":"number","example":"4002"},"msg":{"type":"string","example":"デフォルトの支払い方法がありません"},"cause":{"type":"string"},"status":{"type":"number","example":"402"}}},"ErrorSeatsLimitReached":{"type":"object","required":["エラー","コード","メッセージ","ステータス"],"properties":{"error":{"type":"string","example":"SeatsLimitReached"},"code":{"type":"number","example":"4003"},"msg":{"type":"string","example":"利用可能な席数の上限に達しました"},"cause":{"type":"string"},"status":{"type":"number","example":"402"}}},"SortOrder":{"type":"string","description":"サーバー側ではuint32で表現されます","enum":["ASC","DESC"]},"ProjectType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["EMBEDDED_WALLET_REACT","EMBEDDED_WALLET_NEXTJS","EMBEDDED_WALLET_UNITY","EMBEDDED_WALLET_UNREAL","MARKETPLACE_STANDALONE","MARKETPLACE_REACT","MARKETPLACE_UNITY","MARKETPLACE_UNREAL","SALE_CONTRACT_ERC1155","SALE_CONTRACT_ERC721","ALLOWLIST_STARTER"]},"TemplateType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["UNKNOWN","LOGIN","GUARD","EMAIL_CONFIRMATION"]},"EcosystemAccess":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["ユーザー","閲覧","編集","管理者","オーナー"]},"AdminRole":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["なし","閲覧者","開発者","エコシステム","アカウント","ファイナンス","スーパー管理者"]},"Page":{"type":"object","properties":{"pageSize":{"type":"number"},"page":{"type":"number"},"column":{"type":"string"},"more":{"type":"boolean"},"sort":{"type":"配列","description":"[]SortBy","items":{"$ref":"#/components/schemas/SortBy"}}}},"SortBy":{"type":"object","required":["カラム"],"properties":{"column":{"type":"string"},"order":{"$ref":"#/components/schemas/SortOrder"}}},"ProjectImplicitRegistry":{"type":"object","required":["許可ドメイン","ID一覧"],"properties":{"whitelistedDomains":{"type":"配列","description":"[]string","items":{"type":"string"}},"ids":{"type":"object","description":"map<uint64,string>","additionalProperties":{"type":"string"}}}},"Project":{"type":"object","required":["id","name","オーナーアドレス","オーナーアバターURL","ライセンスID","ライセンスバージョン","ロゴ画像キー","ロゴ画像URL","ウェブサイトURL","チェーンID","コラボレーター数","オンボーディング表示設定","作成日時","更新日時"],"properties":{"id":{"type":"number"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ProjectType"},"ownerAddress":{"type":"string"},"ownerEmail":{"type":"string"},"ownerAvatarUrl":{"type":"string"},"licenseId":{"type":"number"},"licenseVersion":{"type":"number"},"logoImageKey":{"type":"string"},"logoImageUrl":{"type":"string"},"websiteUrl":{"type":"string"},"chainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"ecosystemId":{"type":"number"},"collaboratorCount":{"type":"number"},"onboardingVisibility":{"type":"boolean"},"implicitRegistry":{"$ref":"#/components/schemas/ProjectImplicitRegistry"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"type":"string"}}},"ProjectListFilter":{"type":"object","properties":{"name":{"type":"string"},"chainId":{"type":"number"},"collaboratorAddress":{"type":"string"},"collaboratorEmail":{"type":"string"},"licenseId":{"type":"number"},"active":{"type":"boolean"}}},"OpenIdProvider":{"type":"object","required":["iss","aud"],"properties":{"iss":{"type":"string"},"aud":{"type":"配列","description":"[]string","items":{"type":"string"}}}},"ContractData":{"type":"object","required":["abi","バイトコード"],"properties":{"abi":{"type":"string"},"bytecode":{"type":"string"},"hash":{"type":"string"},"implementationAddress":{"type":"string"}}},"SESSettings":{"type":"object","required":["accessRoleARN","sourceARN","リージョン"],"properties":{"accessRoleARN":{"type":"string"},"sourceARN":{"type":"string"},"region":{"type":"string"}}},"Image":{"type":"object","required":["src"],"properties":{"src":{"type":"string"},"width":{"type":"string"},"height":{"type":"string"},"alt":{"type":"string"},"displayOptions":{"type":"object","description":"map<string,string>","additionalProperties":{"type":"string"}}}},"WalletProof":{"type":"object","required":["アドレス","メッセージ","署名","chainId"],"properties":{"address":{"type":"string"},"message":{"type":"string"},"signature":{"type":"string"},"chainId":{"type":"number"}}},"BillingCycle":{"type":"object","required":["開始","終了"],"properties":{"start":{"type":"string"},"end":{"type":"string"}}},"SubscriptionProvider":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["ADMIN","STRIPE","GOOGLE"]},"Feature":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["ANALYTICS","MARKETPLACE_SUBDOMAIN","MARKETPLACE_DOMAIN"]},"LicenseTag":{"type":"string","description":"サーバー側ではuint16として表現されます","enum":["なし","人気","割引"]},"PaymentProvider":{"type":"string","description":"サーバー側ではuint16として表現されます","enum":["なし","STRIPE","ADMIN","暗号資産","エコシステム","GOOGLE"]},"License":{"type":"object","required":["id","エコシステムID","デフォルト","パッケージ名","ラベル","プラン","おすすめ","サブタイトル","タグ","メインネット有効","総ライセンス数","ユーザーごとのライセンス数","作成日時","更新日時"],"properties":{"id":{"type":"number"},"ecosystemId":{"type":"number"},"isDefault":{"type":"boolean"},"packageName":{"type":"string"},"label":{"type":"string"},"tier":{"type":"number"},"featured":{"type":"boolean"},"subtitle":{"type":"string"},"tag":{"$ref":"#/components/schemas/LicenseTag"},"mainnetEnabled":{"type":"boolean"},"defaultChainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"availableChainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"extraChainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"totalLicenses":{"type":"number"},"licenseUsage":{"$ref":"#/components/schemas/LicenseUsage"},"licensePerUser":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"type":"string"}}},"LicenseVersion":{"type":"object","required":["ライセンスID","バージョン","settings","バージョン利用状況","作成日時","更新日時"],"properties":{"licenseId":{"type":"number"},"version":{"type":"number"},"settings":{"$ref":"#/components/schemas/LicenseSettings"},"features":{"type":"配列","description":"[]Feature","items":{"$ref":"#/components/schemas/Feature"}},"versionUsage":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"LicenseSettings":{"type":"object","required":["サブスクリプション価格","席数","サービス設定","マーケットプレイス手数料","ロイヤリティ手数料","ガス手数料上乗せ","ガス代込み","機能"],"properties":{"subscriptionPrice":{"type":"string"},"seats":{"type":"number"},"serviceSettings":{"type":"object","description":"map<string,ServiceSettings>","additionalProperties":{"$ref":"#/components/schemas/ServiceSettings"}},"marketplaceFee":{"type":"string"},"royaltyFee":{"type":"string"},"gasFeeMarkup":{"type":"string"},"gasIncluded":{"type":"string"},"features":{"type":"配列","description":"[]Feature","items":{"$ref":"#/components/schemas/Feature"}}}},"ServiceSettings":{"type":"object","required":["レート制限","含まれるリクエスト数","超過利用許可","超過料金"],"properties":{"rateLimit":{"type":"number"},"requestsIncluded":{"type":"number"},"overageAllowed":{"type":"boolean"},"overagePrice":{"type":"string"}}},"LicenseUsage":{"type":"object","required":["合計","プロバイダー","バージョン"],"properties":{"total":{"type":"number"},"providers":{"type":"object","description":"map<string,int>","additionalProperties":{"type":"number"}},"versions":{"type":"object","description":"map<uint64,int>","additionalProperties":{"type":"number"}}}},"BillingOverride":{"type":"object","required":["追加席数","追加機能","チャージ機能有効","チャージプロバイダー","残高通知"],"properties":{"priceSubscription":{"type":"string"},"extraSeats":{"type":"number"},"marketplaceFee":{"type":"string"},"royaltyFee":{"type":"string"},"gasFeeMarkup":{"type":"string"},"extraFeatures":{"type":"配列","description":"[]Feature","items":{"$ref":"#/components/schemas/Feature"}},"serviceSettings":{"type":"object","description":"map<string,ServiceSettingsOverride>","additionalProperties":{"$ref":"#/components/schemas/ServiceSettingsOverride"}},"topUpEnabled":{"type":"boolean"},"topUpProvider":{"$ref":"#/components/schemas/PaymentProvider"},"topUpThreshold":{"type":"number"},"topUpAmount":{"type":"number"},"topUpLimit":{"type":"number"},"balanceNotifications":{"type":"boolean"}}},"ServiceSettingsOverride":{"type":"object","properties":{"rateLimit":{"type":"number"},"requestsIncluded":{"type":"number"},"overageAllowed":{"type":"boolean"},"overagePrice":{"type":"string"},"usageWarning":{"type":"number"},"overageWarning":{"type":"number"},"maxOverage":{"type":"number"}}},"ResourceType":{"type":"string","description":"サーバー側ではint8として表現されます","enum":["CONTRACTS","MARKET_COLLECTIONS","SHOP_COLLECTIONS"]},"CollaboratorAccess":{"type":"string","description":"サーバー側ではuint32で表現されます","enum":["なし","READ","WRITE","ADMIN"]},"CollaboratorType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["USER","SERVICE_ACCOUNT"]},"ContractSourceType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["LINKED","DEPLOYED"]},"PaymentStatus":{"type":"string","description":"サーバー側ではuint16として表現されます","enum":["INITIATED","PENDING","SUCCEEDED","FAILED","PROCESSED"]},"AdminMarketplaceContractType":{"type":"string","description":"サーバー側ではuint16として表現されます","enum":["UNKNOWN","ERC20","ERC721","ERC1155"]},"AdminCollectionPriority":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["不明","低","通常","高"]},"AdminCollectionStatus":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["不明","作成済み","コントラクトメタデータ同期中","コントラクトメタデータ同期済み","メタデータ同期中","メタデータ同期済み","トークン同期中","トークン同期済み","注文同期中","有効","失敗","非アクティブ","互換性のないタイプ"]},"TokenType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["ERC20","ERC721","ERC1155"]},"FileScope":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["ロゴ","マーケットプレイス","アバター","メール","ウォレット","トークンディレクトリ","エコシステム"]},"TaskStatus":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["PENDING","一時停止中","FAILED","完了","無効"]},"TrialType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["ANALYTICS"]},"AuditType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["サブスクリプション","請求上書き","エコシステムライセンス","ライセンスバージョン"]},"PaymentMethodType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["カード","リンク"]},"SecretType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["FORTEPAY"]},"SecretEnv":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["テスト","本番"]},"Version":{"type":"object","required":["webrpcバージョン","スキーマバージョン","スキーマハッシュ","アプリバージョン"],"properties":{"webrpcVersion":{"type":"string"},"schemaVersion":{"type":"string"},"schemaHash":{"type":"string"},"appVersion":{"type":"string"}}},"RuntimeStatus":{"type":"object","required":["正常","開始時刻","稼働時間","バージョン","環境","ブランチ","コミットハッシュ","ネットワーク","チェック"],"properties":{"healthOK":{"type":"boolean"},"startTime":{"type":"string"},"uptime":{"type":"number"},"ver":{"type":"string"},"env":{"type":"string"},"branch":{"type":"string"},"commitHash":{"type":"string"},"networks":{"type":"object","description":"map<string,bool>","additionalProperties":{"type":"boolean"}},"checks":{"$ref":"#/components/schemas/RuntimeChecks"}}},"RuntimeChecks":{"type":"object","required":["クォータ管理","joqueue","stripe","cloudCommerce"],"properties":{"quotaControl":{"type":"boolean"},"joqueue":{"type":"boolean"},"stripe":{"type":"boolean"},"cloudCommerce":{"type":"boolean"}}},"AuthState":{"type":"object","required":["jwtトークン","有効期限","アドレス","セッションタイプ","ユーザー"],"properties":{"jwtToken":{"type":"string"},"expiresAt":{"type":"string"},"address":{"type":"string"},"sessionType":{"type":"string"},"user":{"$ref":"#/components/schemas/User"},"access":{"$ref":"#/components/schemas/EcosystemAccess"}}},"User":{"type":"object","required":["アドレス","メール確認済み","役割","アバターキー","アバターURL","最近のプロジェクトID","作成日時","更新日時"],"properties":{"address":{"type":"string"},"email":{"type":"string"},"emailConfirmed":{"type":"boolean"},"role":{"$ref":"#/components/schemas/AdminRole"},"avatarKey":{"type":"string"},"avatarUrl":{"type":"string"},"recentProjectIds":{"type":"object","description":"map<uint64,uint64>","additionalProperties":{"type":"number"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"UserWallet":{"type":"object","required":["id","ユーザーアドレス","ウォレットアドレス","プロバイダー","作成日時","更新日時"],"properties":{"id":{"type":"number"},"userAddress":{"type":"string"},"walletAddress":{"type":"string"},"provider":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"UserSettings":{"type":"object","required":["プロジェクト上限","プロジェクト数"],"properties":{"projectsLimit":{"type":"number"},"projectsLeft":{"type":"number"},"projectCount":{"type":"number"}}},"UserOverride":{"type":"object","required":["id","アドレス","追加プロジェクト","作成日時","更新日時"],"properties":{"id":{"type":"number"},"address":{"type":"string"},"extraProjects":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"CreateProjectOptions":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/ProjectType"},"chainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}}}},"ResourceFilter":{"type":"object","properties":{"contracts":{"$ref":"#/components/schemas/ContractFilter"}}},"Resource":{"type":"object","required":["タイプ","合計","詳細"],"properties":{"type":{"$ref":"#/components/schemas/ResourceType"},"total":{"type":"number"},"detail":{"type":"配列","description":"[]ResourceDetail","items":{"$ref":"#/components/schemas/ResourceDetail"}}}},"ResourceDetail":{"type":"object","required":["キー","カウント"],"properties":{"key":{"type":"object"},"count":{"type":"number"}}},"ProjectSubscription":{"type":"object","required":["id","プロジェクトID","ライセンスID","ライセンスバージョン","サブスクリプションID","開始日"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"provider":{"$ref":"#/components/schemas/SubscriptionProvider"},"licenseId":{"type":"number"},"licenseVersion":{"type":"number"},"subscriptionId":{"type":"string"},"providerUrl":{"type":"string"},"dateStart":{"type":"string"},"dateEnd":{"type":"string"}}},"Collaborator":{"type":"object","required":["id","プロジェクトID","タイプ","ユーザーアドレス","アクセス","作成日時","更新日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"type":{"$ref":"#/components/schemas/CollaboratorType"},"userAddress":{"type":"string"},"userEmail":{"type":"string"},"userAvatarUrl":{"type":"string"},"userAvatarKey":{"type":"string"},"access":{"$ref":"#/components/schemas/CollaboratorAccess"},"invitationId":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"Contract":{"type":"object","required":["id","プロジェクトID","コントラクト名","コントラクトアドレス","コントラクトタイプ","chainId","ソース","コントラクト拡張","バイトコード一致","作成日時","更新日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"contractName":{"type":"string"},"contractAddress":{"type":"string"},"contractType":{"type":"string"},"chainId":{"type":"number"},"source":{"$ref":"#/components/schemas/ContractSourceType"},"abi":{"type":"string"},"bytecode":{"type":"string"},"bytecodeHash":{"type":"string"},"audienceId":{"type":"number"},"decimals":{"type":"number"},"symbol":{"type":"string"},"contractExtensions":{"$ref":"#/components/schemas/ContractExtensions"},"tags":{"type":"配列","description":"[]string","items":{"type":"string"}},"bytecodeMatch":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ContractExtensions":{"type":"object","properties":{"itemsContractAddress":{"type":"string"},"splitterContractAddresses":{"type":"配列","description":"[]string","items":{"type":"string"}}}},"ContractSync":{"type":"object","properties":{"decimals":{"type":"number"},"symbol":{"type":"string"}}},"ContractFilter":{"type":"object","properties":{"chainId":{"type":"number"},"contractSourceType":{"$ref":"#/components/schemas/ContractSourceType"},"contractTypes":{"type":"配列","description":"[]string","items":{"type":"string"}},"tag":{"type":"string"},"name":{"type":"string"},"contractAddress":{"type":"string"},"includeUnmatched":{"type":"boolean"}}},"ContractTag":{"type":"object","required":["タグ","カウント"],"properties":{"tag":{"type":"string"},"count":{"type":"number"}}},"ContractLink":{"type":"object","required":["プロジェクト","コラボレーター"],"properties":{"contract":{"$ref":"#/components/schemas/Contract"},"project":{"$ref":"#/components/schemas/Project"},"collaborator":{"$ref":"#/components/schemas/Collaborator"}}},"RelayerGasSponsor":{"type":"object","required":["id","プロジェクトID","chainId","表示名","アドレス","有効","作成日時","更新日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"chainId":{"type":"number"},"displayName":{"type":"string"},"address":{"type":"string"},"active":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"RelayerTransaction":{"type":"object","required":["トランザクションハッシュ","トランザクションノンス","トランザクションステータス","トランザクションリバート理由","再キュー数","キュー日時","送信日時","マイニング日時","ターゲット","入力","トランザクション引数","ウォレットアドレス","メタトランザクションノンス","ガスリミット","ガス価格","ガス使用量","ガス見積もり","USDレート","使用クレジット数","コスト","ホワイトリスト登録済み","作成日時","更新日時"],"properties":{"txnHash":{"type":"string"},"txnNonce":{"type":"string"},"metaTxnID":{"type":"string"},"txnStatus":{"type":"string"},"txnRevertReason":{"type":"string"},"requeues":{"type":"number"},"queuedAt":{"type":"string"},"sentAt":{"type":"string"},"minedAt":{"type":"string"},"target":{"type":"string"},"input":{"type":"string"},"txnArgs":{"type":"object","description":"map<string,any>","additionalProperties":{"type":"object"}},"txnReceipt":{"type":"object","description":"map<string,any>","additionalProperties":{"type":"object"}},"walletAddress":{"type":"string"},"metaTxnNonce":{"type":"string"},"gasLimit":{"type":"number"},"gasPrice":{"type":"string"},"gasUsed":{"type":"number"},"gasEstimated":{"type":"number"},"gasFeeMarkup":{"type":"number"},"usdRate":{"type":"string"},"creditsUsed":{"type":"number"},"cost":{"type":"string"},"isWhitelisted":{"type":"boolean"},"gasSponsor":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ProjectGasTankStatus":{"type":"object","required":["プロバイダー","支払い設定","支払いに関する問題","メインネットスポンサー"],"properties":{"provider":{"$ref":"#/components/schemas/PaymentProvider"},"setupPayment":{"type":"boolean"},"issueWithPayment":{"type":"boolean"},"mainnetSponsors":{"type":"boolean"},"balance":{"type":"number"}}},"EcosystemGasTankStatus":{"type":"object","required":["支払い設定","支払いに関する問題"],"properties":{"setupPayment":{"type":"boolean"},"issueWithPayment":{"type":"boolean"},"balance":{"type":"number"}}},"GasTankSettings":{"type":"object","required":["残高しきい値","通知送信","自動チャージ","チャージプロバイダー","チャージ金額","チャージ上限"],"properties":{"balanceThreshold":{"type":"number"},"sendNotifications":{"type":"boolean"},"autoRecharge":{"type":"boolean"},"topupProvider":{"$ref":"#/components/schemas/PaymentProvider"},"rechargeAmount":{"type":"number"},"rechargeLimit":{"type":"number"}}},"UsageInfo":{"type":"object","required":["警告しきい値（含まれる分）","最大値（含まれる分）","警告しきい値（超過分）","最大値（超過分）","利用状況","残高","超過分","追加請求分"],"properties":{"includedWarn":{"type":"number"},"includedMax":{"type":"number"},"overageWarn":{"type":"number"},"overageMax":{"type":"number"},"usage":{"type":"number"},"balance":{"type":"number"},"overage":{"type":"number"},"extraCharged":{"type":"string"}}},"SubscriptionInfo":{"type":"object","required":["現在","サイクル","settings","ガスタンク設定","利用状況"],"properties":{"current":{"$ref":"#/components/schemas/ProjectSubscription"},"license":{"$ref":"#/components/schemas/License"},"cycle":{"$ref":"#/components/schemas/BillingCycle"},"settings":{"$ref":"#/components/schemas/LicenseSettings"},"gasTankSettings":{"$ref":"#/components/schemas/GasTankSettings"},"usage":{"type":"object","description":"map<string,UsageInfo>","additionalProperties":{"$ref":"#/components/schemas/UsageInfo"}},"plannedDowngrade":{"$ref":"#/components/schemas/License"},"pendingUpgrade":{"$ref":"#/components/schemas/License"}}},"Redirect":{"type":"object","required":["URL"],"properties":{"url":{"type":"string"}}},"StripeEventData":{"type":"object","required":["object"],"properties":{"object":{"$ref":"#/components/schemas/StripeEventDataObject"}}},"StripeEventDataObject":{"type":"object","required":["id","object"],"properties":{"id":{"type":"string"},"object":{"type":"string"}}},"Payment":{"type":"object","required":["id","プロジェクトID","プロバイダー","外部取引ID","作成日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"chainId":{"type":"number"},"status":{"$ref":"#/components/schemas/PaymentStatus"},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"externalTxnID":{"type":"string"},"createdAt":{"type":"string"}}},"InvoicesReturn":{"type":"object","required":["さらに表示","請求書"],"properties":{"hasMore":{"type":"boolean"},"invoices":{"type":"配列","description":"[]Invoice","items":{"$ref":"#/components/schemas/Invoice"}}}},"Invoice":{"type":"object","required":["id","日付","金額","支払い済み","URL"],"properties":{"id":{"type":"string"},"date":{"type":"string"},"amount":{"type":"string"},"paid":{"type":"boolean"},"url":{"type":"string"}}},"ContractInfo":{"type":"object","required":["data"],"properties":{"data":{"type":"object"}}},"ContractInfoOverride":{"type":"object","required":["data"],"properties":{"data":{"type":"object"}}},"ProjectInvitation":{"type":"object","required":["id","プロジェクトID","コード","アクセス","有効期限","利用回数","作成日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"code":{"type":"string"},"access":{"$ref":"#/components/schemas/CollaboratorAccess"},"expiresAt":{"type":"string"},"usageCount":{"type":"number"},"createdAt":{"type":"string"},"deletedAt":{"type":"string"}}},"AdminMarketplaceCollection":{"type":"object","required":["ステータス","chainId","コントラクトアドレス","コントラクトタイプ","優先度","トークン数量小数点","作成日時","更新日時"],"properties":{"status":{"$ref":"#/components/schemas/AdminCollectionStatus"},"chainId":{"type":"number"},"contractAddress":{"type":"string"},"contractType":{"$ref":"#/components/schemas/AdminMarketplaceContractType"},"priority":{"$ref":"#/components/schemas/AdminCollectionPriority"},"tokenQuantityDecimals":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"type":"string"}}},"OffchainInventory":{"type":"object","required":["id","プロジェクトID","chainId","外部商品ID","支払いトークンアドレス","支払いトークンタイプ","支払いトークンID","支払い金額","支払い受取人"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"chainId":{"type":"number"},"externalProductId":{"type":"string"},"paymentTokenAddress":{"type":"string"},"paymentTokenType":{"$ref":"#/components/schemas/TokenType"},"paymentTokenId":{"type":"number"},"paymentAmount":{"type":"number"},"paymentRecipient":{"type":"string"},"chainedCallAddress":{"type":"string"},"chainedCallData":{"type":"string"},"allowCrossChainPayments":{"type":"boolean"},"callbackURL":{"type":"string"},"createdAt":{"type":"string"},"deletedAt":{"type":"string"}}},"OffchainPayment":{"type":"object","required":["id","オフチェーン在庫ID","商品受取人","支払いチェーンID","支払いトークンアドレス","有効期限","作成日時"],"properties":{"id":{"type":"number"},"offchainInventoryId":{"type":"number"},"productRecipient":{"type":"string"},"paymentChainId":{"type":"number"},"paymentTokenAddress":{"type":"string"},"expiration":{"type":"string"},"createdAt":{"type":"string"},"completedAt":{"type":"string"},"processedAt":{"type":"string"}}},"ProjectFile":{"type":"object","required":["id","プロジェクトID","スコープ","MIMEタイプ","ファイルパス","内容","ハッシュ","URL","作成日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"scope":{"$ref":"#/components/schemas/FileScope"},"mimetype":{"type":"string"},"filepath":{"type":"string"},"contents":{"type":"配列","description":"[]byte","items":{"type":"string"}},"hash":{"type":"配列","description":"[]byte","items":{"type":"string"}},"url":{"type":"string"},"createdAt":{"type":"string"}}},"WaasTemplate":{"type":"object","required":["id","プロジェクトID","件名","導入文","ロゴURL","プレースホルダー","作成日時","更新日時"],"properties":{"id":{"type":"number"},"templateType":{"$ref":"#/components/schemas/TemplateType"},"projectId":{"type":"number"},"subject":{"type":"string"},"introText":{"type":"string"},"logoUrl":{"type":"string"},"template":{"type":"string"},"fromEmail":{"type":"string"},"placeholders":{"type":"配列","description":"[]string","items":{"type":"string"}},"sesConfig":{"$ref":"#/components/schemas/SESSettings"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"type":"string"}}},"TaskRunner":{"type":"object","required":["id","ワークグループ","実行日時"],"properties":{"id":{"type":"number"},"workGroup":{"type":"string"},"runAt":{"type":"string"}}},"Task":{"type":"object","required":["id","キュー","ステータス","試行回数","ペイロード"],"properties":{"id":{"type":"number"},"queue":{"type":"string"},"status":{"$ref":"#/components/schemas/TaskStatus"},"try":{"type":"number"},"runAt":{"type":"string"},"lastRanAt":{"type":"string"},"createdAt":{"type":"string"},"payload":{"type":"配列","description":"[]byte","items":{"type":"string"}},"hash":{"type":"string"}}},"CreditBonus":{"type":"object","required":["id","プロジェクトID","金額","残高","作成日時","更新日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"amount":{"type":"number"},"balance":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"WaasSettings":{"type":"object","required":["リカバリーアドレス","認証設定","OIDCプロバイダー","許可オリジン","更新コード","テナントキー"],"properties":{"recoveryAddress":{"type":"string"},"authConfig":{"$ref":"#/components/schemas/WaasAuthConfig"},"oidcProviders":{"type":"配列","description":"[]OpenIdProvider","items":{"$ref":"#/components/schemas/OpenIdProvider"}},"allowedOrigins":{"type":"配列","description":"[]string","items":{"type":"string"}},"updateCode":{"type":"string"},"tenantKey":{"type":"string"}}},"WaasAuthEmailConfig":{"type":"object","required":["有効"],"properties":{"enabled":{"type":"boolean"}}},"WaasAuthGuestConfig":{"type":"object","required":["有効"],"properties":{"enabled":{"type":"boolean"}}},"WaasAuthPlayfabConfig":{"type":"object","required":["有効"],"properties":{"enabled":{"type":"boolean"},"titleId":{"type":"string"}}},"WaasAuthStytchConfig":{"type":"object","required":["有効"],"properties":{"enabled":{"type":"boolean"},"projectId":{"type":"string"}}},"WaasAuthTwitterConfig":{"type":"object","required":["有効"],"properties":{"enabled":{"type":"boolean"},"clientId":{"type":"string"}}},"WaasAuthConfig":{"type":"object","properties":{"email":{"$ref":"#/components/schemas/WaasAuthEmailConfig"},"guest":{"$ref":"#/components/schemas/WaasAuthGuestConfig"},"playfab":{"$ref":"#/components/schemas/WaasAuthPlayfabConfig"},"stytch":{"$ref":"#/components/schemas/WaasAuthStytchConfig"},"twitter":{"$ref":"#/components/schemas/WaasAuthTwitterConfig"}}},"Audience":{"type":"object","required":["id","プロジェクトID","name","連絡先数","作成日時","更新日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"name":{"type":"string"},"contactCount":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"type":"string"}}},"AudienceContact":{"type":"object","required":["オーディエンスID","アドレス"],"properties":{"id":{"type":"number"},"audienceId":{"type":"number"},"name":{"type":"string"},"address":{"type":"string"},"email":{"type":"string"},"userIp":{"type":"string"},"stage":{"type":"number"},"provider":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"AudienceRegistrationStatus":{"type":"object","required":["合計数"],"properties":{"totalCount":{"type":"number"}}},"Trial":{"type":"object","required":["id","プロジェクトID","タイプ","開始日時","終了日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"type":{"$ref":"#/components/schemas/TrialType"},"startAt":{"type":"string"},"endAt":{"type":"string"}}},"AuditLog":{"type":"object","required":["id","ウォレットアドレス","userEmail","エンティティID","タイプ","旧値","新値","作成日時"],"properties":{"id":{"type":"number"},"walletAddress":{"type":"string"},"userEmail":{"type":"string"},"entityId":{"type":"number"},"type":{"$ref":"#/components/schemas/AuditType"},"oldValue":{"type":"object"},"newValue":{"type":"object"},"createdAt":{"type":"string"}}},"PaymentMethodCardData":{"type":"object","required":["ブランド","国","下4桁","有効期限"],"properties":{"brand":{"type":"string"},"country":{"type":"string"},"last4":{"type":"string"},"expDate":{"type":"string"}}},"PaymentMethodLinkData":{"type":"object","required":["メールアドレス"],"properties":{"email":{"type":"string"}}},"PaymentMethod":{"type":"object","required":["id","タイプ","デフォルト"],"properties":{"id":{"type":"string"},"type":{"$ref":"#/components/schemas/PaymentMethodType"},"cardData":{"$ref":"#/components/schemas/PaymentMethodCardData"},"linkData":{"$ref":"#/components/schemas/PaymentMethodLinkData"},"default":{"type":"boolean"}}},"ProjectSecret":{"type":"object","required":["タイプ","環境"],"properties":{"type":{"$ref":"#/components/schemas/SecretType"},"env":{"$ref":"#/components/schemas/SecretEnv"},"updatedAt":{"type":"string"}}},"FinancialReportType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["サブスクリプション","GASTANK_TOPUP"]},"FinancialReportEntry":{"type":"object","required":["金額","タイプ","プロバイダー","参照","メモ","作成日時"],"properties":{"projectId":{"type":"number"},"ecosystemId":{"type":"number"},"amount":{"type":"number"},"type":{"$ref":"#/components/schemas/FinancialReportType"},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"reference":{"type":"string"},"externalURL":{"type":"string"},"notes":{"type":"string"},"createdAt":{"type":"string"}}},"TransakContract":{"type":"object","required":["id","chainId","コントラクトアドレス","name","プロジェクトID","作成日時","更新日時"],"properties":{"id":{"type":"number"},"transakId":{"type":"string"},"chainId":{"type":"number"},"contractAddress":{"type":"string"},"name":{"type":"string"},"projectIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"TransakContractFilter":{"type":"object","properties":{"query":{"type":"string"},"chainId":{"type":"number"}}},"WhitelistUrl":{"type":"object","required":["id","プロジェクトID","URL","作成日時","更新日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"url":{"type":"string"},"approvedAt":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"AnalyticsProjectType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["すべて","作成済み","関連"]},"DateInterval":{"type":"string","description":"サーバー側ではuint16として表現されます","enum":["日","週","月"]},"QueryFilter":{"type":"object","properties":{"projectId":{"type":"number"},"ecosystemId":{"type":"number"},"startDate":{"type":"string"},"endDate":{"type":"string"},"dateInterval":{"$ref":"#/components/schemas/DateInterval"},"collections":{"type":"配列","description":"[]string","items":{"type":"string"}},"tokenId":{"type":"string"},"projectType":{"$ref":"#/components/schemas/AnalyticsProjectType"}}},"Chart":{"type":"object","required":["値","ラベル"],"properties":{"value":{"type":"number"},"label":{"type":"string"}}},"ChartWithPercentage":{"type":"object","required":["ラベル","合計","パーセンテージ"],"properties":{"label":{"type":"string"},"total":{"type":"number"},"percentage":{"type":"number"}}},"MultiValueChart":{"type":"object","required":["値","ラベル"],"properties":{"value":{"type":"object","description":"map<string,float64>","additionalProperties":{"type":"number"}},"label":{"type":"string"}}},"QueryResult":{"type":"object","required":["コレクション","ソース","取引高（USD）","トークン数","取引数"],"properties":{"collection":{"type":"string"},"source":{"type":"string"},"tokenId":{"type":"string"},"volumeUSD":{"type":"number"},"numTokens":{"type":"number"},"numTxns":{"type":"number"}}},"TokenTransactionData":{"type":"object","required":["コレクションID","コレクション名","トークンID","トークン名","アイテム数量"],"properties":{"collectionId":{"type":"string"},"collectionName":{"type":"string"},"tokenId":{"type":"string"},"tokenName":{"type":"string"},"itemQuantities":{"type":"number"}}},"TrailsTransactionByMode":{"type":"object","required":["モード","ユニーク取引ユーザー数","支払い開始数","支払い完了数","完了率","総手数料","総取引高"],"properties":{"mode":{"type":"string"},"uniqueTransactingUsers":{"type":"number"},"paymentsStarted":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"totalFees":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionByRoute":{"type":"object","required":["元チェーン名","送信先チェーン名","ユニーク取引ユーザー数","支払い開始数","支払い完了数","完了率","平均取引時間","ガス手数料","総手数料","総取引高"],"properties":{"origChainName":{"type":"string"},"destChainName":{"type":"string"},"uniqueTransactingUsers":{"type":"number"},"paymentsStarted":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"avgTxnDuration":{"type":"number"},"gasFees":{"type":"number"},"totalFees":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionByProvider":{"type":"object","required":["プロバイダースワップ","プロバイダーブリッジ","ユニーク取引ユーザー数","支払い開始数","支払い完了数","完了率","平均取引時間","プロバイダー手数料","総手数料","総取引高"],"properties":{"providerSwap":{"type":"string"},"providerBridge":{"type":"string"},"uniqueTransactingUsers":{"type":"number"},"paymentsStarted":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"avgTxnDuration":{"type":"number"},"providerFees":{"type":"number"},"totalFees":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionByCountry":{"type":"object","required":["国","取引ウォレット数","支払い完了数","完了率","総取引高"],"properties":{"country":{"type":"string"},"transactingWallets":{"type":"number"},"paymentsCompleted":{"type":"number"},"completionPercent":{"type":"number"},"totalVolume":{"type":"number"}}},"TrailsTransactionDetail":{"type":"object","required":["日付","チェックアウトID","国","プロバイダー","ホスト名","元取引ハッシュ","送信先取引ハッシュ","元チェーン名","送信先チェーン名","元トークンシンボル","送信先トークンシンボル","プロバイダー手数料","総手数料","総取引高"],"properties":{"date":{"type":"string"},"checkoutId":{"type":"string"},"country":{"type":"string"},"provider":{"type":"string"},"hostname":{"type":"string"},"originTxHash":{"type":"string"},"destTxHash":{"type":"string"},"origChainName":{"type":"string"},"destChainName":{"type":"string"},"origTokenSymbol":{"type":"string"},"destTokenSymbol":{"type":"string"},"providerFee":{"type":"number"},"totalFee":{"type":"number"},"totalVolume":{"type":"number"}}},"ContractLibraryStatus":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["非推奨","ナイトリー","安定版"]},"ContractLibraryItem":{"type":"object","required":["UID","コントラクトタイプ","name","説明","作成者","ライセンス","詳細情報URL","無効","作成日時","更新日時"],"properties":{"uid":{"type":"string"},"contractType":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"author":{"type":"string"},"license":{"type":"string"},"moreInfoUrl":{"type":"string"},"disabled":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ContractLibraryVersion":{"type":"object","required":["UID","バージョン","監査済み","リリースノート","アップグレード可能","ソースデータ","ステータス","作成日時","更新日時"],"properties":{"uid":{"type":"string"},"version":{"type":"number"},"audited":{"type":"boolean"},"releaseNotes":{"type":"string"},"upgradable":{"type":"boolean"},"sourceData":{"$ref":"#/components/schemas/ContractData"},"factoryAddress":{"type":"string"},"factoryData":{"$ref":"#/components/schemas/ContractData"},"chainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"status":{"$ref":"#/components/schemas/ContractLibraryStatus"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ProjectContractSource":{"type":"object","required":["プロジェクトID","UID","data","name","作成日時","更新日時"],"properties":{"projectId":{"type":"number"},"uid":{"type":"string"},"data":{"$ref":"#/components/schemas/ContractData"},"name":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"EcosystemType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["UNKNOWN","オープン","クローズド"]},"ThemeType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["ライト","dark","システム"]},"LoginProviderType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["APPLE","GOOGLE","メール","パスキー","秘密鍵"]},"Ecosystem":{"type":"object","required":["id","name","タイプ","オーナーアドレス","ビルダードメイン","アクセスキープレフィックス","チェーンID","限定","settings","作成日時","更新日時"],"properties":{"id":{"type":"number"},"name":{"type":"string"},"type":{"$ref":"#/components/schemas/EcosystemType"},"ownerAddress":{"type":"string"},"builderDomain":{"type":"string"},"walletDomain":{"type":"string"},"email":{"type":"string"},"accessKeyPrefix":{"type":"string"},"chainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"exclusive":{"type":"boolean"},"projectCount":{"type":"number"},"settings":{"$ref":"#/components/schemas/EcosystemSettings"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"type":"string"}}},"EcosystemCollaborator":{"type":"object","required":["id","エコシステムID","ユーザーアドレス","アクセス","作成日時","更新日時"],"properties":{"id":{"type":"number"},"ecosystemId":{"type":"number"},"userAddress":{"type":"string"},"access":{"$ref":"#/components/schemas/EcosystemAccess"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"EcosystemSettings":{"type":"object","required":["タイトル","説明","詳細はこちらボタン","詳細URL","crispウェブサイトID","テーマ","メール設定","ウォレット設定","接続済みウォレットを許可"],"properties":{"title":{"type":"string"},"description":{"type":"string"},"learnMoreButton":{"type":"string"},"learnMoreUrl":{"type":"string"},"crispWebsiteId":{"type":"string"},"domainAllowList":{"type":"配列","description":"[]string","items":{"type":"string"}},"domainBlockList":{"type":"配列","description":"[]string","items":{"type":"string"}},"themes":{"type":"配列","description":"[]ThemeSettings","items":{"$ref":"#/components/schemas/ThemeSettings"}},"emailSettings":{"$ref":"#/components/schemas/EcosystemEmailSettings"},"walletSettings":{"$ref":"#/components/schemas/EcosystemWalletSettings"},"allowConnectedWallets":{"type":"boolean"}}},"EcosystemEmailSettings":{"type":"object","required":["バナーURL"],"properties":{"bannerUrl":{"type":"string"}}},"EcosystemWalletSettings":{"type":"object","required":["EOAウォレット有効","複数アカウント許可","ソーシャルオプション","ウォレットオプション"],"properties":{"isEOAWalletEnabled":{"type":"boolean"},"allowMultipleAccount":{"type":"boolean"},"socialOptions":{"type":"配列","description":"[]string","items":{"type":"string"}},"walletOptions":{"type":"配列","description":"[]string","items":{"type":"string"}}}},"ThemeSettings":{"type":"object","required":["タイプ","カスタムCSS","ファイルロゴ","ファイルタイトル","ファイル背景","ファイル背景（モバイル）"],"properties":{"type":{"$ref":"#/components/schemas/ThemeType"},"customCss":{"type":"string"},"fileLogo":{"type":"string"},"fileTitle":{"type":"string"},"fileBackground":{"type":"string"},"fileBackgroundMobile":{"type":"string"}}},"Configuration":{"type":"object","required":["エコシステムID","name","ビルダードメイン","チェーンID","ライセンス","settings","限定チェーンID"],"properties":{"ecosystemId":{"type":"number"},"name":{"type":"string"},"builderDomain":{"type":"string"},"walletDomain":{"type":"string"},"chainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"license":{"$ref":"#/components/schemas/License"},"settings":{"$ref":"#/components/schemas/EcosystemSettings"},"exclusiveChainIds":{"type":"object","description":"map<uint64,uint64>","additionalProperties":{"type":"number"}}}},"EcosystemTemplate":{"type":"object","required":["件名","テンプレート","data","送信元メールアドレス","コンテンツ","プレースホルダー","作成日時","更新日時"],"properties":{"subject":{"type":"string"},"template":{"type":"string"},"data":{"$ref":"#/components/schemas/TemplateData"},"fromEmail":{"type":"string"},"content":{"type":"string"},"placeholders":{"type":"配列","description":"[]string","items":{"type":"string"}},"sesSettings":{"$ref":"#/components/schemas/SESSettings"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"TemplateData":{"type":"object","required":["導入文","ロゴURL"],"properties":{"introText":{"type":"string"},"logoUrl":{"type":"string"}}},"LoginProvider":{"type":"object","required":["タイプ"],"properties":{"type":{"$ref":"#/components/schemas/LoginProviderType"},"clientId":{"type":"string"},"updatedAt":{"type":"string"}}},"WalletCustomTheme":{"type":"object","required":["ファイルヘッダーロゴ","ファイル認証ロゴ"],"properties":{"fileHeaderLogo":{"$ref":"#/components/schemas/Image"},"fileAuthLogo":{"$ref":"#/components/schemas/Image"},"fileAuthCover":{"$ref":"#/components/schemas/Image"},"fileBackgroundImage":{"$ref":"#/components/schemas/Image"},"colors":{"type":"object","description":"map<string,string>","additionalProperties":{"type":"string"}}}},"WalletThemes":{"type":"object","required":["ライト","dark"],"properties":{"light":{"$ref":"#/components/schemas/WalletCustomTheme"},"dark":{"$ref":"#/components/schemas/WalletCustomTheme"}}},"DiscoveryCategory":{"type":"object","required":["ラベル","タグ","非公開"],"properties":{"label":{"type":"string"},"tag":{"type":"string"},"private":{"type":"boolean"}}},"DiscoveryApp":{"type":"object","required":["id","カバー画像","URL","カテゴリタグ","チェーンID"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"coverImage":{"$ref":"#/components/schemas/Image"},"url":{"type":"string"},"categoryTags":{"type":"配列","description":"[]string","items":{"type":"string"}},"chainIds":{"type":"配列","description":"[]uint64","items":{"type":"number"}}}},"DiscoverySection":{"type":"object","required":["アプリ","非公開","カテゴリ","バナー","アクティブバナー"],"properties":{"apps":{"type":"配列","description":"[]DiscoveryApp","items":{"$ref":"#/components/schemas/DiscoveryApp"}},"private":{"type":"boolean"},"categories":{"type":"配列","description":"[]DiscoveryCategory","items":{"$ref":"#/components/schemas/DiscoveryCategory"}},"banners":{"type":"配列","description":"[]DiscoveryApp","items":{"$ref":"#/components/schemas/DiscoveryApp"}},"activeBanners":{"type":"配列","description":"[]string","items":{"type":"string"}}}},"EcosystemWalletMetaTags":{"type":"object","required":["タイトル","説明","URL","プレビュー画像","ファビコン"],"properties":{"title":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"previewImage":{"type":"string"},"favicon":{"type":"string"}}},"SDKConfig":{"type":"object","required":["ブランドサインイン","サインインボタンタイトル"],"properties":{"brandedSignIn":{"type":"boolean"},"signInButtonTitle":{"type":"string"},"signInButtonLogo":{"$ref":"#/components/schemas/Image"}}},"EcosystemWalletConfig":{"type":"object","required":["エコシステムID","name","説明","URL","メールアドレス","デフォルトテーマ","対応テーマ","テーマ","メタタグ","デフォルト通貨","監視中ウォレット","対応チェーン","デフォルトチェーンID","有効プロバイダー","プロバイダー設定","EOAウォレット許可","作成日時","更新日時"],"properties":{"ecosystemId":{"type":"number"},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"email":{"type":"string"},"defaultTheme":{"$ref":"#/components/schemas/ThemeType"},"supportedThemes":{"type":"配列","description":"[]ThemeType","items":{"$ref":"#/components/schemas/ThemeType"}},"themes":{"$ref":"#/components/schemas/WalletThemes"},"metaTags":{"$ref":"#/components/schemas/EcosystemWalletMetaTags"},"defaultCurrency":{"type":"string"},"watchedWallets":{"type":"boolean"},"supportedChains":{"type":"配列","description":"[]uint64","items":{"type":"number"}},"defaultChainId":{"type":"number"},"enabledProviders":{"type":"配列","description":"[]LoginProviderType","items":{"$ref":"#/components/schemas/LoginProviderType"}},"providerConfig":{"type":"配列","description":"[]LoginProvider","items":{"$ref":"#/components/schemas/LoginProvider"}},"discovery":{"$ref":"#/components/schemas/DiscoverySection"},"sdkConfig":{"$ref":"#/components/schemas/SDKConfig"},"allowEOAWallets":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"AdjustmentSource":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["不明","ワンタイム","自動"]},"AdjustmentStatus":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["不明","保留中","承認済み","成功","失敗","キャンセル済み"]},"OwnerType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["プロジェクト","エコシステム"]},"GasTankAdjustment":{"type":"object","required":["id","プロジェクトID","エコシステムID","プロバイダー","ソース","金額","ステータス","メモ","作成日時"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"ecosystemId":{"type":"number"},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"source":{"$ref":"#/components/schemas/AdjustmentSource"},"amount":{"type":"number"},"status":{"$ref":"#/components/schemas/AdjustmentStatus"},"externalId":{"type":"string"},"notes":{"type":"string"},"createdAt":{"type":"string"}}},"GasTankAdjustmentFilter":{"type":"object","properties":{"ownerType":{"$ref":"#/components/schemas/OwnerType"},"ownerId":{"type":"number"},"source":{"$ref":"#/components/schemas/AdjustmentSource"},"status":{"type":"配列","description":"[]AdjustmentStatus","items":{"$ref":"#/components/schemas/AdjustmentStatus"}},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"from":{"type":"string"},"to":{"type":"string"}}},"GasTankConfig":{"type":"object","required":["有効","chainId","トークンアドレス","トークン小数点","受取人アドレス"],"properties":{"enabled":{"type":"boolean"},"chainId":{"type":"number"},"tokenAddress":{"type":"string"},"tokenDecimals":{"type":"number"},"recipientAddress":{"type":"string"}}},"MarketplaceWalletType":{"type":"string","description":"サーバー側ではuint8として表現されます","enum":["ユニバーサル","エンベデッド","エコシステム"]},"FilterCondition":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["全キー","特定値"]},"MarketplaceLegacyType":{"type":"string","description":"サーバー側では文字列として表現されます","enum":["AMM","P2P","SEQUENCE","オーダーブック"]},"MarketplaceHostname":{"type":"object","required":["ホスト名","プロジェクトID","デフォルトホスト名","カスタムドメイン","作成日時"],"properties":{"hostname":{"type":"string"},"projectId":{"type":"number"},"isDefaultHostname":{"type":"boolean"},"isCustomDomain":{"type":"boolean"},"createdAt":{"type":"string"}}},"Marketplace":{"type":"object","required":["プロジェクトID","settings","マーケット","ショップ"],"properties":{"projectId":{"type":"number"},"settings":{"$ref":"#/components/schemas/MarketplaceSettings"},"market":{"$ref":"#/components/schemas/MarketplacePage"},"shop":{"$ref":"#/components/schemas/MarketplacePage"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"MarketplaceSettings":{"type":"object","required":["スタイル","発行者ID","タイトル","ソーシャル","ファビコンURL","ウォレットオプション","ロゴURL","フォントURL","トレイル有効化"],"properties":{"style":{"type":"object","description":"map<string,any>","additionalProperties":{"type":"object"}},"publisherId":{"type":"string"},"title":{"type":"string"},"socials":{"$ref":"#/components/schemas/MarketplaceSocials"},"faviconUrl":{"type":"string"},"walletOptions":{"$ref":"#/components/schemas/MarketplaceWallet"},"logoUrl":{"type":"string"},"fontUrl":{"type":"string"},"accessKey":{"type":"string"},"isTrailsEnabled":{"type":"boolean"}}},"MarketplacePage":{"type":"object","required":["有効","バナーURL","OG画像","非公開"],"properties":{"enabled":{"type":"boolean"},"bannerUrl":{"type":"string"},"ogImage":{"type":"string"},"private":{"type":"boolean"}}},"MarketplaceSocials":{"type":"object","required":["ツイッター","ディスコード","ウェブサイト","ティックトック","インスタグラム","ユーチューブ"],"properties":{"twitter":{"type":"string"},"discord":{"type":"string"},"website":{"type":"string"},"tiktok":{"type":"string"},"instagram":{"type":"string"},"youtube":{"type":"string"}}},"MarketplaceWallet":{"type":"object","required":["ウォレットタイプ","OIDC発行者","コネクター","EIP6963ウォレットを含む"],"properties":{"walletType":{"$ref":"#/components/schemas/MarketplaceWalletType"},"oidcIssuers":{"type":"object","description":"map<string,string>","additionalProperties":{"type":"string"}},"connectors":{"type":"配列","description":"[]string","items":{"type":"string"}},"includeEIP6963Wallets":{"type":"boolean"},"ecosystem":{"$ref":"#/components/schemas/MarketplaceWalletEcosystem"},"embedded":{"$ref":"#/components/schemas/MarketplaceWalletEmbedded"}}},"MarketplaceWalletEcosystem":{"type":"object","required":["ウォレットURL","ウォレットアプリ名"],"properties":{"walletUrl":{"type":"string"},"walletAppName":{"type":"string"},"logoLightUrl":{"type":"string"},"logoDarkUrl":{"type":"string"}}},"MarketplaceWalletEmbedded":{"type":"object","required":["テナントキー","メール有効化","プロバイダー"],"properties":{"tenantKey":{"type":"string"},"emailEnabled":{"type":"boolean"},"providers":{"type":"配列","description":"[]OpenIdProvider","items":{"$ref":"#/components/schemas/OpenIdProvider"}}}},"MarketCollection":{"type":"object","required":["id","プロジェクトID","chainId","アイテムアドレス","コントラクトタイプ","バナーURL","手数料率","通貨オプション","送信先マーケットプレイス","非公開"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"chainId":{"type":"number"},"itemsAddress":{"type":"string"},"contractType":{"type":"string"},"bannerUrl":{"type":"string"},"feePercentage":{"type":"number"},"currencyOptions":{"type":"配列","description":"[]string","items":{"type":"string"}},"destinationMarketplace":{"type":"string"},"filterSettings":{"$ref":"#/components/schemas/CollectionFilterSettings"},"sortOrder":{"type":"number"},"private":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ShopCollection":{"type":"object","required":["id","プロジェクトID","chainId","アイテムアドレス","販売アドレス","name","バナーURL","トークンID","カスタムトークンID","非公開"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"chainId":{"type":"number"},"itemsAddress":{"type":"string"},"saleAddress":{"type":"string"},"name":{"type":"string"},"bannerUrl":{"type":"string"},"tokenIds":{"type":"配列","description":"[]string","items":{"type":"string"}},"customTokenIds":{"type":"配列","description":"[]string","items":{"type":"string"}},"sortOrder":{"type":"number"},"private":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"MetadataFilterRule":{"type":"object","required":["キー","条件"],"properties":{"key":{"type":"string"},"condition":{"$ref":"#/components/schemas/FilterCondition"},"value":{"type":"string"}}},"CollectionFilterSettings":{"type":"object","required":["フィルター順序","除外項目"],"properties":{"filterOrder":{"type":"配列","description":"[]string","items":{"type":"string"}},"exclusions":{"type":"配列","description":"[]MetadataFilterRule","items":{"$ref":"#/components/schemas/MetadataFilterRule"}}}},"CollectionListFilter":{"type":"object","required":["非公開を含む"],"properties":{"includePrivate":{"type":"boolean"}}},"MarketplaceLegacySettings":{"type":"object","required":["発行者ID","タイトル","短い説明","ソーシャル","ファビコンURL","ランディングバナーURL","コレクション","ウォレットオプション","ランディングページレイアウト","ロゴURL","バナーURL","トレイル有効化"],"properties":{"projectId":{"type":"number"},"publisherId":{"type":"string"},"title":{"type":"string"},"shortDescription":{"type":"string"},"socials":{"$ref":"#/components/schemas/MarketplaceSocials"},"faviconUrl":{"type":"string"},"landingBannerUrl":{"type":"string"},"collections":{"type":"配列","description":"[]MarketplaceLegacyCollection","items":{"$ref":"#/components/schemas/MarketplaceLegacyCollection"}},"walletOptions":{"$ref":"#/components/schemas/MarketplaceLegacyWallet"},"landingPageLayout":{"type":"string"},"logoUrl":{"type":"string"},"bannerUrl":{"type":"string"},"fontUrl":{"type":"string"},"ogImage":{"type":"string"},"accessKey":{"type":"string"},"isTrailsEnabled":{"type":"boolean"}}},"MarketplaceLegacyWallet":{"type":"object","required":["ウォレットタイプ","OIDC発行者","コネクター","EIP6963ウォレットを含む"],"properties":{"walletType":{"$ref":"#/components/schemas/MarketplaceWalletType"},"oidcIssuers":{"type":"object","description":"map<string,string>","additionalProperties":{"type":"string"}},"connectors":{"type":"配列","description":"[]string","items":{"type":"string"}},"includeEIP6963Wallets":{"type":"boolean"},"ecosystem":{"$ref":"#/components/schemas/MarketplaceWalletEcosystem"},"waas":{"$ref":"#/components/schemas/MarketplaceWalletEmbedded"}}},"MarketplaceLegacyCollection":{"type":"object","required":["マーケットプレイスタイプ","chainId","アドレス","取引所","バナーURL","手数料率","通貨オプション","送信先マーケットプレイス"],"properties":{"marketplaceType":{"$ref":"#/components/schemas/MarketplaceLegacyType"},"chainId":{"type":"number"},"address":{"type":"string"},"exchanges":{"type":"配列","description":"[]string","items":{"type":"string"}},"bannerUrl":{"type":"string"},"feePercentage":{"type":"number"},"currencyOptions":{"type":"配列","description":"[]string","items":{"type":"string"}},"destinationMarketplace":{"type":"string"},"filterSettings":{"$ref":"#/components/schemas/CollectionFilterSettings"}}}}},"paths":null,"security":[{"ApiKeyAuth":[]}]}