.bg-matrix-dark {
  background: linear-gradient(0deg, rgba(13, 13, 15, 1) 0%, rgba(13, 13, 15, 0.95) 5%, rgba(13, 13, 15, 0.8) 15%, rgba(17, 17, 17, 0.1) 30%, rgba(17, 17, 17, 0.1) 70%, rgba(13, 13, 15, 0.8) 85%, rgba(13, 13, 15, 0.95) 95%, rgba(13, 13, 15, 1) 100%),
    linear-gradient(
      90deg,
      transparent 0%,
      rgba(17, 17, 17, 0.6) 40%,
      rgba(17, 17, 17, 0.6) 60%,
      transparent 100%
    ), url(https://pub-f048362b915448c9b012a2e03c189024.r2.dev/matrix-bg-dark.svg);
  background-size: cover;
  background-position: center center;
}

img[alt="US"] {
  display: none !important;
}

div.relative.w-4.h-4.rounded-full:has(img[alt="US"]) {
  display: none !important;
}

.bg-matrix-light {
  background: linear-gradient(
      0deg,
      #f0f0f0 0%,
      rgba(240, 240, 240, 0.6) 30%,
      rgba(240, 240, 240, 0.6) 70%,
      #f0f0f0 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      rgba(240, 240, 240, 0.6) 40%,
      rgba(240, 240, 240, 0.6) 60%,
      transparent 100%
    ), url(https://pub-f048362b915448c9b012a2e03c189024.r2.dev/matrix-bg-light.svg);
  background-size: cover;
  background-position: center center;
}

.bg-gradient-dark {
  background: linear-gradient(
      90deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.75) 50%,
      rgba(17, 17, 17, 0) 100%
    ),
    linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0) 40%, rgba(17, 17, 17, 0) 60%, #111 100%),
    linear-gradient(270deg, rgba(11, 106, 249, 0.25) 0%, rgba(29, 146, 255, 0.3) 100%);
}

.bg-gradient-light {
  background: linear-gradient(180deg, #f0f0f0 0%, rgba(255, 255, 255, 0) 49.83%, #f0f0f0 100%),
    linear-gradient(
      90deg,
      #d2e4ff 0%,
      rgba(210, 228, 255, 0.5) 25.3%,
      rgba(255, 255, 255, 0) 49.83%,
      rgba(210, 228, 255, 0.5) 75.47%,
      #d2e4ff 100%
    );
} 