{
  "openapi": "3.0.0",
  "info": {
    "description": "Sequence API\n\nThis specification covers the analytics endpoints of the API.",
    "title": "Sequence API - Analytics API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Analytics",
      "url": "https://api.sequence.build"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/rpc/Builder/ComputeByService": {
      "post": {
        "operationId": "analytics-ComputeByService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_ComputeByService_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_ComputeByService_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "ComputeByService",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/DailyComputeByService": {
      "post": {
        "operationId": "analytics-DailyComputeByService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_DailyComputeByService_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_DailyComputeByService_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "DailyComputeByService",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/DailyComputeByType": {
      "post": {
        "operationId": "analytics-DailyComputeByType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_DailyComputeByType_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_DailyComputeByType_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "DailyComputeByType",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/MarketTxnEventDaily": {
      "post": {
        "operationId": "analytics-MarketTxnEventDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_MarketTxnEventDaily_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_MarketTxnEventDaily_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "MarketTxnEventDaily",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/MarketTxnEventTotal": {
      "post": {
        "operationId": "analytics-MarketTxnEventTotal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_MarketTxnEventTotal_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_MarketTxnEventTotal_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "MarketTxnEventTotal",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/MarketWalletsDaily": {
      "post": {
        "operationId": "analytics-MarketWalletsDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_MarketWalletsDaily_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_MarketWalletsDaily_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "MarketWalletsDaily",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/MarketWalletsTotal": {
      "post": {
        "operationId": "analytics-MarketWalletsTotal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_MarketWalletsTotal_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_MarketWalletsTotal_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "MarketWalletsTotal",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/TotalCompute": {
      "post": {
        "operationId": "analytics-TotalCompute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_TotalCompute_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_TotalCompute_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "TotalCompute",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsByCountry": {
      "post": {
        "operationId": "analytics-WalletsByCountry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsByCountry_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsByCountry_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsByCountry",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsByDevice": {
      "post": {
        "operationId": "analytics-WalletsByDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsByDevice_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsByDevice_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsByDevice",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsByOS": {
      "post": {
        "operationId": "analytics-WalletsByOS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsByOS_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsByOS_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsByOS",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsDaily": {
      "post": {
        "operationId": "analytics-WalletsDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsDaily_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsDaily_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsDaily",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsTotal": {
      "post": {
        "operationId": "analytics-WalletsTotal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsTotal_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsTotal_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsTotal",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsTxnSentDaily": {
      "post": {
        "operationId": "analytics-WalletsTxnSentDaily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsTxnSentDaily_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsTxnSentDaily_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsTxnSentDaily",
        "tags": [
          "analytics"
        ]
      }
    },
    "/rpc/Builder/WalletsTxnSentTotal": {
      "post": {
        "operationId": "analytics-WalletsTxnSentTotal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Builder_WalletsTxnSentTotal_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder_WalletsTxnSentTotal_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUserNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidTier"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorEmailTemplateExists"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSubscriptionLimit"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorFeatureNotIncluded"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidNetwork"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvitationExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAlreadyCollaborator"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Analytics",
            "url": "https://api.sequence.build"
          }
        ],
        "summary": "WalletsTxnSentTotal",
        "tags": [
          "analytics"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Builder_ComputeByService_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_ComputeByService_Response": {
        "properties": {
          "computeStats": {
            "description": "[]MultiValueChart",
            "items": {
              "$ref": "#/components/schemas/MultiValueChart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ErrorWebrpcEndpoint": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 0,
            "type": "number"
          },
          "error": {
            "example": "WebrpcEndpoint",
            "type": "string"
          },
          "msg": {
            "example": "endpoint error",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcRequestFailed": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -1,
            "type": "number"
          },
          "error": {
            "example": "WebrpcRequestFailed",
            "type": "string"
          },
          "msg": {
            "example": "request failed",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadRoute": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -2,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadRoute",
            "type": "string"
          },
          "msg": {
            "example": "bad route",
            "type": "string"
          },
          "status": {
            "example": 404,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadMethod": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -3,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadMethod",
            "type": "string"
          },
          "msg": {
            "example": "bad method",
            "type": "string"
          },
          "status": {
            "example": 405,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadRequest": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -4,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadRequest",
            "type": "string"
          },
          "msg": {
            "example": "bad request",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcClientDisconnected": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -8,
            "type": "number"
          },
          "error": {
            "example": "WebrpcClientDisconnected",
            "type": "string"
          },
          "msg": {
            "example": "client disconnected",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcStreamLost": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -9,
            "type": "number"
          },
          "error": {
            "example": "WebrpcStreamLost",
            "type": "string"
          },
          "msg": {
            "example": "stream lost",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorUnauthorized": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 1000,
            "type": "number"
          },
          "error": {
            "example": "Unauthorized",
            "type": "string"
          },
          "msg": {
            "example": "Unauthorized access",
            "type": "string"
          },
          "status": {
            "example": 401,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorPermissionDenied": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 1001,
            "type": "number"
          },
          "error": {
            "example": "PermissionDenied",
            "type": "string"
          },
          "msg": {
            "example": "Permission denied",
            "type": "string"
          },
          "status": {
            "example": 403,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorSessionExpired": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 1002,
            "type": "number"
          },
          "error": {
            "example": "SessionExpired",
            "type": "string"
          },
          "msg": {
            "example": "Session expired",
            "type": "string"
          },
          "status": {
            "example": 403,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorMethodNotFound": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 1003,
            "type": "number"
          },
          "error": {
            "example": "MethodNotFound",
            "type": "string"
          },
          "msg": {
            "example": "Method not found",
            "type": "string"
          },
          "status": {
            "example": 404,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorRequestConflict": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 1004,
            "type": "number"
          },
          "error": {
            "example": "RequestConflict",
            "type": "string"
          },
          "msg": {
            "example": "Conflict with target resource",
            "type": "string"
          },
          "status": {
            "example": 409,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorTimeout": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 2000,
            "type": "number"
          },
          "error": {
            "example": "Timeout",
            "type": "string"
          },
          "msg": {
            "example": "Request timed out",
            "type": "string"
          },
          "status": {
            "example": 408,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorInvalidArgument": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 2001,
            "type": "number"
          },
          "error": {
            "example": "InvalidArgument",
            "type": "string"
          },
          "msg": {
            "example": "Invalid argument",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorNotFound": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3000,
            "type": "number"
          },
          "error": {
            "example": "NotFound",
            "type": "string"
          },
          "msg": {
            "example": "Resource not found",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorUserNotFound": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3001,
            "type": "number"
          },
          "error": {
            "example": "UserNotFound",
            "type": "string"
          },
          "msg": {
            "example": "User not found",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorProjectNotFound": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3002,
            "type": "number"
          },
          "error": {
            "example": "ProjectNotFound",
            "type": "string"
          },
          "msg": {
            "example": "Project not found",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorInvalidTier": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3003,
            "type": "number"
          },
          "error": {
            "example": "InvalidTier",
            "type": "string"
          },
          "msg": {
            "example": "Invalid subscription tier",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorEmailTemplateExists": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3004,
            "type": "number"
          },
          "error": {
            "example": "EmailTemplateExists",
            "type": "string"
          },
          "msg": {
            "example": "Email Template exists",
            "type": "string"
          },
          "status": {
            "example": 409,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorSubscriptionLimit": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3005,
            "type": "number"
          },
          "error": {
            "example": "SubscriptionLimit",
            "type": "string"
          },
          "msg": {
            "example": "Subscription limit reached",
            "type": "string"
          },
          "status": {
            "example": 402,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorFeatureNotIncluded": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3006,
            "type": "number"
          },
          "error": {
            "example": "FeatureNotIncluded",
            "type": "string"
          },
          "msg": {
            "example": "Feature not included",
            "type": "string"
          },
          "status": {
            "example": 402,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorInvalidNetwork": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 3007,
            "type": "number"
          },
          "error": {
            "example": "InvalidNetwork",
            "type": "string"
          },
          "msg": {
            "example": "Invalid network",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorInvitationExpired": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 4000,
            "type": "number"
          },
          "error": {
            "example": "InvitationExpired",
            "type": "string"
          },
          "msg": {
            "example": "Invitation code is expired",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorAlreadyCollaborator": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 4001,
            "type": "number"
          },
          "error": {
            "example": "AlreadyCollaborator",
            "type": "string"
          },
          "msg": {
            "example": "Already a collaborator",
            "type": "string"
          },
          "status": {
            "example": 409,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadResponse": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -5,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadResponse",
            "type": "string"
          },
          "msg": {
            "example": "bad response",
            "type": "string"
          },
          "status": {
            "example": 500,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcServerPanic": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -6,
            "type": "number"
          },
          "error": {
            "example": "WebrpcServerPanic",
            "type": "string"
          },
          "msg": {
            "example": "server panic",
            "type": "string"
          },
          "status": {
            "example": 500,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcInternalError": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -7,
            "type": "number"
          },
          "error": {
            "example": "WebrpcInternalError",
            "type": "string"
          },
          "msg": {
            "example": "internal error",
            "type": "string"
          },
          "status": {
            "example": 500,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "Builder_DailyComputeByService_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_DailyComputeByService_Response": {
        "properties": {
          "computeStats": {
            "additionalProperties": {
              "description": "[]Chart",
              "items": {
                "$ref": "#/components/schemas/Chart"
              },
              "type": "array"
            },
            "description": "map<string,[]Chart>",
            "type": "object"
          }
        },
        "type": "object"
      },
      "Builder_DailyComputeByType_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_DailyComputeByType_Response": {
        "properties": {
          "computeStats": {
            "description": "[]MultiValueChart",
            "items": {
              "$ref": "#/components/schemas/MultiValueChart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_MarketTxnEventDaily_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_MarketTxnEventDaily_Response": {
        "properties": {
          "marketStats": {
            "description": "[]MultiValueChart",
            "items": {
              "$ref": "#/components/schemas/MultiValueChart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_MarketTxnEventTotal_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_MarketTxnEventTotal_Response": {
        "properties": {
          "marketStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_MarketWalletsDaily_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_MarketWalletsDaily_Response": {
        "properties": {
          "marketStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_MarketWalletsTotal_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_MarketWalletsTotal_Response": {
        "properties": {
          "marketStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_TotalCompute_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_TotalCompute_Response": {
        "properties": {
          "computeStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsByCountry_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsByCountry_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsByDevice_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsByDevice_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsByOS_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsByOS_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsDaily_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsDaily_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsTotal_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsTotal_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsTxnSentDaily_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsTxnSentDaily_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Builder_WalletsTxnSentTotal_Request": {
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/QueryFilter"
          }
        },
        "type": "object"
      },
      "Builder_WalletsTxnSentTotal_Response": {
        "properties": {
          "walletStats": {
            "description": "[]Chart",
            "items": {
              "$ref": "#/components/schemas/Chart"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QueryFilter": {
        "properties": {
          "dateInterval": {
            "$ref": "#/components/schemas/DateInterval"
          },
          "endDate": {
            "type": "string"
          },
          "projectId": {
            "type": "number"
          },
          "startDate": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "MultiValueChart": {
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "additionalProperties": {
              "type": "number"
            },
            "description": "map<string,float64>",
            "type": "object"
          }
        },
        "required": [
          "value",
          "label"
        ],
        "type": "object"
      },
      "Chart": {
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        },
        "required": [
          "value",
          "label"
        ],
        "type": "object"
      },
      "DateInterval": {
        "description": "Represented as uint16 on the server side",
        "enum": [
          "DAY",
          "WEEK",
          "MONTH"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "Project access key for authenticating requests, get an access key at https://sequence.build",
        "in": "header",
        "name": "X-Access-Key",
        "type": "apiKey"
      }
    }
  }
}