{
  "openapi": "3.0.0",
  "info": {
    "description": "Sequence API\n\nThis specification covers the indexer endpoints of the API.",
    "title": "Sequence API - Indexer API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Amoy Mainnet",
      "url": "https://amoy-indexer.sequence.app"
    },
    {
      "description": "Apechain-Testnet Mainnet",
      "url": "https://apechain-testnet-indexer.sequence.app"
    },
    {
      "description": "Arbitrum Mainnet",
      "url": "https://arbitrum-indexer.sequence.app"
    },
    {
      "description": "Arbitrum-Nova Mainnet",
      "url": "https://arbitrum-nova-indexer.sequence.app"
    },
    {
      "description": "Arbitrum-Sepolia Mainnet",
      "url": "https://arbitrum-sepolia-indexer.sequence.app"
    },
    {
      "description": "Astar-Zkevm Mainnet",
      "url": "https://astar-zkevm-indexer.sequence.app"
    },
    {
      "description": "Astar-Zkyoto Mainnet",
      "url": "https://astar-zkyoto-indexer.sequence.app"
    },
    {
      "description": "Avalanche Mainnet",
      "url": "https://avalanche-indexer.sequence.app"
    },
    {
      "description": "Avalanche-Testnet Mainnet",
      "url": "https://avalanche-testnet-indexer.sequence.app"
    },
    {
      "description": "B3-Sepolia Mainnet",
      "url": "https://b3-sepolia-indexer.sequence.app"
    },
    {
      "description": "Base Mainnet",
      "url": "https://base-indexer.sequence.app"
    },
    {
      "description": "Base-Sepolia Mainnet",
      "url": "https://base-sepolia-indexer.sequence.app"
    },
    {
      "description": "Blast Mainnet",
      "url": "https://blast-indexer.sequence.app"
    },
    {
      "description": "Blast-Sepolia Mainnet",
      "url": "https://blast-sepolia-indexer.sequence.app"
    },
    {
      "description": "Borne-Testnet Mainnet",
      "url": "https://borne-testnet-indexer.sequence.app"
    },
    {
      "description": "Bsc Mainnet",
      "url": "https://bsc-indexer.sequence.app"
    },
    {
      "description": "Bsc-Testnet Mainnet",
      "url": "https://bsc-testnet-indexer.sequence.app"
    },
    {
      "description": "Gnosis Mainnet",
      "url": "https://gnosis-indexer.sequence.app"
    },
    {
      "description": "Homeverse Mainnet",
      "url": "https://homeverse-indexer.sequence.app"
    },
    {
      "description": "Homeverse-Testnet Mainnet",
      "url": "https://homeverse-testnet-indexer.sequence.app"
    },
    {
      "description": "Immutable-Zkevm Mainnet",
      "url": "https://immutable-zkevm-indexer.sequence.app"
    },
    {
      "description": "Immutable-Zkevm-Testnet Mainnet",
      "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
    },
    {
      "description": "Imx Mainnet",
      "url": "https://imx-indexer.sequence.app"
    },
    {
      "description": "Imx-Testnet Mainnet",
      "url": "https://imx-testnet-indexer.sequence.app"
    },
    {
      "description": "Mainnet Mainnet",
      "url": "https://mainnet-indexer.sequence.app"
    },
    {
      "description": "Optimism Mainnet",
      "url": "https://optimism-indexer.sequence.app"
    },
    {
      "description": "Optimism-Sepolia Mainnet",
      "url": "https://optimism-sepolia-indexer.sequence.app"
    },
    {
      "description": "Polygon Mainnet",
      "url": "https://polygon-indexer.sequence.app"
    },
    {
      "description": "Polygon-Zkevm Mainnet",
      "url": "https://polygon-zkevm-indexer.sequence.app"
    },
    {
      "description": "Rootnet Mainnet",
      "url": "https://rootnet-indexer.sequence.app"
    },
    {
      "description": "Rootnet-Porcini Mainnet",
      "url": "https://rootnet-porcini-indexer.sequence.app"
    },
    {
      "description": "Sepolia Mainnet",
      "url": "https://sepolia-indexer.sequence.app"
    },
    {
      "description": "Skale-Nebula Mainnet",
      "url": "https://skale-nebula-indexer.sequence.app"
    },
    {
      "description": "Xai Mainnet",
      "url": "https://xai-indexer.sequence.app"
    },
    {
      "description": "Xai-Sepolia Mainnet",
      "url": "https://xai-sepolia-indexer.sequence.app"
    },
    {
      "description": "Xr-Sepolia Mainnet",
      "url": "https://xr-sepolia-indexer.sequence.app"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/rpc/Indexer/AddWebhookListener": {
      "post": {
        "operationId": "indexer-AddWebhookListener",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_AddWebhookListener_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_AddWebhookListener_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "AddWebhookListener",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/FetchTransactionReceipt": {
      "post": {
        "description": "Fetches a single receipt and then will stop the subscription",
        "operationId": "indexer-FetchTransactionReceipt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_FetchTransactionReceipt_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_FetchTransactionReceipt_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "FetchTransactionReceipt",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/FetchTransactionReceiptWithFilter": {
      "post": {
        "description": "Fetches a single receipt with filter and then will stop the subscription",
        "operationId": "indexer-FetchTransactionReceiptWithFilter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_FetchTransactionReceiptWithFilter_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_FetchTransactionReceiptWithFilter_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "FetchTransactionReceiptWithFilter",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetAllWebhookListeners": {
      "post": {
        "operationId": "indexer-GetAllWebhookListeners",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetAllWebhookListeners_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetAllWebhookListeners_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetAllWebhookListeners",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetBalanceUpdates": {
      "post": {
        "description": "Get balance update aggregate values -- useful for syncing balance details of a contract, ie. from Skyweaver",
        "operationId": "indexer-GetBalanceUpdates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetBalanceUpdates_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetBalanceUpdates_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetBalanceUpdates",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetChainID": {
      "post": {
        "description": "Get the chain ID of the indexer",
        "operationId": "indexer-GetChainID",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetChainID_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetChainID_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetChainID",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetEtherBalance": {
      "post": {
        "description": "Queries an ethereum node for the latest and confirm ETH balances",
        "operationId": "indexer-GetEtherBalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetEtherBalance_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetEtherBalance_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetEtherBalance",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetOrderbookOrders": {
      "post": {
        "description": "Fetch orderbook orders",
        "operationId": "indexer-GetOrderbookOrders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetOrderbookOrders_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetOrderbookOrders_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetOrderbookOrders",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetTokenBalances": {
      "post": {
        "description": "GetTokenBalances returns a balance summary/details for a specific account. By default if accountAddress is left empty, it will use the account from the jwt session.\nAlso, if contractAddress is undefined, then it will list all current user coins/collectibles. But, if contractAddress is provided, then it will return the token balances for the contract, this is only useful for 1155, but for other tokens, it can act as a filter for the single balance.",
        "operationId": "indexer-GetTokenBalances",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetTokenBalances_Request"
              },
              "example": {
                  "value": {
                    "accountAddress": "0xE3f350a1ab7e6fC2Da7CCa7F567a77968B607d3b",
                    "includeMetadata": true
                  }
                
            }
          }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetTokenBalances_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetTokenBalances",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetTokenSupplies": {
      "post": {
        "description": "GetTokenSupplies returns the set of tokenIDs used by a contract address, supporting ERC-20, ERC-721, and ERC-1155 contracts, and their respective supply as well.",
        "operationId": "indexer-GetTokenSupplies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetTokenSupplies_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetTokenSupplies_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMetadataCallFailed"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "Amoy Mainnet",
            "url": "https://amoy-indexer.sequence.app"
          },
          {
            "description": "Apechain-Testnet Mainnet",
            "url": "https://apechain-testnet-indexer.sequence.app"
          },
          {
            "description": "Arbitrum Mainnet",
            "url": "https://arbitrum-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Nova Mainnet",
            "url": "https://arbitrum-nova-indexer.sequence.app"
          },
          {
            "description": "Arbitrum-Sepolia Mainnet",
            "url": "https://arbitrum-sepolia-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkevm Mainnet",
            "url": "https://astar-zkevm-indexer.sequence.app"
          },
          {
            "description": "Astar-Zkyoto Mainnet",
            "url": "https://astar-zkyoto-indexer.sequence.app"
          },
          {
            "description": "Avalanche Mainnet",
            "url": "https://avalanche-indexer.sequence.app"
          },
          {
            "description": "Avalanche-Testnet Mainnet",
            "url": "https://avalanche-testnet-indexer.sequence.app"
          },
          {
            "description": "B3-Sepolia Mainnet",
            "url": "https://b3-sepolia-indexer.sequence.app"
          },
          {
            "description": "Base Mainnet",
            "url": "https://base-indexer.sequence.app"
          },
          {
            "description": "Base-Sepolia Mainnet",
            "url": "https://base-sepolia-indexer.sequence.app"
          },
          {
            "description": "Blast Mainnet",
            "url": "https://blast-indexer.sequence.app"
          },
          {
            "description": "Blast-Sepolia Mainnet",
            "url": "https://blast-sepolia-indexer.sequence.app"
          },
          {
            "description": "Borne-Testnet Mainnet",
            "url": "https://borne-testnet-indexer.sequence.app"
          },
          {
            "description": "Bsc Mainnet",
            "url": "https://bsc-indexer.sequence.app"
          },
          {
            "description": "Bsc-Testnet Mainnet",
            "url": "https://bsc-testnet-indexer.sequence.app"
          },
          {
            "description": "Gnosis Mainnet",
            "url": "https://gnosis-indexer.sequence.app"
          },
          {
            "description": "Homeverse Mainnet",
            "url": "https://homeverse-indexer.sequence.app"
          },
          {
            "description": "Homeverse-Testnet Mainnet",
            "url": "https://homeverse-testnet-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm Mainnet",
            "url": "https://immutable-zkevm-indexer.sequence.app"
          },
          {
            "description": "Immutable-Zkevm-Testnet Mainnet",
            "url": "https://immutable-zkevm-testnet-indexer.sequence.app"
          },
          {
            "description": "Imx Mainnet",
            "url": "https://imx-indexer.sequence.app"
          },
          {
            "description": "Imx-Testnet Mainnet",
            "url": "https://imx-testnet-indexer.sequence.app"
          },
          {
            "description": "Mainnet Mainnet",
            "url": "https://mainnet-indexer.sequence.app"
          },
          {
            "description": "Optimism Mainnet",
            "url": "https://optimism-indexer.sequence.app"
          },
          {
            "description": "Optimism-Sepolia Mainnet",
            "url": "https://optimism-sepolia-indexer.sequence.app"
          },
          {
            "description": "Polygon Mainnet",
            "url": "https://polygon-indexer.sequence.app"
          },
          {
            "description": "Polygon-Zkevm Mainnet",
            "url": "https://polygon-zkevm-indexer.sequence.app"
          },
          {
            "description": "Rootnet Mainnet",
            "url": "https://rootnet-indexer.sequence.app"
          },
          {
            "description": "Rootnet-Porcini Mainnet",
            "url": "https://rootnet-porcini-indexer.sequence.app"
          },
          {
            "description": "Sepolia Mainnet",
            "url": "https://sepolia-indexer.sequence.app"
          },
          {
            "description": "Skale-Nebula Mainnet",
            "url": "https://skale-nebula-indexer.sequence.app"
          },
          {
            "description": "Xai Mainnet",
            "url": "https://xai-indexer.sequence.app"
          },
          {
            "description": "Xai-Sepolia Mainnet",
            "url": "https://xai-sepolia-indexer.sequence.app"
          },
          {
            "description": "Xr-Sepolia Mainnet",
            "url": "https://xr-sepolia-indexer.sequence.app"
          }
        ],
        "summary": "GetTokenSupplies",
        "tags": [
          "indexer"
        ]
      }
    },
    "/rpc/Indexer/GetTokenSuppliesMap": {
      "post": {
        "description": "GetTokenSuppliesMap returns the token supplies of ERC-20 and ERC-1155 tokens as requested in the `tokenMap` represented as a map of contractAddress :: []tokenIDs.\nFor an ERC-20 specify tokenIDs as an empty array or [0], for example, { '0xdef': [] } or { '0xdef': [0] } For ERC-1155 pass the array of tokens are strings, ie. { '0xabc': ['1', '2', '3'] }",
        "operationId": "indexer-GetTokenSuppliesMap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Indexer_GetTokenSuppliesMap_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Indexer_GetTokenSuppliesMap_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnauthorized"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorPermissionDenied"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSessionExpired"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorMethodNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorRequestConflict"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorAborted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorTimeout"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorInvalidArgument"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorUnavailable"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorQueryFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResourceExhausted"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorNotFound"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorProjectNotFound"
[...]
