{
  "openapi": "3.0.0",
  "info": {
    "description": "Sequence API\n\nThis specification covers the marketplace endpoints of the API.",
    "title": "Sequence API - Marketplace API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "",
      "url": "https://marketplace.sequence.app"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/rpc/Marketplace/GetOrderbookOrders": {
      "post": {
        "operationId": "marketplace-GetOrderbookOrders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace_GetOrderbookOrders_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace_GetOrderbookOrders_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "GetOrderbookOrders",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Marketplace/GetTopOrders": {
      "post": {
        "operationId": "marketplace-GetTopOrders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace_GetTopOrders_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace_GetTopOrders_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "GetTopOrders",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Marketplace/GetUserActivities": {
      "post": {
        "operationId": "marketplace-GetUserActivities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace_GetUserActivities_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace_GetUserActivities_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "GetUserActivities",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/AcceptRequest": {
      "post": {
        "operationId": "marketplace-AcceptRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_AcceptRequest_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_AcceptRequest_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "AcceptRequest",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/AcceptRequestBatch": {
      "post": {
        "operationId": "marketplace-AcceptRequestBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_AcceptRequestBatch_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_AcceptRequestBatch_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "AcceptRequestBatch",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/CancelRequest": {
      "post": {
        "operationId": "marketplace-CancelRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_CancelRequest_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_CancelRequest_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "CancelRequest",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/CancelRequestBatch": {
      "post": {
        "operationId": "marketplace-CancelRequestBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_CancelRequestBatch_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_CancelRequestBatch_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "CancelRequestBatch",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/CreateRequest": {
      "post": {
        "operationId": "marketplace-CreateRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_CreateRequest_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_CreateRequest_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "CreateRequest",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/CreateRequestBatch": {
      "post": {
        "operationId": "marketplace-CreateRequestBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_CreateRequestBatch_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_CreateRequestBatch_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "CreateRequestBatch",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/GetRequest": {
      "post": {
        "operationId": "marketplace-GetRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_GetRequest_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_GetRequest_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "GetRequest",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/GetRequestBatch": {
      "post": {
        "operationId": "marketplace-GetRequestBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_GetRequestBatch_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_GetRequestBatch_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "GetRequestBatch",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/GetRoyaltyInfo": {
      "post": {
        "operationId": "marketplace-GetRoyaltyInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_GetRoyaltyInfo_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_GetRoyaltyInfo_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "GetRoyaltyInfo",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/IsRequestValid": {
      "post": {
        "operationId": "marketplace-IsRequestValid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_IsRequestValid_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_IsRequestValid_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "IsRequestValid",
        "tags": [
          "marketplace"
        ]
      }
    },
    "/rpc/Orderbook/IsRequestValidBatch": {
      "post": {
        "operationId": "marketplace-IsRequestValidBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Orderbook_IsRequestValidBatch_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orderbook_IsRequestValidBatch_Response"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcEndpoint"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcRequestFailed"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRoute"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadMethod"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcClientDisconnected"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcStreamLost"
                    }
                  ]
                }
              }
            },
            "description": "Client error"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcBadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcServerPanic"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorWebrpcInternalError"
                    }
                  ]
                }
              }
            },
            "description": "Server error"
          }
        },
        "servers": [
          {
            "description": "",
            "url": "https://marketplace.sequence.app"
          }
        ],
        "summary": "IsRequestValidBatch",
        "tags": [
          "marketplace"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Marketplace_GetOrderbookOrders_Request": {
        "properties": {
          "beforeExpiryTimestamp": {
            "type": "number"
          },
          "collectionAddress": {
            "type": "string"
          },
          "currencyAddresses": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "filters": {
            "$ref": "#/components/schemas/OrderbookOrderFilter"
          },
          "metadataFilter": {
            "$ref": "#/components/schemas/Filter"
          },
          "orderStatuses": {
            "description": "[]OrderStatus",
            "items": {
              "$ref": "#/components/schemas/OrderStatus"
            },
            "type": "array"
          },
          "orderbookContractAddress": {
            "type": "string"
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "type": "object"
      },
      "Marketplace_GetOrderbookOrders_Response": {
        "properties": {
          "orders": {
            "description": "[]OrderbookOrder",
            "items": {
              "$ref": "#/components/schemas/OrderbookOrder"
            },
            "type": "array"
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "type": "object"
      },
      "ErrorWebrpcEndpoint": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": 0,
            "type": "number"
          },
          "error": {
            "example": "WebrpcEndpoint",
            "type": "string"
          },
          "msg": {
            "example": "endpoint error",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcRequestFailed": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -1,
            "type": "number"
          },
          "error": {
            "example": "WebrpcRequestFailed",
            "type": "string"
          },
          "msg": {
            "example": "request failed",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadRoute": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -2,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadRoute",
            "type": "string"
          },
          "msg": {
            "example": "bad route",
            "type": "string"
          },
          "status": {
            "example": 404,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadMethod": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -3,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadMethod",
            "type": "string"
          },
          "msg": {
            "example": "bad method",
            "type": "string"
          },
          "status": {
            "example": 405,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadRequest": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -4,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadRequest",
            "type": "string"
          },
          "msg": {
            "example": "bad request",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcClientDisconnected": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -8,
            "type": "number"
          },
          "error": {
            "example": "WebrpcClientDisconnected",
            "type": "string"
          },
          "msg": {
            "example": "client disconnected",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcStreamLost": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -9,
            "type": "number"
          },
          "error": {
            "example": "WebrpcStreamLost",
            "type": "string"
          },
          "msg": {
            "example": "stream lost",
            "type": "string"
          },
          "status": {
            "example": 400,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcBadResponse": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -5,
            "type": "number"
          },
          "error": {
            "example": "WebrpcBadResponse",
            "type": "string"
          },
          "msg": {
            "example": "bad response",
            "type": "string"
          },
          "status": {
            "example": 500,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcServerPanic": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -6,
            "type": "number"
          },
          "error": {
            "example": "WebrpcServerPanic",
            "type": "string"
          },
          "msg": {
            "example": "server panic",
            "type": "string"
          },
          "status": {
            "example": 500,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "ErrorWebrpcInternalError": {
        "properties": {
          "cause": {
            "type": "string"
          },
          "code": {
            "example": -7,
            "type": "number"
          },
          "error": {
            "example": "WebrpcInternalError",
            "type": "string"
          },
          "msg": {
            "example": "internal error",
            "type": "string"
          },
          "status": {
            "example": 500,
            "type": "number"
          }
        },
        "required": [
          "error",
          "code",
          "msg",
          "status"
        ],
        "type": "object"
      },
      "Marketplace_GetTopOrders_Request": {
        "properties": {
          "collectionAddress": {
            "type": "string"
          },
          "currencyAddresses": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "excludeUser": {
            "type": "string"
          },
          "isListing": {
            "type": "boolean"
          },
          "orderbookContractAddress": {
            "type": "string"
          },
          "priceSort": {
            "$ref": "#/components/schemas/SortOrder"
          },
          "tokenIDs": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Marketplace_GetTopOrders_Response": {
        "properties": {
          "orders": {
            "description": "[]OrderbookOrder",
            "items": {
              "$ref": "#/components/schemas/OrderbookOrder"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Marketplace_GetUserActivities_Request": {
        "properties": {
          "collectionAddress": {
            "type": "string"
          },
          "currencyAddresses": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "orderbookContractAddress": {
            "type": "string"
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          },
          "tokenIDs": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "userAddress": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Marketplace_GetUserActivities_Response": {
        "properties": {
          "orders": {
            "description": "[]OrderbookOrder",
            "items": {
              "$ref": "#/components/schemas/OrderbookOrder"
            },
            "type": "array"
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "type": "object"
      },
      "Orderbook_AcceptRequest_Request": {
        "properties": {
          "additionalFeeRecipients": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "additionalFees": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "quantity": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_AcceptRequest_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_AcceptRequestBatch_Request": {
        "properties": {
          "additionalFeeRecipients": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "additionalFees": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "quantities": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "recipients": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "requestIds": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Orderbook_AcceptRequestBatch_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_CancelRequest_Request": {
        "properties": {
          "requestId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_CancelRequest_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_CancelRequestBatch_Request": {
        "properties": {
          "requestIds": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Orderbook_CancelRequestBatch_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_CreateRequest_Request": {
        "properties": {
          "request": {
            "$ref": "#/components/schemas/ISequenceMarketStorageRequestParams"
          }
        },
        "type": "object"
      },
      "Orderbook_CreateRequest_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_CreateRequestBatch_Request": {
        "properties": {
          "requests": {
            "description": "[]ISequenceMarketStorageRequestParams",
            "items": {
              "$ref": "#/components/schemas/ISequenceMarketStorageRequestParams"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Orderbook_CreateRequestBatch_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_GetRequest_Request": {
        "properties": {
          "requestId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_GetRequest_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_GetRequestBatch_Request": {
        "properties": {
          "requestIds": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Orderbook_GetRequestBatch_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_GetRoyaltyInfo_Request": {
        "properties": {
          "cost": {
            "type": "string"
          },
          "tokenContract": {
            "type": "string"
          },
          "tokenId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_GetRoyaltyInfo_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_IsRequestValid_Request": {
        "properties": {
          "quantity": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_IsRequestValid_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Orderbook_IsRequestValidBatch_Request": {
        "properties": {
          "quantities": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "requestIds": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Orderbook_IsRequestValidBatch_Response": {
        "properties": {
          "output": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OrderbookOrderFilter": {
        "properties": {
          "isListing": {
            "type": "boolean"
          },
          "tokenIds": {
            "description": "[]string",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "userAddress": {
            "type": "string"
          }
        },
        "required": [
          "tokenIds"
        ],
        "type": "object"
      },
      "Filter": {
        "properties": {
          "properties": {
            "description": "[]PropertyFilter",
            "items": {
              "$ref": "#/components/schemas/PropertyFilter"
            },
            "type": "array"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OrderStatus": {
        "description": "Represented as uint32 on the server side",
        "enum": [
          "OPEN",
          "CLOSED",
          "CANCELLED"
        ],
        "type": "string"
      },
      "Page": {
        "properties": {
          "after": {
            "type": "object"
          },
          "before": {
            "type": "object"
          },
          "column": {
            "type": "string"
          },
          "more": {
            "type": "boolean"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "sort": {
            "description": "[]SortBy",
            "items": {
              "$ref": "#/components/schemas/SortBy"
            },
            "type": "array"
          },
          "totalRecords": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "OrderbookOrder": {
        "properties": {
          "createdAt": {
            "type": "number"
          },
          "createdBy": {
            "type": "string"
          },
          "currencyAddress": {
            "type": "string"
          },
          "expiry": {
            "type": "string"
          },
          "isListing": {
            "type": "boolean"
          },
          "orderId": {
            "type": "string"
          },
          "orderStatus": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "orderbookContractAddress": {
            "type": "string"
          },
          "pricePerToken": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "quantityRemaining": {
            "type": "string"
          },
          "tokenContract": {
            "type": "string"
          },
          "tokenId": {
            "type": "string"
          }
        },
        "required": [
          "orderId",
          "tokenContract",
          "tokenId",
          "isListing",
          "quantity",
          "quantityRemaining",
          "currencyAddress",
          "pricePerToken",
          "expiry",
          "orderStatus",
          "createdBy",
          "createdAt",
          "orderbookContractAddress"
        ],
        "type": "object"
      },
      "SortOrder": {
        "description": "Represented as uint32 on the server side",
        "enum": [
          "DESC",
          "ASC"
        ],
        "type": "string"
      },
      "ISequenceMarketStorageRequestParams": {
        "properties": {
          "currency": {
            "type": "string"
          },
          "expiry": {
            "type": "string"
          },
          "isERC1155": {
            "type": "boolean"
          },
          "isListing": {
            "type": "boolean"
          },
          "pricePerToken": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "tokenContract": {
            "type": "string"
          },
          "tokenId": {
            "type": "string"
          }
        },
        "required": [
          "isListing",
          "isERC1155",
          "tokenContract",
          "tokenId",
          "quantity",
          "expiry",
          "currency",
          "pricePerToken"
        ],
        "type": "object"
      },
      "PropertyFilter": {
        "properties": {
          "max": {
            "type": "number"
          },
          "min": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/PropertyType"
          },
          "values": {
            "description": "[]any",
            "items": {
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "SortBy": {
        "properties": {
          "column": {
            "type": "string"
          },
          "order": {
            "$ref": "#/components/schemas/SortOrder"
          }
        },
        "required": [
          "column",
          "order"
        ],
        "type": "object"
      },
      "PropertyType": {
        "description": "Represented as uint32 on the server side",
        "enum": [
          "INT",
          "STRING",
          "ARRAY",
          "GENERIC"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "Project access key for authenticating requests, get an access key at https://sequence.build",
        "in": "header",
        "name": "X-Access-Key",
        "type": "apiKey"
      }
    }
  }
}