{"openapi":"3.0.0","info":{"title":"API de Analytics","version":""},"servers":[{"url":"https://api.sequence.app","description":"Analytics"}],"components":{"schemas":{"ErrorWebrpcEndpoint":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcEndpoint"},"code":{"type":"número","example":"0"},"msg":{"type":"cadena","example":"error de endpoint"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcRequestFailed":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcRequestFailed"},"code":{"type":"número","example":"-1"},"msg":{"type":"cadena","example":"solicitud fallida"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcBadRoute":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadRoute"},"code":{"type":"número","example":"-2"},"msg":{"type":"cadena","example":"ruta incorrecta"},"cause":{"type":"cadena"},"status":{"type":"número","example":"404"}}},"ErrorWebrpcBadMethod":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadMethod"},"code":{"type":"número","example":"-3"},"msg":{"type":"cadena","example":"método incorrecto"},"cause":{"type":"cadena"},"status":{"type":"número","example":"405"}}},"ErrorWebrpcBadRequest":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadRequest"},"code":{"type":"número","example":"-4"},"msg":{"type":"cadena","example":"solicitud incorrecta"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcBadResponse":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadResponse"},"code":{"type":"número","example":"-5"},"msg":{"type":"cadena","example":"respuesta incorrecta"},"cause":{"type":"cadena"},"status":{"type":"número","example":"500"}}},"ErrorWebrpcServerPanic":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcServerPanic"},"code":{"type":"número","example":"-6"},"msg":{"type":"cadena","example":"pánico del servidor"},"cause":{"type":"cadena"},"status":{"type":"número","example":"500"}}},"ErrorWebrpcInternalError":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcInternalError"},"code":{"type":"número","example":"-7"},"msg":{"type":"cadena","example":"error interno"},"cause":{"type":"cadena"},"status":{"type":"número","example":"500"}}},"ErrorWebrpcClientAborted":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcClientAborted"},"code":{"type":"número","example":"-8"},"msg":{"type":"cadena","example":"solicitud cancelada por el cliente"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcStreamLost":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcStreamLost"},"code":{"type":"número","example":"-9"},"msg":{"type":"cadena","example":"flujo perdido"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcStreamFinished":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcStreamFinished"},"code":{"type":"número","example":"-10"},"msg":{"type":"cadena","example":"flujo finalizado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"200"}}},"AnalyticsProjectType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["TODOS","CREADO","RELACIONADO"]},"DateInterval":{"type":"cadena","description":"Representado como uint16 en el servidor","enum":["DÍA","SEMANA","MES"]},"QueryFilter":{"type":"objeto","properties":{"projectId":{"type":"número"},"ecosystemId":{"type":"número"},"startDate":{"type":"cadena"},"endDate":{"type":"cadena"},"dateInterval":{"$ref":"#/components/schemas/DateInterval"},"collections":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"tokenId":{"type":"cadena"},"projectType":{"$ref":"#/components/schemas/AnalyticsProjectType"}}},"Chart":{"type":"objeto","required":["valor","etiqueta"],"properties":{"value":{"type":"número"},"label":{"type":"cadena"}}},"ChartWithPercentage":{"type":"objeto","required":["etiqueta","total","porcentaje"],"properties":{"label":{"type":"cadena"},"total":{"type":"número"},"percentage":{"type":"número"}}},"MultiValueChart":{"type":"objeto","required":["valor","etiqueta"],"properties":{"value":{"type":"objeto","description":"map<string,float64>","additionalProperties":{"type":"número"}},"label":{"type":"cadena"}}},"QueryResult":{"type":"objeto","required":["colección","origen","volumenUSD","númeroDeTokens","númeroDeTransacciones"],"properties":{"collection":{"type":"cadena"},"source":{"type":"cadena"},"tokenId":{"type":"cadena"},"volumeUSD":{"type":"número"},"numTokens":{"type":"número"},"numTxns":{"type":"número"}}},"TokenTransactionData":{"type":"objeto","required":["idDeColección","nombreDeColección","idDeToken","nombreDeToken","cantidadesDeÍtems"],"properties":{"collectionId":{"type":"cadena"},"collectionName":{"type":"cadena"},"tokenId":{"type":"cadena"},"tokenName":{"type":"cadena"},"itemQuantities":{"type":"número"}}},"TrailsTransactionByMode":{"type":"objeto","required":["modo","usuariosÚnicosTransaccionando","pagosIniciados","pagosCompletados","porcentajeDeCompletitud","tarifasTotales","volumenTotal"],"properties":{"mode":{"type":"cadena"},"uniqueTransactingUsers":{"type":"número"},"paymentsStarted":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"totalFees":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionByRoute":{"type":"objeto","required":["nombreDeCadenaOrigen","nombreDeCadenaDestino","usuariosÚnicosTransaccionando","pagosIniciados","pagosCompletados","porcentajeDeCompletitud","duraciónPromedioDeTransacción","tarifasDeGas","tarifasTotales","volumenTotal"],"properties":{"origChainName":{"type":"cadena"},"destChainName":{"type":"cadena"},"uniqueTransactingUsers":{"type":"número"},"paymentsStarted":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"avgTxnDuration":{"type":"número"},"gasFees":{"type":"número"},"totalFees":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionByProvider":{"type":"objeto","required":["proveedorDeSwap","proveedorDePuente","usuariosÚnicosTransaccionando","pagosIniciados","pagosCompletados","porcentajeDeCompletitud","duraciónPromedioDeTransacción","tarifasDelProveedor","tarifasTotales","volumenTotal"],"properties":{"providerSwap":{"type":"cadena"},"providerBridge":{"type":"cadena"},"uniqueTransactingUsers":{"type":"número"},"paymentsStarted":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"avgTxnDuration":{"type":"número"},"providerFees":{"type":"número"},"totalFees":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionByCountry":{"type":"objeto","required":["país","walletsTransaccionando","pagosCompletados","porcentajeDeCompletitud","volumenTotal"],"properties":{"country":{"type":"cadena"},"transactingWallets":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionDetail":{"type":"objeto","required":["fecha","idDeCheckout","país","proveedor","nombreDeHost","hashDeTransacciónOrigen","hashDeTransacciónDestino","nombreDeCadenaOrigen","nombreDeCadenaDestino","símboloDeTokenOrigen","símboloDeTokenDestino","tarifaDelProveedor","tarifaTotal","volumenTotal"],"properties":{"date":{"type":"cadena"},"checkoutId":{"type":"cadena"},"country":{"type":"cadena"},"provider":{"type":"cadena"},"hostname":{"type":"cadena"},"originTxHash":{"type":"cadena"},"destTxHash":{"type":"cadena"},"origChainName":{"type":"cadena"},"destChainName":{"type":"cadena"},"origTokenSymbol":{"type":"cadena"},"destTokenSymbol":{"type":"cadena"},"providerFee":{"type":"número"},"totalFee":{"type":"número"},"totalVolume":{"type":"número"}}},"Analytics_TotalCompute_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ComputeByService_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyComputeByType_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyComputeByService_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_GetOrderbookCollections_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_CreditsPerDailyActiveUser_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_CreditsPerMonthlyActiveUser_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTotal_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsDaily_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsMonthly_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByCountry_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByDevice_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByBrowser_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByOS_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByType_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTxnSentTotal_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTxnSentDaily_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsTxnSentMonthly_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WalletsByOrigin_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ConnectionsByOrigin_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketTxnEventTotal_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketTxnEventDaily_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketTxnEventMonthly_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketWalletsTotal_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketWalletsDaily_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketWalletsMonthly_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalWalletTxnConversionRate_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyWalletTxnConversionRate_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyWalletTxnConversionRate_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyNewWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyNewWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalNewWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageDAU_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_RollingStickiness_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageStickiness_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D1RetentionByCohort_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D3RetentionByCohort_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D7RetentionByCohort_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D14RetentionByCohort_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_D28RetentionByCohort_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD1Retention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD3Retention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD7Retention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD14Retention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageD28Retention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyActiveWalletsBySegment_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyTransactingWalletsBySegment_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WeeklyActiveWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalViews_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyViews_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ViewsByCountry_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ViewsByDevice_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ViewsByOS_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyUniqueVisitors_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyUniqueVisitors_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ActiveSessions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_UserEvents_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalProjects_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalProjectsCreated_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalActiveProjects_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalDevelopers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemActiveDevelopers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemDailyActiveWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyActiveWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemDailyNewProjects_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyNewProjects_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalContracts_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyContracts_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByActiveWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByNewWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsCreated_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyActiveEcoWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemDailyNewWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyNewWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByDeveloperActivity_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByNewDevelopers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalMarketplaces_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyMarketplaces_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemActiveMarketplaces_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByCountry_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByDevice_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByOS_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByBrowser_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByType_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemWalletsByLoginMethod_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTotalTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemMonthlyTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_EcosystemTopProjectsByTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyProjectTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionsByChain_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionsByCollection_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionsByToken_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectTransactionsByCollection_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyProjectVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectVolumeByChain_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectVolumeByCollection_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalProjectVolumeByToken_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyProjectVolumeByCollection_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TransactionVolumePerUser_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TransactionVolumePerTransactingUser_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyUniqueTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyUniqueTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TransactingUserConversion_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyTransactingUserConversion_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyTransactingUserConversion_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_RepeatingTransactingUserPercentage_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_WeekOnWeekTransactingUserRetention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthOnMonthTransactingUserRetention_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AvgBalanceOfSequenceWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AvgBalanceOfTransactingSequenceWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyMarketplaceTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyMarketplaceTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsTransacted_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsPurchased_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsSold_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsListed_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsOffered_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceTransactingUsers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyMarketplaceVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyMarketplaceVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageMarketplaceTransactionPrice_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceTradedCollections_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TopMarketplaceBuyers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TopMarketplaceSellers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MarketplaceCollectionTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyShopTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyShopTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopItemsPurchased_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopPurchasers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_DailyShopVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_MonthlyShopVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_AverageShopPurchasePrice_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TopShopBuyers_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ShopCollectionTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalMarketplaceItemsSoldByToken_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalShopItemsSoldByToken_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTotalTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTotalTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTotalUniqueTransactingWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsAverageTransactionDuration_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsPaymentCompletionPercentage_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByDomain_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByAmount_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyTransactingWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyActiveWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyAverageTransactionDuration_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsDailyPaymentCompletionPercentage_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyTransactionVolume_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyTransactingWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyActiveWallets_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyAverageTransactionDuration_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsMonthlyPaymentCompletionPercentage_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByMode_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByRoute_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByProvider_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTransactionsByCountry_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TrailsTopTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_ExportTrailsTransactions_Request":{"type":"objeto","properties":{"filter":{"$ref":"#/components/schemas/QueryFilter"}}},"Analytics_TotalCompute_Response":{"type":"objeto","properties":{"computeStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_ComputeByService_Response":{"type":"objeto","properties":{"computeStats":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_DailyComputeByType_Response":{"type":"objeto","properties":{"computeStats":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_DailyComputeByService_Response":{"type":"objeto","properties":{"computeStats":{"type":"objeto","description":"map<string,[]Chart>","additionalProperties":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_GetOrderbookCollections_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]ResultadoConsulta","items":{"$ref":"#/components/schemas/QueryResult"}}}},"Analytics_CreditsPerDailyActiveUser_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_CreditsPerMonthlyActiveUser_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_WalletsTotal_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsDaily_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsMonthly_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsByCountry_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByDevice_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByBrowser_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByOS_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsByType_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_WalletsTxnSentTotal_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsTxnSentDaily_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsTxnSentMonthly_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WalletsByOrigin_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_ConnectionsByOrigin_Response":{"type":"objeto","properties":{"walletStats":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_MarketTxnEventTotal_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketTxnEventDaily_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_MarketTxnEventMonthly_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketWalletsTotal_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketWalletsDaily_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketWalletsMonthly_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalWalletTxnConversionRate_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyWalletTxnConversionRate_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyWalletTxnConversionRate_Response":{"type":"objeto","properties":{"marketStats":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyNewWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyNewWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalNewWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageDAU_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_RollingStickiness_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageStickiness_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D1RetentionByCohort_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D3RetentionByCohort_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D7RetentionByCohort_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D14RetentionByCohort_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_D28RetentionByCohort_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD1Retention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD3Retention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD7Retention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD14Retention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageD28Retention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyActiveWalletsBySegment_Response":{"type":"objeto","properties":{"data":{"type":"objeto","description":"map<string,[]Chart>","additionalProperties":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_MonthlyTransactingWalletsBySegment_Response":{"type":"objeto","properties":{"data":{"type":"objeto","description":"map<string,[]Chart>","additionalProperties":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_WeeklyActiveWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalViews_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyViews_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_ViewsByCountry_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_ViewsByDevice_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_ViewsByOS_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_DailyUniqueVisitors_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_MonthlyUniqueVisitors_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_ActiveSessions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_UserEvents_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalProjects_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalProjectsCreated_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalActiveProjects_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalDevelopers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemActiveDevelopers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemDailyActiveWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyActiveWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemDailyNewProjects_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyNewProjects_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalContracts_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyContracts_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTopProjectsByActiveWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByNewWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemWalletsCreated_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyActiveEcoWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemDailyNewWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyNewWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTopProjectsByDeveloperActivity_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByNewDevelopers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTotalMarketplaces_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyMarketplaces_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemActiveMarketplaces_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemWalletsByCountry_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByDevice_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByOS_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByBrowser_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByType_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoConPorcentaje","items":{"$ref":"#/components/schemas/ChartWithPercentage"}}}},"Analytics_EcosystemWalletsByLoginMethod_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTotalTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemMonthlyTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_EcosystemTopProjectsByTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_EcosystemTopProjectsByTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_TotalProjectTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyProjectTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectTransactionsByChain_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectTransactionsByCollection_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectTransactionsByToken_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectTransactionsByCollection_Response":{"type":"objeto","properties":{"data":{"type":"objeto","description":"map<string,[]Chart>","additionalProperties":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_TotalProjectTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyProjectVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectVolumeByChain_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectVolumeByCollection_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalProjectVolumeByToken_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyProjectVolumeByCollection_Response":{"type":"objeto","properties":{"data":{"type":"objeto","description":"map<string,[]Chart>","additionalProperties":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}}},"Analytics_TransactionVolumePerUser_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TransactionVolumePerTransactingUser_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyUniqueTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyUniqueTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TransactingUserConversion_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyTransactingUserConversion_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyTransactingUserConversion_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_RepeatingTransactingUserPercentage_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_WeekOnWeekTransactingUserRetention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthOnMonthTransactingUserRetention_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AvgBalanceOfSequenceWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AvgBalanceOfTransactingSequenceWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyMarketplaceTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyMarketplaceTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsTransacted_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsPurchased_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsSold_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsListed_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceItemsOffered_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceTransactingUsers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyMarketplaceVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyMarketplaceVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageMarketplaceTransactionPrice_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalMarketplaceTradedCollections_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TopMarketplaceBuyers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TopMarketplaceSellers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MarketplaceCollectionTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_TotalShopTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyShopTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyShopTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalShopItemsPurchased_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalShopPurchasers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TotalShopVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_DailyShopVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_MonthlyShopVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_AverageShopPurchasePrice_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TopShopBuyers_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_ShopCollectionTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]GráficoMultiValor","items":{"$ref":"#/components/schemas/MultiValueChart"}}}},"Analytics_TotalMarketplaceItemsSoldByToken_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]DatosTransacciónToken","items":{"$ref":"#/components/schemas/TokenTransactionData"}}}},"Analytics_TotalShopItemsSoldByToken_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]DatosTransacciónToken","items":{"$ref":"#/components/schemas/TokenTransactionData"}}}},"Analytics_TrailsTotalTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTotalTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTotalUniqueTransactingWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsAverageTransactionDuration_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsPaymentCompletionPercentage_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTransactionsByDomain_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTransactionsByAmount_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyTransactingWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyActiveWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyAverageTransactionDuration_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsDailyPaymentCompletionPercentage_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyTransactionVolume_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyTransactingWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyActiveWallets_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyAverageTransactionDuration_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsMonthlyPaymentCompletionPercentage_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]Gráfico","items":{"$ref":"#/components/schemas/Chart"}}}},"Analytics_TrailsTransactionsByMode_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]TransacciónTrailsPorModo","items":{"$ref":"#/components/schemas/TrailsTransactionByMode"}}}},"Analytics_TrailsTransactionsByRoute_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]TransacciónTrailsPorRuta","items":{"$ref":"#/components/schemas/TrailsTransactionByRoute"}}}},"Analytics_TrailsTransactionsByProvider_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]TransacciónTrailsPorProveedor","items":{"$ref":"#/components/schemas/TrailsTransactionByProvider"}}}},"Analytics_TrailsTransactionsByCountry_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]TransacciónTrailsPorPaís","items":{"$ref":"#/components/schemas/TrailsTransactionByCountry"}}}},"Analytics_TrailsTopTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]DetalleTransacciónTrails","items":{"$ref":"#/components/schemas/TrailsTransactionDetail"}}}},"Analytics_ExportTrailsTransactions_Response":{"type":"objeto","properties":{"data":{"type":"arreglo","description":"[]DetalleTransacciónTrails","items":{"$ref":"#/components/schemas/TrailsTransactionDetail"}}}}}},"paths":{"/rpc/Analytics/TotalCompute":{"post":{"operationId":"Analytics-TotalCompute","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalCompute_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalCompute_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/ComputeByService":{"post":{"operationId":"Analytics-ComputeByService","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ComputeByService_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ComputeByService_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyComputeByType":{"post":{"operationId":"Analytics-DailyComputeByType","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByType_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByType_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyComputeByService":{"post":{"operationId":"Analytics-DailyComputeByService","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByService_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyComputeByService_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/GetOrderbookCollections":{"post":{"operationId":"Analytics-GetOrderbookCollections","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_GetOrderbookCollections_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_GetOrderbookCollections_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/CreditsPerDailyActiveUser":{"post":{"operationId":"Analytics-CréditosPorUsuarioActivoDiario","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerDailyActiveUser_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerDailyActiveUser_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/CreditsPerMonthlyActiveUser":{"post":{"operationId":"Analytics-CréditosPorUsuarioActivoMensual","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerMonthlyActiveUser_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_CreditsPerMonthlyActiveUser_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTotal":{"post":{"operationId":"Analytics-TotalWallets","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTotal_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsDaily":{"post":{"operationId":"Analytics-WalletsDiarias","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsDaily_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsMonthly":{"post":{"operationId":"Analytics-WalletsMensuales","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsMonthly_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByCountry":{"post":{"operationId":"Analytics-WalletsPorPaís","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByCountry_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByCountry_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByDevice":{"post":{"operationId":"Analytics-WalletsPorDispositivo","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByDevice_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByDevice_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByBrowser":{"post":{"operationId":"Analytics-WalletsPorNavegador","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByBrowser_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByBrowser_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByOS":{"post":{"operationId":"Analytics-WalletsPorSO","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOS_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOS_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByType":{"post":{"operationId":"Analytics-WalletsPorTipo","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByType_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByType_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTxnSentTotal":{"post":{"operationId":"Analytics-TotalTransaccionesEnviadasWallets","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentTotal_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTxnSentDaily":{"post":{"operationId":"Analytics-TransaccionesEnviadasWalletsDiarias","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentDaily_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsTxnSentMonthly":{"post":{"operationId":"Analytics-TransaccionesEnviadasWalletsMensuales","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsTxnSentMonthly_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/WalletsByOrigin":{"post":{"operationId":"Analytics-WalletsPorOrigen","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOrigin_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_WalletsByOrigin_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/ConnectionsByOrigin":{"post":{"operationId":"Analytics-ConexionesPorOrigen","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ConnectionsByOrigin_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_ConnectionsByOrigin_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketTxnEventTotal":{"post":{"operationId":"Analytics-TotalEventosTransacciónMercado","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventTotal_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketTxnEventDaily":{"post":{"operationId":"Analytics-EventosTransacciónMercadoDiarios","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventDaily_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketTxnEventMonthly":{"post":{"operationId":"Analytics-EventosTransacciónMercadoMensuales","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketTxnEventMonthly_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketWalletsTotal":{"post":{"operationId":"Analytics-TotalWalletsMercado","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsTotal_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsTotal_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketWalletsDaily":{"post":{"operationId":"Analytics-WalletsDeMercadoDiarias","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsDaily_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsDaily_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MarketWalletsMonthly":{"post":{"operationId":"Analytics-WalletsDeMercadoMensuales","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsMonthly_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MarketWalletsMonthly_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/TotalWalletTxnConversionRate":{"post":{"operationId":"Analytics-TasaConversiónTotalTransaccionesWallet","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalWalletTxnConversionRate_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_TotalWalletTxnConversionRate_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyWalletTxnConversionRate":{"post":{"operationId":"Analytics-TasaConversiónDiariaTransaccionesWallet","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyWalletTxnConversionRate_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyWalletTxnConversionRate_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MonthlyWalletTxnConversionRate":{"post":{"operationId":"Analytics-TasaConversiónMensualTransaccionesWallet","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyWalletTxnConversionRate_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyWalletTxnConversionRate_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/DailyNewWallets":{"post":{"operationId":"Analytics-NuevasWalletsDiarias","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyNewWallets_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_DailyNewWallets_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMethod"},{"$ref":"#/components/schemas/ErrorWebrpcBadRequest"},{"$ref":"#/components/schemas/ErrorWebrpcClientAborted"},{"$ref":"#/components/schemas/ErrorWebrpcStreamLost"}]}}}},"5XX":{"description":"Error del servidor","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcBadResponse"},{"$ref":"#/components/schemas/ErrorWebrpcServerPanic"},{"$ref":"#/components/schemas/ErrorWebrpcInternalError"}]}}}}}}},"/rpc/Analytics/MonthlyNewWallets":{"post":{"operationId":"Analytics-NuevasWalletsMensuales","tags":["Analytics"],"summary":"","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyNewWallets_Request"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Analytics_MonthlyNewWallets_Response"}}}},"4XX":{"description":"Error del cliente","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorWebrpcEndpoint"},{"$ref":"#/components/schemas/ErrorWebrpcRequestFailed"},{"$ref":"#/components/schemas/ErrorWebrpcBadRoute"},{"$ref":"#/components/schemas/ErrorWebrpcBadMe
[...]
