{"openapi":"3.0.0","info":{"title":"API de Analytics","version":""},"servers":[{"url":"https://api.sequence.app","description":"Analytics"}],"components":{"schemas":{"ErrorWebrpcEndpoint":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcEndpoint"},"code":{"type":"número","example":"0"},"msg":{"type":"cadena","example":"error de endpoint"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcRequestFailed":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcRequestFailed"},"code":{"type":"número","example":"-1"},"msg":{"type":"cadena","example":"solicitud fallida"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcBadRoute":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadRoute"},"code":{"type":"número","example":"-2"},"msg":{"type":"cadena","example":"ruta incorrecta"},"cause":{"type":"cadena"},"status":{"type":"número","example":"404"}}},"ErrorWebrpcBadMethod":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadMethod"},"code":{"type":"número","example":"-3"},"msg":{"type":"cadena","example":"método incorrecto"},"cause":{"type":"cadena"},"status":{"type":"número","example":"405"}}},"ErrorWebrpcBadRequest":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadRequest"},"code":{"type":"número","example":"-4"},"msg":{"type":"cadena","example":"solicitud incorrecta"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcBadResponse":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcBadResponse"},"code":{"type":"número","example":"-5"},"msg":{"type":"cadena","example":"respuesta incorrecta"},"cause":{"type":"cadena"},"status":{"type":"número","example":"500"}}},"ErrorWebrpcServerPanic":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcServerPanic"},"code":{"type":"número","example":"-6"},"msg":{"type":"cadena","example":"pánico del servidor"},"cause":{"type":"cadena"},"status":{"type":"número","example":"500"}}},"ErrorWebrpcInternalError":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcInternalError"},"code":{"type":"número","example":"-7"},"msg":{"type":"cadena","example":"error interno"},"cause":{"type":"cadena"},"status":{"type":"número","example":"500"}}},"ErrorWebrpcClientAborted":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcClientAborted"},"code":{"type":"número","example":"-8"},"msg":{"type":"cadena","example":"solicitud cancelada por el cliente"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcStreamLost":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcStreamLost"},"code":{"type":"número","example":"-9"},"msg":{"type":"cadena","example":"flujo perdido"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorWebrpcStreamFinished":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"WebrpcStreamFinished"},"code":{"type":"número","example":"-10"},"msg":{"type":"cadena","example":"flujo finalizado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"200"}}},"ErrorUnauthorized":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"No autorizado"},"code":{"type":"número","example":"1000"},"msg":{"type":"cadena","example":"Acceso no autorizado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"401"}}},"ErrorPermissionDenied":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"Permiso denegado"},"code":{"type":"número","example":"1001"},"msg":{"type":"cadena","example":"Permiso denegado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"403"}}},"ErrorSessionExpired":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"SessionExpired"},"code":{"type":"número","example":"1002"},"msg":{"type":"cadena","example":"Sesión expirada"},"cause":{"type":"cadena"},"status":{"type":"número","example":"403"}}},"ErrorMethodNotFound":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"Método no encontrado"},"code":{"type":"número","example":"1003"},"msg":{"type":"cadena","example":"Método no encontrado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"404"}}},"ErrorRequestConflict":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"Conflicto en la solicitud"},"code":{"type":"número","example":"1004"},"msg":{"type":"cadena","example":"Conflicto con el recurso de destino"},"cause":{"type":"cadena"},"status":{"type":"número","example":"409"}}},"ErrorServiceDisabled":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"ServiceDisabled"},"code":{"type":"número","example":"1005"},"msg":{"type":"cadena","example":"Servicio deshabilitado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"404"}}},"ErrorTimeout":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"Timeout"},"code":{"type":"número","example":"2000"},"msg":{"type":"cadena","example":"La solicitud excedió el tiempo de espera"},"cause":{"type":"cadena"},"status":{"type":"número","example":"408"}}},"ErrorInvalidArgument":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"Argumento inválido"},"code":{"type":"número","example":"2001"},"msg":{"type":"cadena","example":"Argumento inválido"},"cause":{"type":"cadena"},"status":{"type":"número","example":"400"}}},"ErrorNotFound":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"No encontrado"},"code":{"type":"número","example":"3000"},"msg":{"type":"cadena","example":"Recurso no encontrado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"422"}}},"ErrorUserNotFound":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"UserNotFound"},"code":{"type":"número","example":"3001"},"msg":{"type":"cadena","example":"Usuario no encontrado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"422"}}},"ErrorProjectNotFound":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"ProjectNotFound"},"code":{"type":"número","example":"3002"},"msg":{"type":"cadena","example":"Proyecto no encontrado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"422"}}},"ErrorInvalidTier":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"InvalidTier"},"code":{"type":"número","example":"3003"},"msg":{"type":"cadena","example":"Nivel de suscripción inválido"},"cause":{"type":"cadena"},"status":{"type":"número","example":"422"}}},"ErrorEmailTemplateExists":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"EmailTemplateExists"},"code":{"type":"número","example":"3004"},"msg":{"type":"cadena","example":"La plantilla de correo electrónico ya existe"},"cause":{"type":"cadena"},"status":{"type":"número","example":"409"}}},"ErrorSubscriptionLimit":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"SubscriptionLimit"},"code":{"type":"número","example":"3005"},"msg":{"type":"cadena","example":"Límite de suscripción alcanzado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"402"}}},"ErrorFeatureNotIncluded":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"FeatureNotIncluded"},"code":{"type":"número","example":"3006"},"msg":{"type":"cadena","example":"Funcionalidad no incluida"},"cause":{"type":"cadena"},"status":{"type":"número","example":"402"}}},"ErrorInvalidNetwork":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"InvalidNetwork"},"code":{"type":"número","example":"3007"},"msg":{"type":"cadena","example":"Red inválida"},"cause":{"type":"cadena"},"status":{"type":"número","example":"422"}}},"ErrorInvitationExpired":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"InvitationExpired"},"code":{"type":"número","example":"4000"},"msg":{"type":"cadena","example":"El código de invitación ha expirado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"422"}}},"ErrorAlreadyCollaborator":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"AlreadyCollaborator"},"code":{"type":"número","example":"4001"},"msg":{"type":"cadena","example":"Ya es colaborador"},"cause":{"type":"cadena"},"status":{"type":"número","example":"409"}}},"ErrorNoPaymentMethod":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"NoPaymentMethod"},"code":{"type":"número","example":"4002"},"msg":{"type":"cadena","example":"No hay método de pago predeterminado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"402"}}},"ErrorSeatsLimitReached":{"type":"objeto","required":["error","código","mensaje","estado"],"properties":{"error":{"type":"cadena","example":"SeatsLimitReached"},"code":{"type":"número","example":"4003"},"msg":{"type":"cadena","example":"Límite de asientos alcanzado"},"cause":{"type":"cadena"},"status":{"type":"número","example":"402"}}},"SortOrder":{"type":"cadena","description":"Representado como uint32 en el lado del servidor","enum":["ASC","DESC"]},"ProjectType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["EMBEDDED_WALLET_REACT","EMBEDDED_WALLET_NEXTJS","EMBEDDED_WALLET_UNITY","EMBEDDED_WALLET_UNREAL","MARKETPLACE_STANDALONE","MARKETPLACE_REACT","MARKETPLACE_UNITY","MARKETPLACE_UNREAL","SALE_CONTRACT_ERC1155","SALE_CONTRACT_ERC721","ALLOWLIST_STARTER"]},"TemplateType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["DESCONOCIDO","LOGIN","GUARD","EMAIL_CONFIRMATION"]},"EcosystemAccess":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["Usuario","Leer","Escribir","Administrador","Propietario"]},"AdminRole":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["NINGUNO","VISOR","DESARROLLADOR","ECOSISTEMA","CUENTA","FINANZAS","SUPERADMIN"]},"Page":{"type":"objeto","properties":{"pageSize":{"type":"número"},"page":{"type":"número"},"column":{"type":"cadena"},"more":{"type":"booleano"},"sort":{"type":"arreglo","description":"[]SortBy","items":{"$ref":"#/components/schemas/SortBy"}}}},"SortBy":{"type":"objeto","required":["columna"],"properties":{"column":{"type":"cadena"},"order":{"$ref":"#/components/schemas/SortOrder"}}},"ProjectImplicitRegistry":{"type":"objeto","required":["dominiosPermitidos","ids"],"properties":{"whitelistedDomains":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"ids":{"type":"objeto","description":"map<uint64,string>","additionalProperties":{"type":"cadena"}}}},"Project":{"type":"objeto","required":["id","nombre","ownerAddress","ownerAvatarUrl","licenseId","licenseVersion","logoImageKey","logoImageUrl","websiteUrl","chainIds","collaboratorCount","onboardingVisibility","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"name":{"type":"cadena"},"type":{"$ref":"#/components/schemas/ProjectType"},"ownerAddress":{"type":"cadena"},"ownerEmail":{"type":"cadena"},"ownerAvatarUrl":{"type":"cadena"},"licenseId":{"type":"número"},"licenseVersion":{"type":"número"},"logoImageKey":{"type":"cadena"},"logoImageUrl":{"type":"cadena"},"websiteUrl":{"type":"cadena"},"chainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"ecosystemId":{"type":"número"},"collaboratorCount":{"type":"número"},"onboardingVisibility":{"type":"booleano"},"implicitRegistry":{"$ref":"#/components/schemas/ProjectImplicitRegistry"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"ProjectListFilter":{"type":"objeto","properties":{"name":{"type":"cadena"},"chainId":{"type":"número"},"collaboratorAddress":{"type":"cadena"},"collaboratorEmail":{"type":"cadena"},"licenseId":{"type":"número"},"active":{"type":"booleano"}}},"OpenIdProvider":{"type":"objeto","required":["iss","aud"],"properties":{"iss":{"type":"cadena"},"aud":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}}}},"ContractData":{"type":"objeto","required":["abi","bytecode"],"properties":{"abi":{"type":"cadena"},"bytecode":{"type":"cadena"},"hash":{"type":"cadena"},"implementationAddress":{"type":"cadena"}}},"SESSettings":{"type":"objeto","required":["accessRoleARN","sourceARN","region"],"properties":{"accessRoleARN":{"type":"cadena"},"sourceARN":{"type":"cadena"},"region":{"type":"cadena"}}},"Image":{"type":"objeto","required":["src"],"properties":{"src":{"type":"cadena"},"width":{"type":"cadena"},"height":{"type":"cadena"},"alt":{"type":"cadena"},"displayOptions":{"type":"objeto","description":"map<string,string>","additionalProperties":{"type":"cadena"}}}},"WalletProof":{"type":"objeto","required":["dirección","mensaje","firma","chainId"],"properties":{"address":{"type":"cadena"},"message":{"type":"cadena"},"signature":{"type":"cadena"},"chainId":{"type":"número"}}},"BillingCycle":{"type":"objeto","required":["inicio","fin"],"properties":{"start":{"type":"cadena"},"end":{"type":"cadena"}}},"SubscriptionProvider":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["ADMIN","STRIPE","GOOGLE"]},"Feature":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["ANALYTICS","MARKETPLACE_SUBDOMAIN","MARKETPLACE_DOMAIN"]},"LicenseTag":{"type":"cadena","description":"Representado como uint16 en el servidor","enum":["NINGUNO","POPULAR","DESCUENTO"]},"PaymentProvider":{"type":"cadena","description":"Representado como uint16 en el servidor","enum":["NINGUNO","STRIPE","ADMIN","CRYPTO","ECOSISTEMA","GOOGLE"]},"License":{"type":"objeto","required":["id","ecosystemId","esPredeterminado","packageName","etiqueta","nivel","destacado","subtítulo","etiqueta","mainnetHabilitado","totalLicenses","licensePerUser","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"ecosystemId":{"type":"número"},"isDefault":{"type":"booleano"},"packageName":{"type":"cadena"},"label":{"type":"cadena"},"tier":{"type":"número"},"featured":{"type":"booleano"},"subtitle":{"type":"cadena"},"tag":{"$ref":"#/components/schemas/LicenseTag"},"mainnetEnabled":{"type":"booleano"},"defaultChainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"availableChainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"extraChainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"totalLicenses":{"type":"número"},"licenseUsage":{"$ref":"#/components/schemas/LicenseUsage"},"licensePerUser":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"LicenseVersion":{"type":"objeto","required":["licenseId","versión","settings","usoDeVersión","creadoEn","actualizadoEn"],"properties":{"licenseId":{"type":"número"},"version":{"type":"número"},"settings":{"$ref":"#/components/schemas/LicenseSettings"},"features":{"type":"arreglo","description":"[]Feature","items":{"$ref":"#/components/schemas/Feature"}},"versionUsage":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"LicenseSettings":{"type":"objeto","required":["precioDeSuscripción","asientos","configuraciónDeServicio","tarifaDeMarketplace","tarifaDeRegalía","recargoDeGas","gasIncluido","funcionalidades"],"properties":{"subscriptionPrice":{"type":"cadena"},"seats":{"type":"número"},"serviceSettings":{"type":"objeto","description":"map<string,ServiceSettings>","additionalProperties":{"$ref":"#/components/schemas/ServiceSettings"}},"marketplaceFee":{"type":"cadena"},"royaltyFee":{"type":"cadena"},"gasFeeMarkup":{"type":"cadena"},"gasIncluded":{"type":"cadena"},"features":{"type":"arreglo","description":"[]Feature","items":{"$ref":"#/components/schemas/Feature"}}}},"ServiceSettings":{"type":"objeto","required":["límiteDeTasa","solicitudesIncluidas","excesoPermitido","precioPorExceso"],"properties":{"rateLimit":{"type":"número"},"requestsIncluded":{"type":"número"},"overageAllowed":{"type":"booleano"},"overagePrice":{"type":"cadena"}}},"LicenseUsage":{"type":"objeto","required":["total","proveedores","versiones"],"properties":{"total":{"type":"número"},"providers":{"type":"objeto","description":"map<string,int>","additionalProperties":{"type":"número"}},"versions":{"type":"objeto","description":"map<uint64,int>","additionalProperties":{"type":"número"}}}},"BillingOverride":{"type":"objeto","required":["asientosExtra","funcionalidadesExtra","recargaHabilitada","proveedorDeRecarga","notificacionesDeSaldo"],"properties":{"priceSubscription":{"type":"cadena"},"extraSeats":{"type":"número"},"marketplaceFee":{"type":"cadena"},"royaltyFee":{"type":"cadena"},"gasFeeMarkup":{"type":"cadena"},"extraFeatures":{"type":"arreglo","description":"[]Feature","items":{"$ref":"#/components/schemas/Feature"}},"serviceSettings":{"type":"objeto","description":"map<string,ServiceSettingsOverride>","additionalProperties":{"$ref":"#/components/schemas/ServiceSettingsOverride"}},"topUpEnabled":{"type":"booleano"},"topUpProvider":{"$ref":"#/components/schemas/PaymentProvider"},"topUpThreshold":{"type":"número"},"topUpAmount":{"type":"número"},"topUpLimit":{"type":"número"},"balanceNotifications":{"type":"booleano"}}},"ServiceSettingsOverride":{"type":"objeto","properties":{"rateLimit":{"type":"número"},"requestsIncluded":{"type":"número"},"overageAllowed":{"type":"booleano"},"overagePrice":{"type":"cadena"},"usageWarning":{"type":"número"},"overageWarning":{"type":"número"},"maxOverage":{"type":"número"}}},"ResourceType":{"type":"cadena","description":"Representado como int8 en el servidor","enum":["CONTRATOS","COLECCIONES_DE_MARKETPLACE","COLECCIONES_DE_TIENDA"]},"CollaboratorAccess":{"type":"cadena","description":"Representado como uint32 en el lado del servidor","enum":["NINGUNO","LEER","ESCRIBIR","ADMIN"]},"CollaboratorType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["USUARIO","CUENTA_DE_SERVICIO"]},"ContractSourceType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["VINCULADO","DESPLEGADO"]},"PaymentStatus":{"type":"cadena","description":"Representado como uint16 en el servidor","enum":["INICIADO","PENDIENTE","EXITOSO","FALLÓ","PROCESADO"]},"AdminMarketplaceContractType":{"type":"cadena","description":"Representado como uint16 en el servidor","enum":["DESCONOCIDO","ERC20","ERC721","ERC1155"]},"AdminCollectionPriority":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["desconocido","bajo","normal","alto"]},"AdminCollectionStatus":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["desconocido","creado","sincronizando_metadata_de_contrato","metadata_de_contrato_sincronizada","sincronizando_metadata","metadata_sincronizada","sincronizando_tokens","tokens_sincronizados","sincronizando_órdenes","activo","fallido","inactivo","tipo_incompatible"]},"TokenType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["ERC20","ERC721","ERC1155"]},"FileScope":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["LOGO","MARKETPLACE","AVATAR","EMAIL","WALLET","DIRECTORIO_DE_TOKENS","ECOSISTEMA"]},"TaskStatus":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["PENDIENTE","PAUSADO","FALLÓ","COMPLETADO","DESHABILITADO"]},"TrialType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["ANALYTICS"]},"AuditType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["SUSCRIPCIÓN","SOBREESCRITURA_DE_FACTURACIÓN","LICENCIA_DE_ECOSISTEMA","VERSIÓN_DE_LICENCIA"]},"PaymentMethodType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["Tarjeta","Enlace"]},"SecretType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["FORTEPAY"]},"SecretEnv":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["PRUEBA","PROD"]},"Version":{"type":"objeto","required":["webrpcVersion","schemaVersion","schemaHash","appVersion"],"properties":{"webrpcVersion":{"type":"cadena"},"schemaVersion":{"type":"cadena"},"schemaHash":{"type":"cadena"},"appVersion":{"type":"cadena"}}},"RuntimeStatus":{"type":"objeto","required":["healthOK","startTime","uptime","ver","entorno","branch","commitHash","redes","checks"],"properties":{"healthOK":{"type":"booleano"},"startTime":{"type":"cadena"},"uptime":{"type":"número"},"ver":{"type":"cadena"},"env":{"type":"cadena"},"branch":{"type":"cadena"},"commitHash":{"type":"cadena"},"networks":{"type":"objeto","description":"map<string,bool>","additionalProperties":{"type":"booleano"}},"checks":{"$ref":"#/components/schemas/RuntimeChecks"}}},"RuntimeChecks":{"type":"objeto","required":["controlDeCupo","joqueue","stripe","cloudCommerce"],"properties":{"quotaControl":{"type":"booleano"},"joqueue":{"type":"booleano"},"stripe":{"type":"booleano"},"cloudCommerce":{"type":"booleano"}}},"AuthState":{"type":"objeto","required":["jwtToken","expiraEn","dirección","tipoDeSesión","usuario"],"properties":{"jwtToken":{"type":"cadena"},"expiresAt":{"type":"cadena"},"address":{"type":"cadena"},"sessionType":{"type":"cadena"},"user":{"$ref":"#/components/schemas/User"},"access":{"$ref":"#/components/schemas/EcosystemAccess"}}},"User":{"type":"objeto","required":["dirección","correoConfirmado","rol","avatarKey","avatarUrl","idsDeProyectosRecientes","creadoEn","actualizadoEn"],"properties":{"address":{"type":"cadena"},"email":{"type":"cadena"},"emailConfirmed":{"type":"booleano"},"role":{"$ref":"#/components/schemas/AdminRole"},"avatarKey":{"type":"cadena"},"avatarUrl":{"type":"cadena"},"recentProjectIds":{"type":"objeto","description":"map<uint64,uint64>","additionalProperties":{"type":"número"}},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"UserWallet":{"type":"objeto","required":["id","userAddress","walletAddress","proveedor","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"userAddress":{"type":"cadena"},"walletAddress":{"type":"cadena"},"provider":{"type":"cadena"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"UserSettings":{"type":"objeto","required":["límiteDeProyectos","cantidadDeProyectos"],"properties":{"projectsLimit":{"type":"número"},"projectsLeft":{"type":"número"},"projectCount":{"type":"número"}}},"UserOverride":{"type":"objeto","required":["id","dirección","proyectosExtra","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"address":{"type":"cadena"},"extraProjects":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"CreateProjectOptions":{"type":"objeto","properties":{"type":{"$ref":"#/components/schemas/ProjectType"},"chainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}}}},"ResourceFilter":{"type":"objeto","properties":{"contracts":{"$ref":"#/components/schemas/ContractFilter"}}},"Resource":{"type":"objeto","required":["tipo","total","detalle"],"properties":{"type":{"$ref":"#/components/schemas/ResourceType"},"total":{"type":"número"},"detail":{"type":"arreglo","description":"[]ResourceDetail","items":{"$ref":"#/components/schemas/ResourceDetail"}}}},"ResourceDetail":{"type":"objeto","required":["clave","cantidad"],"properties":{"key":{"type":"objeto"},"count":{"type":"número"}}},"ProjectSubscription":{"type":"objeto","required":["id","projectId","licenseId","licenseVersion","idDeSuscripción","fechaInicio"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"provider":{"$ref":"#/components/schemas/SubscriptionProvider"},"licenseId":{"type":"número"},"licenseVersion":{"type":"número"},"subscriptionId":{"type":"cadena"},"providerUrl":{"type":"cadena"},"dateStart":{"type":"cadena"},"dateEnd":{"type":"cadena"}}},"Collaborator":{"type":"objeto","required":["id","projectId","tipo","userAddress","acceso","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"type":{"$ref":"#/components/schemas/CollaboratorType"},"userAddress":{"type":"cadena"},"userEmail":{"type":"cadena"},"userAvatarUrl":{"type":"cadena"},"userAvatarKey":{"type":"cadena"},"access":{"$ref":"#/components/schemas/CollaboratorAccess"},"invitationId":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"Contract":{"type":"objeto","required":["id","projectId","nombreDelContrato","direcciónDelContrato","tipoDeContrato","chainId","origen","extensionesDeContrato","coincidenciaDeBytecode","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"contractName":{"type":"cadena"},"contractAddress":{"type":"cadena"},"contractType":{"type":"cadena"},"chainId":{"type":"número"},"source":{"$ref":"#/components/schemas/ContractSourceType"},"abi":{"type":"cadena"},"bytecode":{"type":"cadena"},"bytecodeHash":{"type":"cadena"},"audienceId":{"type":"número"},"decimals":{"type":"número"},"symbol":{"type":"cadena"},"contractExtensions":{"$ref":"#/components/schemas/ContractExtensions"},"tags":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"bytecodeMatch":{"type":"booleano"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"ContractExtensions":{"type":"objeto","properties":{"itemsContractAddress":{"type":"cadena"},"splitterContractAddresses":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}}}},"ContractSync":{"type":"objeto","properties":{"decimals":{"type":"número"},"symbol":{"type":"cadena"}}},"ContractFilter":{"type":"objeto","properties":{"chainId":{"type":"número"},"contractSourceType":{"$ref":"#/components/schemas/ContractSourceType"},"contractTypes":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"tag":{"type":"cadena"},"name":{"type":"cadena"},"contractAddress":{"type":"cadena"},"includeUnmatched":{"type":"booleano"}}},"ContractTag":{"type":"objeto","required":["etiqueta","cantidad"],"properties":{"tag":{"type":"cadena"},"count":{"type":"número"}}},"ContractLink":{"type":"objeto","required":["proyecto","colaborador"],"properties":{"contract":{"$ref":"#/components/schemas/Contract"},"project":{"$ref":"#/components/schemas/Project"},"collaborator":{"$ref":"#/components/schemas/Collaborator"}}},"RelayerGasSponsor":{"type":"objeto","required":["id","projectId","chainId","nombreParaMostrar","dirección","activo","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"chainId":{"type":"número"},"displayName":{"type":"cadena"},"address":{"type":"cadena"},"active":{"type":"booleano"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"RelayerTransaction":{"type":"objeto","required":["hashDeTransacción","nonceDeTransacción","estadoDeTransacción","razónDeReversiónDeTransacción","reencolados","enColaEn","enviadoEn","minadoEn","destino","entrada","argumentosDeTransacción","walletAddress","nonceDeMetaTransacción","límiteDeGas","precioDeGas","gasUsado","gasEstimado","tasaUsd","créditosUsados","costo","estáEnListaBlanca","creadoEn","actualizadoEn"],"properties":{"txnHash":{"type":"cadena"},"txnNonce":{"type":"cadena"},"metaTxnID":{"type":"cadena"},"txnStatus":{"type":"cadena"},"txnRevertReason":{"type":"cadena"},"requeues":{"type":"número"},"queuedAt":{"type":"cadena"},"sentAt":{"type":"cadena"},"minedAt":{"type":"cadena"},"target":{"type":"cadena"},"input":{"type":"cadena"},"txnArgs":{"type":"objeto","description":"map<string,any>","additionalProperties":{"type":"objeto"}},"txnReceipt":{"type":"objeto","description":"map<string,any>","additionalProperties":{"type":"objeto"}},"walletAddress":{"type":"cadena"},"metaTxnNonce":{"type":"cadena"},"gasLimit":{"type":"número"},"gasPrice":{"type":"cadena"},"gasUsed":{"type":"número"},"gasEstimated":{"type":"número"},"gasFeeMarkup":{"type":"número"},"usdRate":{"type":"cadena"},"creditsUsed":{"type":"número"},"cost":{"type":"cadena"},"isWhitelisted":{"type":"booleano"},"gasSponsor":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"ProjectGasTankStatus":{"type":"objeto","required":["proveedor","configurarPago","problemaConElPago","patrocinadoresMainnet"],"properties":{"provider":{"$ref":"#/components/schemas/PaymentProvider"},"setupPayment":{"type":"booleano"},"issueWithPayment":{"type":"booleano"},"mainnetSponsors":{"type":"booleano"},"balance":{"type":"número"}}},"EcosystemGasTankStatus":{"type":"objeto","required":["configurarPago","problemaConElPago"],"properties":{"setupPayment":{"type":"booleano"},"issueWithPayment":{"type":"booleano"},"balance":{"type":"número"}}},"GasTankSettings":{"type":"objeto","required":["umbralDeSaldo","enviarNotificaciones","recargaAutomática","proveedorDeRecarga","montoDeRecarga","límiteDeRecarga"],"properties":{"balanceThreshold":{"type":"número"},"sendNotifications":{"type":"booleano"},"autoRecharge":{"type":"booleano"},"topupProvider":{"$ref":"#/components/schemas/PaymentProvider"},"rechargeAmount":{"type":"número"},"rechargeLimit":{"type":"número"}}},"UsageInfo":{"type":"objeto","required":["advertenciaIncluida","máximoIncluido","advertenciaPorExceso","máximoPorExceso","uso","saldo","exceso","cargoExtra"],"properties":{"includedWarn":{"type":"número"},"includedMax":{"type":"número"},"overageWarn":{"type":"número"},"overageMax":{"type":"número"},"usage":{"type":"número"},"balance":{"type":"número"},"overage":{"type":"número"},"extraCharged":{"type":"cadena"}}},"SubscriptionInfo":{"type":"objeto","required":["actual","ciclo","settings","configuraciónDeGasTank","uso"],"properties":{"current":{"$ref":"#/components/schemas/ProjectSubscription"},"license":{"$ref":"#/components/schemas/License"},"cycle":{"$ref":"#/components/schemas/BillingCycle"},"settings":{"$ref":"#/components/schemas/LicenseSettings"},"gasTankSettings":{"$ref":"#/components/schemas/GasTankSettings"},"usage":{"type":"objeto","description":"map<string,UsageInfo>","additionalProperties":{"$ref":"#/components/schemas/UsageInfo"}},"plannedDowngrade":{"$ref":"#/components/schemas/License"},"pendingUpgrade":{"$ref":"#/components/schemas/License"}}},"Redirect":{"type":"objeto","required":["url"],"properties":{"url":{"type":"cadena"}}},"StripeEventData":{"type":"objeto","required":["objeto"],"properties":{"object":{"$ref":"#/components/schemas/StripeEventDataObject"}}},"StripeEventDataObject":{"type":"objeto","required":["id","objeto"],"properties":{"id":{"type":"cadena"},"object":{"type":"cadena"}}},"Payment":{"type":"objeto","required":["id","projectId","proveedor","idExternoDeTransacción","creadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"chainId":{"type":"número"},"status":{"$ref":"#/components/schemas/PaymentStatus"},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"externalTxnID":{"type":"cadena"},"createdAt":{"type":"cadena"}}},"InvoicesReturn":{"type":"objeto","required":["hayMás","facturas"],"properties":{"hasMore":{"type":"booleano"},"invoices":{"type":"arreglo","description":"[]Invoice","items":{"$ref":"#/components/schemas/Invoice"}}}},"Invoice":{"type":"objeto","required":["id","fecha","monto","pagado","url"],"properties":{"id":{"type":"cadena"},"date":{"type":"cadena"},"amount":{"type":"cadena"},"paid":{"type":"booleano"},"url":{"type":"cadena"}}},"ContractInfo":{"type":"objeto","required":["datos"],"properties":{"data":{"type":"objeto"}}},"ContractInfoOverride":{"type":"objeto","required":["datos"],"properties":{"data":{"type":"objeto"}}},"ProjectInvitation":{"type":"objeto","required":["id","projectId","código","acceso","expiraEn","cantidadDeUso","creadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"code":{"type":"cadena"},"access":{"$ref":"#/components/schemas/CollaboratorAccess"},"expiresAt":{"type":"cadena"},"usageCount":{"type":"número"},"createdAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"AdminMarketplaceCollection":{"type":"objeto","required":["estado","chainId","direcciónDelContrato","tipoDeContrato","prioridad","decimalesDeCantidadDeToken","creadoEn","actualizadoEn"],"properties":{"status":{"$ref":"#/components/schemas/AdminCollectionStatus"},"chainId":{"type":"número"},"contractAddress":{"type":"cadena"},"contractType":{"$ref":"#/components/schemas/AdminMarketplaceContractType"},"priority":{"$ref":"#/components/schemas/AdminCollectionPriority"},"tokenQuantityDecimals":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"OffchainInventory":{"type":"objeto","required":["id","projectId","chainId","idExternoDeProducto","direcciónDelTokenDePago","tipoDeTokenDePago","idDeTokenDePago","montoDePago","destinatarioDelPago"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"chainId":{"type":"número"},"externalProductId":{"type":"cadena"},"paymentTokenAddress":{"type":"cadena"},"paymentTokenType":{"$ref":"#/components/schemas/TokenType"},"paymentTokenId":{"type":"número"},"paymentAmount":{"type":"número"},"paymentRecipient":{"type":"cadena"},"chainedCallAddress":{"type":"cadena"},"chainedCallData":{"type":"cadena"},"allowCrossChainPayments":{"type":"booleano"},"callbackURL":{"type":"cadena"},"createdAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"OffchainPayment":{"type":"objeto","required":["id","idDeInventarioOffchain","destinatarioDelProducto","idDeCadenaDePago","direcciónDelTokenDePago","expiración","creadoEn"],"properties":{"id":{"type":"número"},"offchainInventoryId":{"type":"número"},"productRecipient":{"type":"cadena"},"paymentChainId":{"type":"número"},"paymentTokenAddress":{"type":"cadena"},"expiration":{"type":"cadena"},"createdAt":{"type":"cadena"},"completedAt":{"type":"cadena"},"processedAt":{"type":"cadena"}}},"ProjectFile":{"type":"objeto","required":["id","projectId","alcance","mimetype","rutaDelArchivo","contenido","hash","url","creadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"scope":{"$ref":"#/components/schemas/FileScope"},"mimetype":{"type":"cadena"},"filepath":{"type":"cadena"},"contents":{"type":"arreglo","description":"[]byte","items":{"type":"cadena"}},"hash":{"type":"arreglo","description":"[]byte","items":{"type":"cadena"}},"url":{"type":"cadena"},"createdAt":{"type":"cadena"}}},"WaasTemplate":{"type":"objeto","required":["id","projectId","asunto","textoIntroductorio","logoUrl","marcadoresDePosición","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"templateType":{"$ref":"#/components/schemas/TemplateType"},"projectId":{"type":"número"},"subject":{"type":"cadena"},"introText":{"type":"cadena"},"logoUrl":{"type":"cadena"},"template":{"type":"cadena"},"fromEmail":{"type":"cadena"},"placeholders":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"sesConfig":{"$ref":"#/components/schemas/SESSettings"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"TaskRunner":{"type":"objeto","required":["id","grupoDeTrabajo","ejecutarEn"],"properties":{"id":{"type":"número"},"workGroup":{"type":"cadena"},"runAt":{"type":"cadena"}}},"Task":{"type":"objeto","required":["id","cola","estado","intento","payload"],"properties":{"id":{"type":"número"},"queue":{"type":"cadena"},"status":{"$ref":"#/components/schemas/TaskStatus"},"try":{"type":"número"},"runAt":{"type":"cadena"},"lastRanAt":{"type":"cadena"},"createdAt":{"type":"cadena"},"payload":{"type":"arreglo","description":"[]byte","items":{"type":"cadena"}},"hash":{"type":"cadena"}}},"CreditBonus":{"type":"objeto","required":["id","projectId","monto","saldo","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"amount":{"type":"número"},"balance":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"WaasSettings":{"type":"objeto","required":["direcciónDeRecuperación","configuraciónDeAutenticación","proveedoresOidc","orígenesPermitidos","actualizarCódigo","claveDeArrendatario"],"properties":{"recoveryAddress":{"type":"cadena"},"authConfig":{"$ref":"#/components/schemas/WaasAuthConfig"},"oidcProviders":{"type":"arreglo","description":"[]OpenIdProvider","items":{"$ref":"#/components/schemas/OpenIdProvider"}},"allowedOrigins":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"updateCode":{"type":"cadena"},"tenantKey":{"type":"cadena"}}},"WaasAuthEmailConfig":{"type":"objeto","required":["habilitado"],"properties":{"enabled":{"type":"booleano"}}},"WaasAuthGuestConfig":{"type":"objeto","required":["habilitado"],"properties":{"enabled":{"type":"booleano"}}},"WaasAuthPlayfabConfig":{"type":"objeto","required":["habilitado"],"properties":{"enabled":{"type":"booleano"},"titleId":{"type":"cadena"}}},"WaasAuthStytchConfig":{"type":"objeto","required":["habilitado"],"properties":{"enabled":{"type":"booleano"},"projectId":{"type":"cadena"}}},"WaasAuthTwitterConfig":{"type":"objeto","required":["habilitado"],"properties":{"enabled":{"type":"booleano"},"clientId":{"type":"cadena"}}},"WaasAuthConfig":{"type":"objeto","properties":{"email":{"$ref":"#/components/schemas/WaasAuthEmailConfig"},"guest":{"$ref":"#/components/schemas/WaasAuthGuestConfig"},"playfab":{"$ref":"#/components/schemas/WaasAuthPlayfabConfig"},"stytch":{"$ref":"#/components/schemas/WaasAuthStytchConfig"},"twitter":{"$ref":"#/components/schemas/WaasAuthTwitterConfig"}}},"Audience":{"type":"objeto","required":["id","projectId","nombre","cantidadDeContactos","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"name":{"type":"cadena"},"contactCount":{"type":"número"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"AudienceContact":{"type":"objeto","required":["idDeAudiencia","dirección"],"properties":{"id":{"type":"número"},"audienceId":{"type":"número"},"name":{"type":"cadena"},"address":{"type":"cadena"},"email":{"type":"cadena"},"userIp":{"type":"cadena"},"stage":{"type":"número"},"provider":{"type":"cadena"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"AudienceRegistrationStatus":{"type":"objeto","required":["cantidadTotal"],"properties":{"totalCount":{"type":"número"}}},"Trial":{"type":"objeto","required":["id","projectId","tipo","inicioEn","finEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"type":{"$ref":"#/components/schemas/TrialType"},"startAt":{"type":"cadena"},"endAt":{"type":"cadena"}}},"AuditLog":{"type":"objeto","required":["id","walletAddress","userEmail","idDeEntidad","tipo","valorAnterior","valorNuevo","creadoEn"],"properties":{"id":{"type":"número"},"walletAddress":{"type":"cadena"},"userEmail":{"type":"cadena"},"entityId":{"type":"número"},"type":{"$ref":"#/components/schemas/AuditType"},"oldValue":{"type":"objeto"},"newValue":{"type":"objeto"},"createdAt":{"type":"cadena"}}},"PaymentMethodCardData":{"type":"objeto","required":["marca","país","últimos 4","fechaDeExpiración"],"properties":{"brand":{"type":"cadena"},"country":{"type":"cadena"},"last4":{"type":"cadena"},"expDate":{"type":"cadena"}}},"PaymentMethodLinkData":{"type":"objeto","required":["correo electrónico"],"properties":{"email":{"type":"cadena"}}},"PaymentMethod":{"type":"objeto","required":["id","tipo","predeterminado"],"properties":{"id":{"type":"cadena"},"type":{"$ref":"#/components/schemas/PaymentMethodType"},"cardData":{"$ref":"#/components/schemas/PaymentMethodCardData"},"linkData":{"$ref":"#/components/schemas/PaymentMethodLinkData"},"default":{"type":"booleano"}}},"ProjectSecret":{"type":"objeto","required":["tipo","entorno"],"properties":{"type":{"$ref":"#/components/schemas/SecretType"},"env":{"$ref":"#/components/schemas/SecretEnv"},"updatedAt":{"type":"cadena"}}},"FinancialReportType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["SUSCRIPCIÓN","GASTANK_TOPUP"]},"FinancialReportEntry":{"type":"objeto","required":["monto","tipo","proveedor","referencia","notas","creadoEn"],"properties":{"projectId":{"type":"número"},"ecosystemId":{"type":"número"},"amount":{"type":"número"},"type":{"$ref":"#/components/schemas/FinancialReportType"},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"reference":{"type":"cadena"},"externalURL":{"type":"cadena"},"notes":{"type":"cadena"},"createdAt":{"type":"cadena"}}},"TransakContract":{"type":"objeto","required":["id","chainId","direcciónDelContrato","nombre","idsDeProyectos","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"transakId":{"type":"cadena"},"chainId":{"type":"número"},"contractAddress":{"type":"cadena"},"name":{"type":"cadena"},"projectIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"TransakContractFilter":{"type":"objeto","properties":{"query":{"type":"cadena"},"chainId":{"type":"número"}}},"WhitelistUrl":{"type":"objeto","required":["id","projectId","url","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"url":{"type":"cadena"},"approvedAt":{"type":"cadena"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"AnalyticsProjectType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["TODOS","CREADO","RELACIONADO"]},"DateInterval":{"type":"cadena","description":"Representado como uint16 en el servidor","enum":["DÍA","SEMANA","MES"]},"QueryFilter":{"type":"objeto","properties":{"projectId":{"type":"número"},"ecosystemId":{"type":"número"},"startDate":{"type":"cadena"},"endDate":{"type":"cadena"},"dateInterval":{"$ref":"#/components/schemas/DateInterval"},"collections":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"tokenId":{"type":"cadena"},"projectType":{"$ref":"#/components/schemas/AnalyticsProjectType"}}},"Chart":{"type":"objeto","required":["valor","etiqueta"],"properties":{"value":{"type":"número"},"label":{"type":"cadena"}}},"ChartWithPercentage":{"type":"objeto","required":["etiqueta","total","porcentaje"],"properties":{"label":{"type":"cadena"},"total":{"type":"número"},"percentage":{"type":"número"}}},"MultiValueChart":{"type":"objeto","required":["valor","etiqueta"],"properties":{"value":{"type":"objeto","description":"map<string,float64>","additionalProperties":{"type":"número"}},"label":{"type":"cadena"}}},"QueryResult":{"type":"objeto","required":["colección","origen","volumenUSD","númeroDeTokens","númeroDeTransacciones"],"properties":{"collection":{"type":"cadena"},"source":{"type":"cadena"},"tokenId":{"type":"cadena"},"volumeUSD":{"type":"número"},"numTokens":{"type":"número"},"numTxns":{"type":"número"}}},"TokenTransactionData":{"type":"objeto","required":["idDeColección","nombreDeColección","idDeToken","nombreDeToken","cantidadesDeÍtems"],"properties":{"collectionId":{"type":"cadena"},"collectionName":{"type":"cadena"},"tokenId":{"type":"cadena"},"tokenName":{"type":"cadena"},"itemQuantities":{"type":"número"}}},"TrailsTransactionByMode":{"type":"objeto","required":["modo","usuariosÚnicosTransaccionando","pagosIniciados","pagosCompletados","porcentajeDeCompletitud","tarifasTotales","volumenTotal"],"properties":{"mode":{"type":"cadena"},"uniqueTransactingUsers":{"type":"número"},"paymentsStarted":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"totalFees":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionByRoute":{"type":"objeto","required":["nombreDeCadenaOrigen","nombreDeCadenaDestino","usuariosÚnicosTransaccionando","pagosIniciados","pagosCompletados","porcentajeDeCompletitud","duraciónPromedioDeTransacción","tarifasDeGas","tarifasTotales","volumenTotal"],"properties":{"origChainName":{"type":"cadena"},"destChainName":{"type":"cadena"},"uniqueTransactingUsers":{"type":"número"},"paymentsStarted":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"avgTxnDuration":{"type":"número"},"gasFees":{"type":"número"},"totalFees":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionByProvider":{"type":"objeto","required":["proveedorDeSwap","proveedorDePuente","usuariosÚnicosTransaccionando","pagosIniciados","pagosCompletados","porcentajeDeCompletitud","duraciónPromedioDeTransacción","tarifasDelProveedor","tarifasTotales","volumenTotal"],"properties":{"providerSwap":{"type":"cadena"},"providerBridge":{"type":"cadena"},"uniqueTransactingUsers":{"type":"número"},"paymentsStarted":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"avgTxnDuration":{"type":"número"},"providerFees":{"type":"número"},"totalFees":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionByCountry":{"type":"objeto","required":["país","walletsTransaccionando","pagosCompletados","porcentajeDeCompletitud","volumenTotal"],"properties":{"country":{"type":"cadena"},"transactingWallets":{"type":"número"},"paymentsCompleted":{"type":"número"},"completionPercent":{"type":"número"},"totalVolume":{"type":"número"}}},"TrailsTransactionDetail":{"type":"objeto","required":["fecha","idDeCheckout","país","proveedor","nombreDeHost","hashDeTransacciónOrigen","hashDeTransacciónDestino","nombreDeCadenaOrigen","nombreDeCadenaDestino","símboloDeTokenOrigen","símboloDeTokenDestino","tarifaDelProveedor","tarifaTotal","volumenTotal"],"properties":{"date":{"type":"cadena"},"checkoutId":{"type":"cadena"},"country":{"type":"cadena"},"provider":{"type":"cadena"},"hostname":{"type":"cadena"},"originTxHash":{"type":"cadena"},"destTxHash":{"type":"cadena"},"origChainName":{"type":"cadena"},"destChainName":{"type":"cadena"},"origTokenSymbol":{"type":"cadena"},"destTokenSymbol":{"type":"cadena"},"providerFee":{"type":"número"},"totalFee":{"type":"número"},"totalVolume":{"type":"número"}}},"ContractLibraryStatus":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["OBSOLETO","NIGHTLY","ESTABLE"]},"ContractLibraryItem":{"type":"objeto","required":["uid","tipoDeContrato","nombre","descripción","autor","licencia","másInfoUrl","deshabilitado","creadoEn","actualizadoEn"],"properties":{"uid":{"type":"cadena"},"contractType":{"type":"cadena"},"name":{"type":"cadena"},"description":{"type":"cadena"},"author":{"type":"cadena"},"license":{"type":"cadena"},"moreInfoUrl":{"type":"cadena"},"disabled":{"type":"booleano"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"ContractLibraryVersion":{"type":"objeto","required":["uid","versión","auditado","notasDeLanzamiento","actualizable","datosDeOrigen","estado","creadoEn","actualizadoEn"],"properties":{"uid":{"type":"cadena"},"version":{"type":"número"},"audited":{"type":"booleano"},"releaseNotes":{"type":"cadena"},"upgradable":{"type":"booleano"},"sourceData":{"$ref":"#/components/schemas/ContractData"},"factoryAddress":{"type":"cadena"},"factoryData":{"$ref":"#/components/schemas/ContractData"},"chainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"status":{"$ref":"#/components/schemas/ContractLibraryStatus"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"ProjectContractSource":{"type":"objeto","required":["projectId","uid","datos","nombre","creadoEn","actualizadoEn"],"properties":{"projectId":{"type":"número"},"uid":{"type":"cadena"},"data":{"$ref":"#/components/schemas/ContractData"},"name":{"type":"cadena"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"EcosystemType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["DESCONOCIDO","ABIERTO","CERRADO"]},"ThemeType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["claro","oscuro","sistema"]},"LoginProviderType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["APPLE","GOOGLE","EMAIL","PASSKEY","PRIVATE_KEY"]},"Ecosystem":{"type":"objeto","required":["id","nombre","tipo","ownerAddress","builderDomain","prefijoDeClaveDeAcceso","chainIds","exclusivo","settings","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"name":{"type":"cadena"},"type":{"$ref":"#/components/schemas/EcosystemType"},"ownerAddress":{"type":"cadena"},"builderDomain":{"type":"cadena"},"walletDomain":{"type":"cadena"},"email":{"type":"cadena"},"accessKeyPrefix":{"type":"cadena"},"chainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"exclusive":{"type":"booleano"},"projectCount":{"type":"número"},"settings":{"$ref":"#/components/schemas/EcosystemSettings"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"},"deletedAt":{"type":"cadena"}}},"EcosystemCollaborator":{"type":"objeto","required":["id","ecosystemId","userAddress","acceso","creadoEn","actualizadoEn"],"properties":{"id":{"type":"número"},"ecosystemId":{"type":"número"},"userAddress":{"type":"cadena"},"access":{"$ref":"#/components/schemas/EcosystemAccess"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"EcosystemSettings":{"type":"objeto","required":["título","descripción","botónMásInformación","urlMásInformación","crispWebsiteId","temas","configuraciónDeCorreo","configuraciónDeWallet","permitirWalletsConectadas"],"properties":{"title":{"type":"cadena"},"description":{"type":"cadena"},"learnMoreButton":{"type":"cadena"},"learnMoreUrl":{"type":"cadena"},"crispWebsiteId":{"type":"cadena"},"domainAllowList":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"domainBlockList":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"themes":{"type":"arreglo","description":"[]ThemeSettings","items":{"$ref":"#/components/schemas/ThemeSettings"}},"emailSettings":{"$ref":"#/components/schemas/EcosystemEmailSettings"},"walletSettings":{"$ref":"#/components/schemas/EcosystemWalletSettings"},"allowConnectedWallets":{"type":"booleano"}}},"EcosystemEmailSettings":{"type":"objeto","required":["bannerUrl"],"properties":{"bannerUrl":{"type":"cadena"}}},"EcosystemWalletSettings":{"type":"objeto","required":["esEOAWalletHabilitado","permitirMúltiplesCuentas","opcionesSociales","opcionesDeWallet"],"properties":{"isEOAWalletEnabled":{"type":"booleano"},"allowMultipleAccount":{"type":"booleano"},"socialOptions":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"walletOptions":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}}}},"ThemeSettings":{"type":"objeto","required":["tipo","cssPersonalizado","logoDeArchivo","títuloDeArchivo","fondoDeArchivo","fondoDeArchivoMóvil"],"properties":{"type":{"$ref":"#/components/schemas/ThemeType"},"customCss":{"type":"cadena"},"fileLogo":{"type":"cadena"},"fileTitle":{"type":"cadena"},"fileBackground":{"type":"cadena"},"fileBackgroundMobile":{"type":"cadena"}}},"Configuration":{"type":"objeto","required":["ecosystemId","nombre","builderDomain","chainIds","licencia","settings","chainIdsExclusivos"],"properties":{"ecosystemId":{"type":"número"},"name":{"type":"cadena"},"builderDomain":{"type":"cadena"},"walletDomain":{"type":"cadena"},"chainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"license":{"$ref":"#/components/schemas/License"},"settings":{"$ref":"#/components/schemas/EcosystemSettings"},"exclusiveChainIds":{"type":"objeto","description":"map<uint64,uint64>","additionalProperties":{"type":"número"}}}},"EcosystemTemplate":{"type":"objeto","required":["asunto","plantilla","datos","deCorreo","contenido","marcadoresDePosición","creadoEn","actualizadoEn"],"properties":{"subject":{"type":"cadena"},"template":{"type":"cadena"},"data":{"$ref":"#/components/schemas/TemplateData"},"fromEmail":{"type":"cadena"},"content":{"type":"cadena"},"placeholders":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"sesSettings":{"$ref":"#/components/schemas/SESSettings"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"TemplateData":{"type":"objeto","required":["textoIntroductorio","logoUrl"],"properties":{"introText":{"type":"cadena"},"logoUrl":{"type":"cadena"}}},"LoginProvider":{"type":"objeto","required":["tipo"],"properties":{"type":{"$ref":"#/components/schemas/LoginProviderType"},"clientId":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"WalletCustomTheme":{"type":"objeto","required":["logoDeEncabezadoDeArchivo","logoDeAutenticaciónDeArchivo"],"properties":{"fileHeaderLogo":{"$ref":"#/components/schemas/Image"},"fileAuthLogo":{"$ref":"#/components/schemas/Image"},"fileAuthCover":{"$ref":"#/components/schemas/Image"},"fileBackgroundImage":{"$ref":"#/components/schemas/Image"},"colors":{"type":"objeto","description":"map<string,string>","additionalProperties":{"type":"cadena"}}}},"WalletThemes":{"type":"objeto","required":["claro","oscuro"],"properties":{"light":{"$ref":"#/components/schemas/WalletCustomTheme"},"dark":{"$ref":"#/components/schemas/WalletCustomTheme"}}},"DiscoveryCategory":{"type":"objeto","required":["etiqueta","etiqueta","privado"],"properties":{"label":{"type":"cadena"},"tag":{"type":"cadena"},"private":{"type":"booleano"}}},"DiscoveryApp":{"type":"objeto","required":["id","imagenDePortada","url","etiquetasDeCategoría","chainIds"],"properties":{"id":{"type":"cadena"},"name":{"type":"cadena"},"description":{"type":"cadena"},"coverImage":{"$ref":"#/components/schemas/Image"},"url":{"type":"cadena"},"categoryTags":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"chainIds":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}}}},"DiscoverySection":{"type":"objeto","required":["apps","privado","categorías","banners","bannersActivos"],"properties":{"apps":{"type":"arreglo","description":"[]DiscoveryApp","items":{"$ref":"#/components/schemas/DiscoveryApp"}},"private":{"type":"booleano"},"categories":{"type":"arreglo","description":"[]DiscoveryCategory","items":{"$ref":"#/components/schemas/DiscoveryCategory"}},"banners":{"type":"arreglo","description":"[]DiscoveryApp","items":{"$ref":"#/components/schemas/DiscoveryApp"}},"activeBanners":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}}}},"EcosystemWalletMetaTags":{"type":"objeto","required":["título","descripción","url","imagenPrevia","favicon"],"properties":{"title":{"type":"cadena"},"description":{"type":"cadena"},"url":{"type":"cadena"},"previewImage":{"type":"cadena"},"favicon":{"type":"cadena"}}},"SDKConfig":{"type":"objeto","required":["inicioDeSesiónConMarca","títuloBotónInicioSesión"],"properties":{"brandedSignIn":{"type":"booleano"},"signInButtonTitle":{"type":"cadena"},"signInButtonLogo":{"$ref":"#/components/schemas/Image"}}},"EcosystemWalletConfig":{"type":"objeto","required":["ecosystemId","nombre","descripción","url","correo electrónico","temaPredeterminado","temasSoportados","temas","metaEtiquetas","monedaPredeterminada","walletsVigiladas","cadenasSoportadas","idCadenaPredeterminada","proveedoresHabilitados","configuraciónProveedor","permitirWalletsEOA","creadoEn","actualizadoEn"],"properties":{"ecosystemId":{"type":"número"},"name":{"type":"cadena"},"description":{"type":"cadena"},"url":{"type":"cadena"},"email":{"type":"cadena"},"defaultTheme":{"$ref":"#/components/schemas/ThemeType"},"supportedThemes":{"type":"arreglo","description":"[]ThemeType","items":{"$ref":"#/components/schemas/ThemeType"}},"themes":{"$ref":"#/components/schemas/WalletThemes"},"metaTags":{"$ref":"#/components/schemas/EcosystemWalletMetaTags"},"defaultCurrency":{"type":"cadena"},"watchedWallets":{"type":"booleano"},"supportedChains":{"type":"arreglo","description":"[]uint64","items":{"type":"número"}},"defaultChainId":{"type":"número"},"enabledProviders":{"type":"arreglo","description":"[]LoginProviderType","items":{"$ref":"#/components/schemas/LoginProviderType"}},"providerConfig":{"type":"arreglo","description":"[]LoginProvider","items":{"$ref":"#/components/schemas/LoginProvider"}},"discovery":{"$ref":"#/components/schemas/DiscoverySection"},"sdkConfig":{"$ref":"#/components/schemas/SDKConfig"},"allowEOAWallets":{"type":"booleano"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"AdjustmentSource":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["desconocido","únicaVez","auto"]},"AdjustmentStatus":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["desconocido","pendiente","aceptado","exitoso","fallido","cancelado"]},"OwnerType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["Proyecto","Ecosistema"]},"GasTankAdjustment":{"type":"objeto","required":["id","projectId","ecosystemId","proveedor","origen","monto","estado","notas","creadoEn"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"ecosystemId":{"type":"número"},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"source":{"$ref":"#/components/schemas/AdjustmentSource"},"amount":{"type":"número"},"status":{"$ref":"#/components/schemas/AdjustmentStatus"},"externalId":{"type":"cadena"},"notes":{"type":"cadena"},"createdAt":{"type":"cadena"}}},"GasTankAdjustmentFilter":{"type":"objeto","properties":{"ownerType":{"$ref":"#/components/schemas/OwnerType"},"ownerId":{"type":"número"},"source":{"$ref":"#/components/schemas/AdjustmentSource"},"status":{"type":"arreglo","description":"[]AdjustmentStatus","items":{"$ref":"#/components/schemas/AdjustmentStatus"}},"provider":{"$ref":"#/components/schemas/PaymentProvider"},"from":{"type":"cadena"},"to":{"type":"cadena"}}},"GasTankConfig":{"type":"objeto","required":["habilitado","chainId","direcciónToken","decimalesToken","direcciónDestinatario"],"properties":{"enabled":{"type":"booleano"},"chainId":{"type":"número"},"tokenAddress":{"type":"cadena"},"tokenDecimals":{"type":"número"},"recipientAddress":{"type":"cadena"}}},"MarketplaceWalletType":{"type":"cadena","description":"Representado como uint8 en el servidor","enum":["UNIVERSAL","EMBEDDED","ECOSISTEMA"]},"FilterCondition":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["ENTIRE_KEY","SPECIFIC_VALUE"]},"MarketplaceLegacyType":{"type":"cadena","description":"Representado como cadena en el servidor","enum":["AMM","P2P","SEQUENCE","ORDERBOOK"]},"MarketplaceHostname":{"type":"objeto","required":["nombreDeHost","projectId","esHostnamePredeterminado","esDominioPersonalizado","creadoEn"],"properties":{"hostname":{"type":"cadena"},"projectId":{"type":"número"},"isDefaultHostname":{"type":"booleano"},"isCustomDomain":{"type":"booleano"},"createdAt":{"type":"cadena"}}},"Marketplace":{"type":"objeto","required":["projectId","settings","mercado","tienda"],"properties":{"projectId":{"type":"número"},"settings":{"$ref":"#/components/schemas/MarketplaceSettings"},"market":{"$ref":"#/components/schemas/MarketplacePage"},"shop":{"$ref":"#/components/schemas/MarketplacePage"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"MarketplaceSettings":{"type":"objeto","required":["estilo","idEditor","título","redesSociales","urlFavicon","opcionesDeWallet","logoUrl","urlFuente","trailsHabilitado"],"properties":{"style":{"type":"objeto","description":"map<string,any>","additionalProperties":{"type":"objeto"}},"publisherId":{"type":"cadena"},"title":{"type":"cadena"},"socials":{"$ref":"#/components/schemas/MarketplaceSocials"},"faviconUrl":{"type":"cadena"},"walletOptions":{"$ref":"#/components/schemas/MarketplaceWallet"},"logoUrl":{"type":"cadena"},"fontUrl":{"type":"cadena"},"accessKey":{"type":"cadena"},"isTrailsEnabled":{"type":"booleano"}}},"MarketplacePage":{"type":"objeto","required":["habilitado","bannerUrl","imagenOg","privado"],"properties":{"enabled":{"type":"booleano"},"bannerUrl":{"type":"cadena"},"ogImage":{"type":"cadena"},"private":{"type":"booleano"}}},"MarketplaceSocials":{"type":"objeto","required":["twitter","discord","sitioWeb","tiktok","instagram","youtube"],"properties":{"twitter":{"type":"cadena"},"discord":{"type":"cadena"},"website":{"type":"cadena"},"tiktok":{"type":"cadena"},"instagram":{"type":"cadena"},"youtube":{"type":"cadena"}}},"MarketplaceWallet":{"type":"objeto","required":["tipoWallet","emisoresOidc","conectores","incluirWalletsEIP6963"],"properties":{"walletType":{"$ref":"#/components/schemas/MarketplaceWalletType"},"oidcIssuers":{"type":"objeto","description":"map<string,string>","additionalProperties":{"type":"cadena"}},"connectors":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"includeEIP6963Wallets":{"type":"booleano"},"ecosystem":{"$ref":"#/components/schemas/MarketplaceWalletEcosystem"},"embedded":{"$ref":"#/components/schemas/MarketplaceWalletEmbedded"}}},"MarketplaceWalletEcosystem":{"type":"objeto","required":["urlWallet","nombreAppWallet"],"properties":{"walletUrl":{"type":"cadena"},"walletAppName":{"type":"cadena"},"logoLightUrl":{"type":"cadena"},"logoDarkUrl":{"type":"cadena"}}},"MarketplaceWalletEmbedded":{"type":"objeto","required":["claveDeArrendatario","correoHabilitado","proveedores"],"properties":{"tenantKey":{"type":"cadena"},"emailEnabled":{"type":"booleano"},"providers":{"type":"arreglo","description":"[]OpenIdProvider","items":{"$ref":"#/components/schemas/OpenIdProvider"}}}},"MarketCollection":{"type":"objeto","required":["id","projectId","chainId","direcciónItems","tipoDeContrato","bannerUrl","porcentajeComisión","opcionesMoneda","mercadoDestino","privado"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"chainId":{"type":"número"},"itemsAddress":{"type":"cadena"},"contractType":{"type":"cadena"},"bannerUrl":{"type":"cadena"},"feePercentage":{"type":"número"},"currencyOptions":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"destinationMarketplace":{"type":"cadena"},"filterSettings":{"$ref":"#/components/schemas/CollectionFilterSettings"},"sortOrder":{"type":"número"},"private":{"type":"booleano"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"ShopCollection":{"type":"objeto","required":["id","projectId","chainId","direcciónItems","direcciónVenta","nombre","bannerUrl","idsToken","idsTokenPersonalizados","privado"],"properties":{"id":{"type":"número"},"projectId":{"type":"número"},"chainId":{"type":"número"},"itemsAddress":{"type":"cadena"},"saleAddress":{"type":"cadena"},"name":{"type":"cadena"},"bannerUrl":{"type":"cadena"},"tokenIds":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"customTokenIds":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"sortOrder":{"type":"número"},"private":{"type":"booleano"},"createdAt":{"type":"cadena"},"updatedAt":{"type":"cadena"}}},"MetadataFilterRule":{"type":"objeto","required":["clave","condición"],"properties":{"key":{"type":"cadena"},"condition":{"$ref":"#/components/schemas/FilterCondition"},"value":{"type":"cadena"}}},"CollectionFilterSettings":{"type":"objeto","required":["ordenFiltro","exclusiones"],"properties":{"filterOrder":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"exclusions":{"type":"arreglo","description":"[]MetadataFilterRule","items":{"$ref":"#/components/schemas/MetadataFilterRule"}}}},"CollectionListFilter":{"type":"objeto","required":["incluirPrivados"],"properties":{"includePrivate":{"type":"booleano"}}},"MarketplaceLegacySettings":{"type":"objeto","required":["idEditor","título","descripciónCorta","redesSociales","urlFavicon","urlBannerPrincipal","colecciones","opcionesDeWallet","diseñoPáginaPrincipal","logoUrl","bannerUrl","trailsHabilitado"],"properties":{"projectId":{"type":"número"},"publisherId":{"type":"cadena"},"title":{"type":"cadena"},"shortDescription":{"type":"cadena"},"socials":{"$ref":"#/components/schemas/MarketplaceSocials"},"faviconUrl":{"type":"cadena"},"landingBannerUrl":{"type":"cadena"},"collections":{"type":"arreglo","description":"[]MarketplaceLegacyCollection","items":{"$ref":"#/components/schemas/MarketplaceLegacyCollection"}},"walletOptions":{"$ref":"#/components/schemas/MarketplaceLegacyWallet"},"landingPageLayout":{"type":"cadena"},"logoUrl":{"type":"cadena"},"bannerUrl":{"type":"cadena"},"fontUrl":{"type":"cadena"},"ogImage":{"type":"cadena"},"accessKey":{"type":"cadena"},"isTrailsEnabled":{"type":"booleano"}}},"MarketplaceLegacyWallet":{"type":"objeto","required":["tipoWallet","emisoresOidc","conectores","incluirWalletsEIP6963"],"properties":{"walletType":{"$ref":"#/components/schemas/MarketplaceWalletType"},"oidcIssuers":{"type":"objeto","description":"map<string,string>","additionalProperties":{"type":"cadena"}},"connectors":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"includeEIP6963Wallets":{"type":"booleano"},"ecosystem":{"$ref":"#/components/schemas/MarketplaceWalletEcosystem"},"waas":{"$ref":"#/components/schemas/MarketplaceWalletEmbedded"}}},"MarketplaceLegacyCollection":{"type":"objeto","required":["tipoMarketplace","chainId","dirección","exchanges","bannerUrl","porcentajeComisión","opcionesMoneda","mercadoDestino"],"properties":{"marketplaceType":{"$ref":"#/components/schemas/MarketplaceLegacyType"},"chainId":{"type":"número"},"address":{"type":"cadena"},"exchanges":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"bannerUrl":{"type":"cadena"},"feePercentage":{"type":"número"},"currencyOptions":{"type":"arreglo","description":"[]string","items":{"type":"cadena"}},"destinationMarketplace":{"type":"cadena"},"filterSettings":{"$ref":"#/components/schemas/CollectionFilterSettings"}}}}},"paths":null,"security":[{"ApiKeyAuth":[]}]}