# sequence-builder v0.1.0 3be5d5c95ea6ba555dbe301ac8154eded094b6b7
# --
# Code generated by webrpc-gen@v0.22.1 with openapi generator; DO NOT EDIT
# 
# webrpc-gen -service=Builder -match=@analytics -schema=proto/builder.main.ridl -target=openapi -title=Analytics Api -servers=https://api.sequence.app;Analytics -securityAnnotation=@auth -securitySchemes= -out=proto/docs/analytics.gen.yaml
openapi: 3.0.0
info:
  title: 'Analytics Api'
  version: ''
servers:
  - url: 'https://api.sequence.app'
    description: 'Analytics'
components:
  schemas:
    ErrorWebrpcEndpoint:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcEndpoint"
        code:
          type: number
          example: 0
        msg:
          type: string
          example: "endpoint error"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcRequestFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcRequestFailed"
        code:
          type: number
          example: -1
        msg:
          type: string
          example: "request failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadRoute:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRoute"
        code:
          type: number
          example: -2
        msg:
          type: string
          example: "bad route"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorWebrpcBadMethod:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadMethod"
        code:
          type: number
          example: -3
        msg:
          type: string
          example: "bad method"
        cause:
          type: string
        status:
          type: number
          example: 405
    ErrorWebrpcBadRequest:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRequest"
        code:
          type: number
          example: -4
        msg:
          type: string
          example: "bad request"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadResponse:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadResponse"
        code:
          type: number
          example: -5
        msg:
          type: string
          example: "bad response"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcServerPanic:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcServerPanic"
        code:
          type: number
          example: -6
        msg:
          type: string
          example: "server panic"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcInternalError:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcInternalError"
        code:
          type: number
          example: -7
        msg:
          type: string
          example: "internal error"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcClientDisconnected:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcClientDisconnected"
        code:
          type: number
          example: -8
        msg:
          type: string
          example: "client disconnected"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamLost:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamLost"
        code:
          type: number
          example: -9
        msg:
          type: string
          example: "stream lost"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamFinished:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamFinished"
        code:
          type: number
          example: -10
        msg:
          type: string
          example: "stream finished"
        cause:
          type: string
        status:
          type: number
          example: 200
    ErrorUnauthorized:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Unauthorized"
        code:
          type: number
          example: 1000
        msg:
          type: string
          example: "Unauthorized access"
        cause:
          type: string
        status:
          type: number
          example: 401
    ErrorPermissionDenied:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "PermissionDenied"
        code:
          type: number
          example: 1001
        msg:
          type: string
          example: "Permission denied"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorSessionExpired:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "SessionExpired"
        code:
          type: number
          example: 1002
        msg:
          type: string
          example: "Session expired"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorMethodNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "MethodNotFound"
        code:
          type: number
          example: 1003
        msg:
          type: string
          example: "Method not found"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorRequestConflict:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "RequestConflict"
        code:
          type: number
          example: 1004
        msg:
          type: string
          example: "Conflict with target resource"
        cause:
          type: string
        status:
          type: number
          example: 409
    ErrorServiceDisabled:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "ServiceDisabled"
        code:
          type: number
          example: 1005
        msg:
          type: string
          example: "Service disabled"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorTimeout:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Timeout"
        code:
          type: number
          example: 2000
        msg:
          type: string
          example: "Request timed out"
        cause:
          type: string
        status:
          type: number
          example: 408
    ErrorInvalidArgument:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidArgument"
        code:
          type: number
          example: 2001
        msg:
          type: string
          example: "Invalid argument"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "NotFound"
        code:
          type: number
          example: 3000
        msg:
          type: string
          example: "Resource not found"
        cause:
          type: string
        status:
          type: number
          example: 422
    ErrorUserNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "UserNotFound"
        code:
          type: number
          example: 3001
        msg:
          type: string
          example: "User not found"
        cause:
          type: string
        status:
          type: number
          example: 422
    ErrorProjectNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "ProjectNotFound"
        code:
          type: number
          example: 3002
        msg:
          type: string
          example: "Project not found"
        cause:
          type: string
        status:
          type: number
          example: 422
    ErrorInvalidTier:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidTier"
        code:
          type: number
          example: 3003
        msg:
          type: string
          example: "Invalid subscription tier"
        cause:
          type: string
        status:
          type: number
          example: 422
    ErrorEmailTemplateExists:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "EmailTemplateExists"
        code:
          type: number
          example: 3004
        msg:
          type: string
          example: "Email Template exists"
        cause:
          type: string
        status:
          type: number
          example: 409
    ErrorSubscriptionLimit:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "SubscriptionLimit"
        code:
          type: number
          example: 3005
        msg:
          type: string
          example: "Subscription limit reached"
        cause:
          type: string
        status:
          type: number
          example: 402
    ErrorFeatureNotIncluded:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "FeatureNotIncluded"
        code:
          type: number
          example: 3006
        msg:
          type: string
          example: "Feature not included"
        cause:
          type: string
        status:
          type: number
          example: 402
    ErrorInvalidNetwork:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidNetwork"
        code:
          type: number
          example: 3007
        msg:
          type: string
          example: "Invalid network"
        cause:
          type: string
        status:
          type: number
          example: 422
    ErrorInvitationExpired:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvitationExpired"
        code:
          type: number
          example: 4000
        msg:
          type: string
          example: "Invitation code is expired"
        cause:
          type: string
        status:
          type: number
          example: 422
    ErrorAlreadyCollaborator:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "AlreadyCollaborator"
        code:
          type: number
          example: 4001
        msg:
          type: string
          example: "Already a collaborator"
        cause:
          type: string
        status:
          type: number
          example: 409
    AuthSessionType:
      type: string
      description: Represented as uint16 on the server side
      enum:
        - PUBLIC
        - WALLET
        - USER
        - ADMIN
        - SERVICE
    SubscriptionTier:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - COMMUNITY
        - DEVELOPER
        - GROWTH
        - PRO
        - ENTERPRISE
    ProjectType:
      type: string
      description: Represented as string on the server side
      enum:
        - EMBEDDED_WALLET_REACT
        - EMBEDDED_WALLET_NEXTJS
        - EMBEDDED_WALLET_UNITY
        - EMBEDDED_WALLET_UNREAL
        - MARKETPLACE_STANDALONE
        - MARKETPLACE_REACT
        - MARKETPLACE_UNITY
        - MARKETPLACE_UNREAL
        - SALE_CONTRACT_ERC1155
        - SALE_CONTRACT_ERC721
        - ALLOWLIST_STARTER
    ResourceType:
      type: string
      description: Represented as int8 on the server side
      enum:
        - CONTRACTS
    SubscriptionProvider:
      type: string
      description: Represented as string on the server side
      enum:
        - ADMIN
        - STRIPE
        - GOOGLE
    CollaboratorAccess:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - NONE
        - READ
        - WRITE
        - ADMIN
    CollaboratorType:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - USER
        - SERVICE_ACCOUNT
    ContractSourceType:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - LINKED
        - DEPLOYED
        - SALE
    SortOrder:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - DESC
        - ASC
    PaymentProvider:
      type: string
      description: Represented as uint16 on the server side
      enum:
        - UNKNOWN
        - STRIPE
        - ADMIN
    PaymentStatus:
      type: string
      description: Represented as uint16 on the server side
      enum:
        - INITIATED
        - PENDING
        - SUCCEEDED
        - FAILED
        - PROCESSED
    MarketplaceWallet:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - UNIVERSAL
        - EMBEDDED
    MarketplaceType:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - AMM
        - P2P
        - SEQUENCE
        - ORDERBOOK
    OrderbookKind:
      type: string
      description: Represented as string on the server side
      enum:
        - unknown
        - sequence_marketplace_v1
        - sequence_marketplace_v2
        - blur
        - opensea
        - looks_rare
        - reservoir
        - x2y2
    FilterCondition:
      type: string
      description: Represented as string on the server side
      enum:
        - ENTIRE_KEY
        - SPECIFIC_VALUE
    TokenType:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - ERC20
        - ERC721
        - ERC1155
    FileScope:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - LOGO
        - MARKETPLACE
        - AVATAR
        - EMAIL
        - WALLET
        - TOKEN_DIRECTORY
    EmailTemplateType:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - UNKNOWN
        - LOGIN
        - GUARD
    TaskStatus:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - PENDING
        - PAUSED
        - FAILED
        - COMPLETED
        - DISABLED
    DateInterval:
      type: string
      description: Represented as uint16 on the server side
      enum:
        - DAY
        - WEEK
        - MONTH
    OnboardingStep:
      type: string
      description: Represented as string on the server side
      enum:
        - linkOrDeployContract
        - createMarketplace
        - setUpGasTank
        - configureWaas
        - customizeWallet
        - inviteCollaborator
        - cloneGithub
        - copyCredentials
        - customizeMarketplace
        - deployERC721Contract
        - deployERC1155Contract
        - addMarketplaceCollection
        - createCollection
        - customizeCollectible
        - deploySaleContract
        - setSaleSettings
        - addMinterRoleToItems
        - setUpAudienceList
        - setUpBot
    WaasTenantState:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - PENDING
        - DEPLOYING
        - READY
        - FAILED
    TrialType:
      type: string
      description: Represented as string on the server side
      enum:
        - ANALYTICS
    CustomerTier:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - TIER_1
        - TIER_2
        - TIER_3
        - TIER_4
        - TIER_5
    AuditType:
      type: string
      description: Represented as string on the server side
      enum:
        - SUBSCRIPTION
        - BILLING_OVERRIDE
    Version:
      type: object
      required:
        - webrpcVersion
        - schemaVersion
        - schemaHash
        - appVersion
      properties:
        webrpcVersion:
          type: string
        schemaVersion:
          type: string
        schemaHash:
          type: string
        appVersion:
          type: string
    RuntimeStatus:
      type: object
      required:
        - healthOK
        - startTime
        - uptime
        - ver
        - env
        - branch
        - commitHash
        - networks
        - checks
      properties:
        healthOK:
          type: boolean
        startTime:
          type: string
        uptime:
          type: number
        ver:
          type: string
        env:
          type: string
        branch:
          type: string
        commitHash:
          type: string
        networks:
          type: object
          description: 'map<string,bool>'
          additionalProperties:
            type: boolean
        checks:
          $ref: '#/components/schemas/RuntimeChecks'
    RuntimeChecks:
      type: object
      required:
        - quotaControl
        - joqueue
        - stripe
        - cloudCommerce
      properties:
        quotaControl:
          type: boolean
        joqueue:
          type: boolean
        stripe:
          type: boolean
        cloudCommerce:
          type: boolean
    Configuration:
      type: object
      required:
        - name
        - title
        - chainIds
        - domains
      properties:
        name:
          type: string
        title:
          type: string
        chainIds:
          type: array
          description: '[]uint64'
          items:
            type: number
        domains:
          type: array
          description: '[]string'
          items:
            type: string
        logoUrl:
          type: string
        logoLightUrl:
          type: string
        titleUrl:
          type: string
        backgroundUrl:
          type: string
        mobileBackgroundUrl:
          type: string
        customCss:
          type: string
        animationUrl:
          type: string
        crispWebsiteId:
          type: string
        learnMoreButton:
          type: string
        learnMoreUrl:
          type: string
    AuthState:
      type: object
      required:
        - jwtToken
        - expiresAt
        - address
        - sessionType
      properties:
        jwtToken:
          type: string
        expiresAt:
          type: string
        address:
          type: string
        sessionType:
          $ref: '#/components/schemas/AuthSessionType'
        user:
          $ref: '#/components/schemas/User'
    User:
      type: object
      required:
        - address
        - createdAt
        - updatedAt
        - sysAdmin
        - avatarKey
        - avatarUrl
      properties:
        address:
          type: string
        email:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        sysAdmin:
          type: boolean
        avatarKey:
          type: string
        avatarUrl:
          type: string
    UserSettings:
      type: object
      required:
        - freeProjectsLeft
        - totalFreeProjectLimit
        - totalPaidProjects
        - totalFreeProjects
      properties:
        freeProjectsLeft:
          type: number
        totalFreeProjectLimit:
          type: number
        totalPaidProjects:
          type: number
        totalFreeProjects:
          type: number
    UserOverride:
      type: object
      required:
        - id
        - address
        - extraProjects
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        address:
          type: string
        extraProjects:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
    Project:
      type: object
      required:
        - id
        - name
        - ownerAddress
        - ownerAvatarUrl
        - draft
        - logoImageKey
        - logoImageUrl
        - websiteUrl
        - chainIds
        - whitelabel
        - subscriptionTier
        - collaboratorCount
        - onboardingVisibility
        - onboardingSteps
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        name:
          type: string
        type:
          $ref: '#/components/schemas/ProjectType'
        ownerAddress:
          type: string
        ownerEmail:
          type: string
        ownerAvatarUrl:
          type: string
        draft:
          type: boolean
        logoImageKey:
          type: string
        logoImageUrl:
          type: string
        websiteUrl:
          type: string
        chainIds:
          type: array
          description: '[]uint64'
          items:
            type: number
        whitelabel:
          type: string
        subscriptionTier:
          $ref: '#/components/schemas/SubscriptionTier'
        collaboratorCount:
          type: number
        onboardingVisibility:
          type: boolean
        onboardingSteps:
          type: object
          description: 'map<string,bool>'
          additionalProperties:
            type: boolean
        createdAt:
          type: string
        updatedAt:
          type: string
        deletedAt:
          type: string
    ResourceFilter:
      type: object
      properties:
        contracts:
          $ref: '#/components/schemas/ContractFilter'
    Resource:
      type: object
      required:
        - type
        - total
        - detail
      properties:
        type:
          $ref: '#/components/schemas/ResourceType'
        total:
          type: number
        detail:
          type: array
          description: '[]ResourceDetail'
          items:
            $ref: '#/components/schemas/ResourceDetail'
    ResourceDetail:
      type: object
      required:
        - key
        - count
      properties:
        key:
          type: object
        count:
          type: number
    ProjectSubscription:
      type: object
      required:
        - id
        - projectId
        - subscriptionTier
        - provider
        - subscriptionId
        - dateStart
      properties:
        id:
          type: number
        projectId:
          type: number
        subscriptionTier:
          $ref: '#/components/schemas/SubscriptionTier'
        provider:
          $ref: '#/components/schemas/SubscriptionProvider'
        subscriptionId:
          type: string
        providerUrl:
          type: string
        dateStart:
          type: string
        dateEnd:
          type: string
    Collaborator:
      type: object
      required:
        - id
        - projectId
        - type
        - userAddress
        - access
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        projectId:
          type: number
        type:
          $ref: '#/components/schemas/CollaboratorType'
        userAddress:
          type: string
        userEmail:
          type: string
        userAvatarUrl:
          type: string
        userAvatarKey:
          type: string
        access:
          $ref: '#/components/schemas/CollaboratorAccess'
        invitationId:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
    Contract:
      type: object
      required:
        - id
        - projectId
        - contractName
        - contractAddress
        - contractType
        - chainId
        - source
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        projectId:
          type: number
        contractName:
          type: string
        contractAddress:
          type: string
        contractType:
          type: string
        chainId:
          type: number
        source:
          $ref: '#/components/schemas/ContractSourceType'
        itemsContractAddress:
          type: string
        splitterContractAddresses:
          type: array
          description: '[]string'
          items:
            type: string
        laosCollectionAddress:
          type: string
        abi:
          type: string
        bytecode:
          type: string
        bytecodeHash:
          type: string
        audienceId:
          type: number
        decimals:
          type: number
        symbol:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    ContractSync:
      type: object
      properties:
        decimals:
          type: number
        symbol:
          type: string
    ContractFilter:
      type: object
      properties:
        chainId:
          type: number
        contractSourceType:
          $ref: '#/components/schemas/ContractSourceType'
        contractType:
          type: string
    ContractLink:
      type: object
      required:
        - project
        - collaborator
      properties:
        contract:
          $ref: '#/components/schemas/Contract'
        project:
          $ref: '#/components/schemas/Project'
        collaborator:
          $ref: '#/components/schemas/Collaborator'
    RelayerGasSponsor:
      type: object
      required:
        - id
        - projectId
        - chainId
        - displayName
        - address
        - active
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        projectId:
          type: number
        chainId:
          type: number
        displayName:
          type: string
        address:
          type: string
        active:
          type: boolean
        createdAt:
          type: string
        updatedAt:
          type: string
    RelayerTransaction:
      type: object
      required:
        - txnHash
        - txnNonce
        - txnStatus
        - txnRevertReason
        - requeues
        - queuedAt
        - sentAt
        - minedAt
        - target
        - input
        - txnArgs
        - walletAddress
        - metaTxnNonce
        - gasLimit
        - gasPrice
        - gasUsed
        - gasEstimated
        - usdRate
        - creditsUsed
        - cost
        - isWhitelisted
        - createdAt
        - updatedAt
      properties:
        txnHash:
          type: string
        txnNonce:
          type: string
        metaTxnID:
          type: string
        txnStatus:
          type: string
        txnRevertReason:
          type: string
        requeues:
          type: number
        queuedAt:
          type: string
        sentAt:
          type: string
        minedAt:
          type: string
        target:
          type: string
        input:
          type: string
        txnArgs:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        txnReceipt:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        walletAddress:
          type: string
        metaTxnNonce:
          type: string
        gasLimit:
          type: number
        gasPrice:
          type: string
        gasUsed:
          type: number
        gasEstimated:
          type: number
        gasFeeMarkup:
          type: number
        usdRate:
          type: string
        creditsUsed:
          type: number
        cost:
          type: string
        isWhitelisted:
          type: boolean
        gasSponsor:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
    ContractSource:
      type: object
      required:
        - id
        - uid
        - contractType
        - name
        - description
        - author
        - license
        - audited
        - moreInfoUrl
        - disabled
        - factorySourceUid
        - abi
        - bytecode
        - bytecodeHash
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        uid:
          type: string
        contractType:
          type: string
        projectId:
          type: number
        name:
          type: string
        description:
          type: string
        author:
          type: string
        license:
          type: string
        audited:
          type: boolean
        moreInfoUrl:
          type: string
        disabled:
          type: boolean
        factorySourceUid:
          type: string
        abi:
          type: string
        bytecode:
          type: string
        bytecodeHash:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    ContractFactory:
      type: object
      required:
        - id
        - chainId
        - contractAddress
        - uid
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        chainId:
          type: number
        contractAddress:
          type: string
        uid:
          type: string
        abi:
          type: string
        bytecode:
          type: string
        bytecodeHash:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    NewContractSource:
      type: object
      required:
        - uid
        - name
        - contractType
        - bytecode
        - abi
      properties:
        uid:
          type: string
        name:
          type: string
        description:
          type: string
        author:
          type: string
        license:
          type: string
        audited:
          type: boolean
        moreInfoUrl:
          type: string
        disabled:
          type: boolean
        contractType:
          type: string
        bytecode:
          type: string
        abi:
          type: string
    Page:
      type: object
      properties:
        pageSize:
          type: number
        page:
          type: number
        column:
          type: string
        more:
          type: boolean
        before:
          type: object
        after:
          type: object
        sort:
          type: array
          description: '[]SortBy'
          items:
            $ref: '#/components/schemas/SortBy'
    SortBy:
      type: object
      required:
        - column
      properties:
        column:
          type: string
        order:
          $ref: '#/components/schemas/SortOrder'
    BillingSettings:
      type: object
      required:
        - limits
        - prices
        - topUp
      properties:
        limits:
          $ref: '#/components/schemas/LimitSettings'
        prices:
          $ref: '#/components/schemas/PriceSettings'
        topUp:
          $ref: '#/components/schemas/TopUpSettings'
    BillingCycle:
      type: object
      required:
        - start
        - end
      properties:
        start:
          type: string
        end:
          type: string
    LimitSettings:
      type: object
      required:
        - mauIncludedWarn
        - mauIncludedMax
        - mauOverageWarn
        - requestsPerMau
        - rateLimit
      properties:
        maxKeys:
          type: number
        mauIncludedWarn:
          type: number
        mauIncludedMax:
          type: number
        mauOverageWarn:
          type: number
        mauOverageMax:
          type: number
        requestsPerMau:
          type: number
        rateLimit:
          type: number
    PriceSettings:
      type: object
      required:
        - subscription
        - overage
        - marketplaceFee
        - gasFeeMarkup
      properties:
        subscription:
          type: string
        overage:
          type: string
        marketplaceFee:
          type: string
        gasFeeMarkup:
          type: string
    TopUpSettings:
      type: object
      required:
        - active
        - provider
        - threshold
        - amount
        - limit
      properties:
        active:
          type: boolean
        provider:
          $ref: '#/components/schemas/PaymentProvider'
        threshold:
          type: number
        amount:
          type: number
        limit:
          type: number
    BillingOverride:
      type: object
      required:
        - topUpEnabled
        - topUpProvider
      properties:
        mauIncludedMax:
          type: number
        mauIncludedWarn:
          type: number
        mauOverageMax:
          type: number
        mauOverageWarn:
          type: number
        rateLimit:
          type: number
        priceSubscription:
          type: string
        priceOverage:
          type: string
        marketplaceFee:
          type: string
        gasFeeMarkup:
          type: string
        topUpEnabled:
          type: boolean
        topUpProvider:
          $ref: '#/components/schemas/PaymentProvider'
        topUpThreshold:
          type: number
        topUpAmount:
          type: number
        topUpLimit:
          type: number
    UsageInfo:
      type: object
      required:
        - includedWarn
        - includedMax
        - overageWarn
        - overageMax
        - mau
        - usage
        - balance
        - overage
      properties:
        includedWarn:
          type: number
        includedMax:
          type: number
        overageWarn:
          type: number
        overageMax:
          type: number
        mau:
          type: number
        usage:
          type: number
        balance:
          type: number
        overage:
          type: number
        extraCharged:
          type: string
    SubscriptionInfo:
      type: object
      required:
        - current
        - cycle
        - settings
        - info
      properties:
        current:
          $ref: '#/components/schemas/ProjectSubscription'
        cycle:
          $ref: '#/components/schemas/BillingCycle'
        settings:
          $ref: '#/components/schemas/BillingSettings'
        info:
          $ref: '#/components/schemas/UsageInfo'
        plannedDowngrade:
          $ref: '#/components/schemas/SubscriptionTier'
        pendingUpgrade:
          $ref: '#/components/schemas/SubscriptionTier'
    PaymentHistory:
      type: object
      required:
        - totalPayments
        - payments
      properties:
        totalPayments:
          type: number
        payments:
          type: array
          description: '[]Payment'
          items:
            $ref: '#/components/schemas/Payment'
    Redirect:
      type: object
      required:
        - url
      properties:
        url:
          type: string
    StripeEventData:
      type: object
      required:
        - object
      properties:
        object:
          $ref: '#/components/schemas/StripeEventDataObject'
    StripeEventDataObject:
      type: object
      required:
        - id
        - object
      properties:
        id:
          type: string
        object:
          type: string
    Payment:
      type: object
      required:
        - id
        - projectId
        - provider
        - externalTxnID
        - createdAt
      properties:
        id:
          type: number
        projectId:
          type: number
        chainId:
          type: number
        status:
          $ref: '#/components/schemas/PaymentStatus'
        provider:
          $ref: '#/components/schemas/PaymentProvider'
        externalTxnID:
          type: string
        createdAt:
          type: string
    PaymentLog:
      type: object
      required:
        - id
        - paymentID
        - data
        - createdAt
      properties:
        id:
          type: number
        paymentID:
          type: number
        data:
          $ref: '#/components/schemas/PaymentLogData'
        createdAt:
          type: string
    PaymentLogData:
      type: object
      required:
        - type
        - data
      properties:
        type:
          type: string
        data:
          type: object
    InvoicesReturn:
      type: object
      required:
        - hasMore
        - invoices
      properties:
        hasMore:
          type: boolean
        invoices:
          type: array
          description: '[]Invoice'
          items:
            $ref: '#/components/schemas/Invoice'
    Invoice:
      type: object
      required:
        - id
        - date
        - amount
        - paid
        - url
      properties:
        id:
          type: string
        date:
          type: string
        amount:
          type: string
        paid:
          type: boolean
        url:
          type: string
    SubscriptionPlans:
      type: object
      required:
        - configs
      properties:
        configs:
          type: object
          description: 'map<string,SubscriptionPlan>'
          additionalProperties:
            $ref: '#/components/schemas/SubscriptionPlan'
    SubscriptionPlan:
      type: object
      required:
        - tier
        - settings
        - features
      properties:
        tier:
          $ref: '#/components/schemas/SubscriptionTier'
        settings:
          $ref: '#/components/schemas/BillingSettings'
        features:
          type: array
          description: '[]string'
          items:
            type: string
    ContractInfo:
      type: object
      required:
        - chainId
        - address
        - name
        - type
        - symbol
        - logoURI
        - deployed
        - bytecodeHash
        - extensions
        - contentHash
        - updatedAt
      properties:
        chainId:
          type: number
        address:
          type: string
        name:
          type: string
        type:
          type: string
        symbol:
          type: string
        decimals:
          type: number
        logoURI:
          type: string
        deployed:
          type: boolean
        bytecodeHash:
          type: string
        extensions:
          type: object
        contentHash:
          type: number
        updatedAt:
          type: string
    ProjectInvitation:
      type: object
      required:
        - id
        - projectId
        - code
        - access
        - expiresAt
        - usageCount
        - createdAt
      properties:
        id:
          type: number
        projectId:
          type: number
        code:
          type: string
        access:
          $ref: '#/components/schemas/CollaboratorAccess'
        expiresAt:
          type: string
        usageCount:
          type: number
        signupLimit:
          type: number
        createdAt:
          type: string
        deletedAt:
          type: string
    MarketplaceConfig:
      type: object
      required:
        - id
        - projectId
        - settings
        - style
      properties:
        id:
          type: number
        projectId:
          type: number
        settings:
          $ref: '#/components/schemas/MarketplaceSettings'
        style:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        createdAt:
          type: string
        updatedAt:
          type: string
    MarketplaceWalletOptions:
      type: object
      required:
        - walletType
        - oidcIssuers
        - connectors
        - includeEIP6963Wallets
      properties:
        walletType:
          $ref: '#/components/schemas/MarketplaceWallet'
        oidcIssuers:
          type: object
          description: 'map<string,string>'
          additionalProperties:
            type: string
        connectors:
          type: array
          description: '[]string'
          items:
            type: string
        includeEIP6963Wallets:
          type: boolean
    MetadataFilterRule:
      type: object
      required:
        - key
        - condition
      properties:
        key:
          type: string
        condition:
          $ref: '#/components/schemas/FilterCondition'
        value:
          type: string
    CollectionFilterSettings:
      type: object
      required:
        - filterOrder
        - exclusions
      properties:
        filterOrder:
          type: array
          description: '[]string'
          items:
            type: string
        exclusions:
          type: array
          description: '[]MetadataFilterRule'
          items:
            $ref: '#/components/schemas/MetadataFilterRule'
    MarketplaceCollection:
      type: object
      required:
        - marketplaceType
        - chainId
        - address
        - exchanges
        - bannerUrl
        - feePercentage
        - currencyOptions
        - destinationMarketplace
      properties:
        marketplaceType:
          $ref: '#/components/schemas/MarketplaceType'
        chainId:
          type: number
        address:
          type: string
        exchanges:
          type: array
          description: '[]string'
          items:
            type: string
        bannerUrl:
          type: string
        feePercentage:
          type: number
        currencyOptions:
          type: array
          description: '[]string'
          items:
            type: string
        destinationMarketplace:
          $ref: '#/components/schemas/OrderbookKind'
        filterSettings:
          $ref: '#/components/schemas/CollectionFilterSettings'
    MarketplaceSocials:
      type: object
      required:
        - twitter
        - discord
        - website
        - tiktok
        - instagram
        - youtube
      properties:
        twitter:
          type: string
        discord:
          type: string
        website:
          type: string
        tiktok:
          type: string
        instagram:
          type: string
        youtube:
          type: string
    MarketplaceSettings:
      type: object
      required:
        - publisherId
        - title
        - shortDescription
        - socials
        - faviconUrl
        - landingBannerUrl
        - collections
        - walletOptions
        - landingPageLayout
        - logoUrl
        - bannerUrl
      properties:
        publisherId:
          type: string
        title:
          type: string
        shortDescription:
          type: string
        socials:
          $ref: '#/components/schemas/MarketplaceSocials'
        faviconUrl:
          type: string
        landingBannerUrl:
          type: string
        collections:
          type: array
          description: '[]MarketplaceCollection'
          items:
            $ref: '#/components/schemas/MarketplaceCollection'
        walletOptions:
          $ref: '#/components/schemas/MarketplaceWalletOptions'
        landingPageLayout:
          type: string
        logoUrl:
          type: string
        bannerUrl:
          type: string
        fontUrl:
          type: string
        ogImage:
          type: string
    MarketplaceHostname:
      type: object
      required:
        - id
        - marketplaceConfigId
        - hostname
        - isDefaultHostname
        - isCustomDomain
        - createdAt
      properties:
        id:
          type: number
        marketplaceConfigId:
          type: number
        hostname:
          type: string
        isDefaultHostname:
          type: boolean
        isCustomDomain:
          type: boolean
        createdAt:
          type: string
    OffchainInventory:
      type: object
      required:
        - id
        - projectId
        - chainId
        - externalProductId
        - paymentTokenAddress
        - paymentTokenType
        - paymentTokenId
        - paymentAmount
        - paymentRecipient
      properties:
        id:
          type: number
        projectId:
          type: number
        chainId:
          type: number
        externalProductId:
          type: string
        paymentTokenAddress:
          type: string
        paymentTokenType:
          $ref: '#/components/schemas/TokenType'
        paymentTokenId:
          type: number
        paymentAmount:
          type: number
        paymentRecipient:
          type: string
        chainedCallAddress:
          type: string
        chainedCallData:
          type: string
        allowCrossChainPayments:
          type: boolean
        callbackURL:
          type: string
        createdAt:
          type: string
        deletedAt:
          type: string
    OffchainPayment:
      type: object
      required:
        - id
        - offchainInventoryId
        - productRecipient
        - paymentChainId
        - paymentTokenAddress
        - expiration
        - createdAt
      properties:
        id:
          type: number
        offchainInventoryId:
          type: number
        productRecipient:
          type: string
        paymentChainId:
          type: number
        paymentTokenAddress:
          type: string
        expiration:
          type: string
        createdAt:
          type: string
        completedAt:
          type: string
        processedAt:
          type: string
    WalletConfigSchema:
      type: object
      required:
        - version
        - config
      properties:
        version:
          type: number
        config:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
    WalletConfig:
      type: object
      required:
        - version
        - projectId
        - platform
        - config
      properties:
        id:
          type: number
        version:
          type: number
        projectId:
          type: number
        platform:
          type: string
        config:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        createdAt:
          type: string
        updatedAt:
          type: string
    ProjectFile:
      type: object
      required:
        - id
        - projectId
        - scope
        - mimetype
        - filepath
        - contents
        - hash
        - url
        - createdAt
      properties:
        id:
          type: number
        projectId:
          type: number
        scope:
          $ref: '#/components/schemas/FileScope'
        mimetype:
          type: string
        filepath:
          type: string
        contents:
          type: array
          description: '[]byte'
          items:
            type: string
        hash:
          type: array
          description: '[]byte'
          items:
            type: string
        url:
          type: string
        createdAt:
          type: string
    EmailTemplate:
      type: object
      required:
        - id
        - projectId
        - subject
        - introText
        - logoUrl
        - placeholders
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        templateType:
          $ref: '#/components/schemas/EmailTemplateType'
        projectId:
          type: number
        subject:
          type: string
        introText:
          type: string
        logoUrl:
          type: string
        template:
          type: string
        fromEmail:
          type: string
        placeholders:
          type: array
          description: '[]string'
          items:
            type: string
        sesConfig:
          $ref: '#/components/schemas/SESSettings'
        createdAt:
          type: string
        updatedAt:
          type: string
        deletedAt:
          type: string
    SESSettings:
      type: object
      required:
        - accessRoleARN
        - sourceARN
      properties:
        accessRoleARN:
          type: string
        sourceARN:
          type: string
    TaskRunner:
      type: object
      required:
        - id
        - workGroup
        - runAt
      properties:
        id:
          type: number
        workGroup:
          type: string
        runAt:
          type: string
    Task:
      type: object
      required:
        - id
        - queue
        - status
        - try
        - payload
        - hash
      properties:
        id:
          type: number
        queue:
          type: string
        status:
          $ref: '#/components/schemas/TaskStatus'
        try:
          type: number
        runAt:
          type: string
        lastRanAt:
          type: string
        createdAt:
          type: string
        payload:
          type: array
          description: '[]byte'
          items:
            type: string
        hash:
          type: string
    QueryFilter:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: number
        startDate:
          type: string
        endDate:
          type: string
        dateInterval:
          $ref: '#/components/schemas/DateInterval'
        collections:
          type: array
          description: '[]string'
          items:
            type: string
        tokenId:
          type: string
    Chart:
      type: object
      required:
        - value
        - label
      properties:
        value:
          type: number
        label:
          type: string
    MultiValueChart:
      type: object
      required:
        - value
        - label
      properties:
        value:
          type: object
          description: 'map<string,float64>'
          additionalProperties:
            type: number
        label:
          type: string
    QueryResult:
      type: object
      required:
        - collection
        - source
        - volumeUSD
        - numTokens
        - numTxns
      properties:
        collection:
          type: string
        source:
          type: string
        tokenId:
          type: string
        volumeUSD:
          type: number
        numTokens:
          type: number
        numTxns:
          type: number
    CreditBonus:
      type: object
      required:
        - id
        - projectId
        - amount
        - balance
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        projectId:
          type: number
        amount:
          type: number
        balance:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
    OpenIdProvider:
      type: object
      required:
        - iss
        - aud
      properties:
        iss:
          type: string
        aud:
          type: array
          description: '[]string'
          items:
            type: string
    WaasSettings:
      type: object
      required:
        - recoveryAddress
        - authConfig
        - tenantState
        - emailAuth
        - oidcProviders
        - allowedOrigins
        - updateCode
        - tenantKey
      properties:
        recoveryAddress:
          type: string
        authConfig:
          $ref: '#/components/schemas/WaasAuthConfig'
        tenantState:
          $ref: '#/components/schemas/WaasTenantState'
        emailAuth:
          type: boolean
        oidcProviders:
          type: array
          description: '[]OpenIdProvider'
          items:
            $ref: '#/components/schemas/OpenIdProvider'
        allowedOrigins:
          type: array
          description: '[]string'
          items:
            type: string
        updateCode:
          type: string
        tenantKey:
          type: string
    WaasAuthEmailConfig:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
    WaasAuthGuestConfig:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
    WaasAuthPlayfabConfig:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
        titleId:
          type: string
    WaasAuthStytchConfig:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
        projectId:
          type: string
    WaasAuthConfig:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/WaasAuthEmailConfig'
        guest:
          $ref: '#/components/schemas/WaasAuthGuestConfig'
        playfab:
          $ref: '#/components/schemas/WaasAuthPlayfabConfig'
        stytch:
          $ref: '#/components/schemas/WaasAuthStytchConfig'
    WaasWalletStatus:
      type: object
      required:
        - chainId
        - address
        - deployed
      properties:
        chainId:
          type: number
        address:
          type: string
        deployed:
          type: boolean
    RawData:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
    Audience:
      type: object
      required:
        - id
        - projectId
        - name
        - contactCount
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        projectId:
          type: number
        name:
          type: string
        contactCount:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
        deletedAt:
          type: string
    AudienceContact:
      type: object
      required:
        - audienceId
        - address
      properties:
        id:
          type: number
        audienceId:
          type: number
        name:
          type: string
        address:
          type: string
        email:
          type: string
        userIp:
          type: string
        stage:
          type: number
        provider:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    AudienceRegistrationStatus:
      type: object
      required:
        - totalCount
      properties:
        totalCount:
          type: number
    Trial:
      type: object
      required:
        - id
        - projectId
        - type
        - startAt
        - endAt
      properties:
        id:
          type: number
        projectId:
          type: number
        type:
          $ref: '#/components/schemas/TrialType'
        startAt:
          type: string
        endAt:
          type: string
    ExtendedMarketplaceConfig:
      type: object
      required:
        - projectId
        - config
        - accessKey
        - waasEmailEnabled
        - waasTenantKey
        - waasProviders
      properties:
        projectId:
          type: number
        config:
          $ref: '#/components/schemas/MarketplaceSettings'
        accessKey:
          type: string
        waasEmailEnabled:
          type: boolean
        waasTenantKey:
          type: string
        waasProviders:
          type: array
          description: '[]OpenIdProvider'
          items:
            $ref: '#/components/schemas/OpenIdProvider'
    Customer:
      type: object
      required:
        - id
        - name
        - tier
        - metadata
        - createdAt
        - updatedAt
      properties:
        id:
          type: number
        name:
          type: string
        tier:
          $ref: '#/components/schemas/CustomerTier'
        metadata:
          type: object
          description: 'map<string,string>'
          additionalProperties:
            type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        deletedAt:
          type: string
    CustomerFilter:
      type: object
      properties:
        name:
          type: string
        tier:
          $ref: '#/components/schemas/CustomerTier'
    WalletProof:
      type: object
      required:
        - address
        - message
        - signature
        - chainId
      properties:
        address:
          type: string
        message:
          type: string
        signature:
          type: string
        chainId:
          type: number
    AuditLog:
      type: object
      required:
        - id
        - walletAddress
        - userEmail
        - projectId
        - type
        - oldValue
        - newValue
        - createdAt
      properties:
        id:
          type: number
        walletAddress:
          type: string
        userEmail:
          type: string
        projectId:
          type: number
        type:
          $ref: '#/components/schemas/AuditType'
        oldValue:
          type: object
        newValue:
          type: object
        createdAt:
          type: string
    Builder_TotalCompute_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_ComputeByService_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_DailyComputeByType_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_DailyComputeByService_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_GetOrderbookCollections_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsTotal_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsDaily_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsMonthly_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsByCountry_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsByDevice_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsByBrowser_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsByOS_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsTxnSentTotal_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsTxnSentDaily_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WalletsTxnSentMonthly_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MarketTxnEventTotal_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MarketTxnEventDaily_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MarketTxnEventMonthly_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MarketWalletsTotal_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MarketWalletsDaily_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MarketWalletsMonthly_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_TotalWalletTxnConversionRate_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_DailyWalletTxnConversionRate_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MonthlyWalletTxnConversionRate_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_DailyNewWallets_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MonthlyNewWallets_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_TotalNewWallets_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageDAU_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_RollingStickiness_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageStickiness_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_D1RetentionByCohort_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_D3RetentionByCohort_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_D7RetentionByCohort_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_D14RetentionByCohort_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_D28RetentionByCohort_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageD1Retention_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageD3Retention_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageD7Retention_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageD14Retention_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_AverageD28Retention_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MonthlyActiveWalletsBySegment_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MonthlyTransactingWalletsBySegment_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_WeeklyActiveWallets_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_TotalViews_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_DailyViews_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_ViewsByCountry_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_ViewsByDevice_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_ViewsByOS_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_DailyUniqueVisitors_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_MonthlyUniqueVisitors_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_ActiveSessions_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_UserEvents_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/QueryFilter'
    Builder_TotalCompute_Response:
      type: object
      properties:
        computeStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_ComputeByService_Response:
      type: object
      properties:
        computeStats:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_DailyComputeByType_Response:
      type: object
      properties:
        computeStats:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_DailyComputeByService_Response:
      type: object
      properties:
        computeStats:
          type: object
          description: 'map<string,[]Chart>'
          additionalProperties:
            type: array
            description: '[]Chart'
            items:
              $ref: '#/components/schemas/Chart'
    Builder_GetOrderbookCollections_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]QueryResult'
          items:
            $ref: '#/components/schemas/QueryResult'
    Builder_WalletsTotal_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsDaily_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsMonthly_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsByCountry_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsByDevice_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsByBrowser_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsByOS_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsTxnSentTotal_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsTxnSentDaily_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_WalletsTxnSentMonthly_Response:
      type: object
      properties:
        walletStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MarketTxnEventTotal_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MarketTxnEventDaily_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_MarketTxnEventMonthly_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MarketWalletsTotal_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MarketWalletsDaily_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MarketWalletsMonthly_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_TotalWalletTxnConversionRate_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_DailyWalletTxnConversionRate_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MonthlyWalletTxnConversionRate_Response:
      type: object
      properties:
        marketStats:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_DailyNewWallets_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MonthlyNewWallets_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_TotalNewWallets_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageDAU_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_RollingStickiness_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageStickiness_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_D1RetentionByCohort_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_D3RetentionByCohort_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_D7RetentionByCohort_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_D14RetentionByCohort_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_D28RetentionByCohort_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageD1Retention_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageD3Retention_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageD7Retention_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageD14Retention_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_AverageD28Retention_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_MonthlyActiveWalletsBySegment_Response:
      type: object
      properties:
        data:
          type: object
          description: 'map<string,[]Chart>'
          additionalProperties:
            type: array
            description: '[]Chart'
            items:
              $ref: '#/components/schemas/Chart'
    Builder_MonthlyTransactingWalletsBySegment_Response:
      type: object
      properties:
        data:
          type: object
          description: 'map<string,[]Chart>'
          additionalProperties:
            type: array
            description: '[]Chart'
            items:
              $ref: '#/components/schemas/Chart'
    Builder_WeeklyActiveWallets_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_TotalViews_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_DailyViews_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_ViewsByCountry_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_ViewsByDevice_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_ViewsByOS_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_DailyUniqueVisitors_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_MonthlyUniqueVisitors_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]MultiValueChart'
          items:
            $ref: '#/components/schemas/MultiValueChart'
    Builder_ActiveSessions_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
    Builder_UserEvents_Response:
      type: object
      properties:
        data:
          type: array
          description: '[]Chart'
          items:
            $ref: '#/components/schemas/Chart'
paths:
  /rpc/Builder/TotalCompute:
    post:
      summary: TotalCompute
      description: "Analytics"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_TotalCompute_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_TotalCompute_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/ComputeByService:
    post:
      summary: ComputeByService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_ComputeByService_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_ComputeByService_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/DailyComputeByType:
    post:
      summary: DailyComputeByType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_DailyComputeByType_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_DailyComputeByType_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/DailyComputeByService:
    post:
      summary: DailyComputeByService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_DailyComputeByService_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_DailyComputeByService_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/GetOrderbookCollections:
    post:
      summary: GetOrderbookCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_GetOrderbookCollections_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_GetOrderbookCollections_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/WalletsTotal:
    post:
      summary: WalletsTotal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_WalletsTotal_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_WalletsTotal_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/WalletsDaily:
    post:
      summary: WalletsDaily
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_WalletsDaily_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_WalletsDaily_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Builder/WalletsMonthly:
    post:
      summary: WalletsMonthly
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Builder_WalletsMonthly_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Builder_WalletsMonthly_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorServiceDisabled'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorUserNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorInvalidTier'
                  - $ref: '#/components/schemas/ErrorEmailTemplateExists'
                  - $ref: '#/components/schemas/ErrorSubscriptionLimit'
                  - $ref: '#/components/schemas/ErrorFeatureNotIncluded'
                  - $ref: '#/components/schemas/ErrorInvalidNetwork'
                  - $ref: '#/components/schemas/ErrorInvitationExpired'
                  - $ref: '#/components/schemas/ErrorAlreadyCollaborator'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
[...]
