# sequence-relayer v0.4.1 eb5106c49856de745fc179a664c2684c3605f518
# --
# Code generated by webrpc-gen@v0.21.0 with openapi generator; DO NOT EDIT
# 
# webrpc-gen -service=Relayer -ignore=@internal -schema=proto/relayer.ridl -target=openapi -title=Relayer Api -servers=https://amoy-relayer.sequence.app;Amoy Relayer,https://apechain-relayer.sequence.app;Apechain Relayer,https://apechain-testnet-relayer.sequence.app;Apechain-Testnet Relayer,https://arbitrum-relayer.sequence.app;Arbitrum Relayer,https://arbitrum-nova-relayer.sequence.app;Arbitrum-Nova Relayer,https://arbitrum-sepolia-relayer.sequence.app;Arbitrum-Sepolia Relayer,https://astar-zkevm-relayer.sequence.app;Astar-Zkevm Relayer,https://astar-zkyoto-relayer.sequence.app;Astar-Zkyoto Relayer,https://avalanche-relayer.sequence.app;Avalanche Relayer,https://avalanche-testnet-relayer.sequence.app;Avalanche-Testnet Relayer,https://b3-relayer.sequence.app;B3 Relayer,https://b3-sepolia-relayer.sequence.app;B3-Sepolia Relayer,https://base-relayer.sequence.app;Base Relayer,https://base-sepolia-relayer.sequence.app;Base-Sepolia Relayer,https://blast-relayer.sequence.app;Blast Relayer,https://blast-sepolia-relayer.sequence.app;Blast-Sepolia Relayer,https://borne-testnet-relayer.sequence.app;Borne-Testnet Relayer,https://bsc-relayer.sequence.app;Bsc Relayer,https://bsc-testnet-relayer.sequence.app;Bsc-Testnet Relayer,https://gnosis-relayer.sequence.app;Gnosis Relayer,https://homeverse-relayer.sequence.app;Homeverse Relayer,https://homeverse-testnet-relayer.sequence.app;Homeverse-Testnet Relayer,https://immutable-zkevm-relayer.sequence.app;Immutable-Zkevm Relayer,https://immutable-zkevm-testnet-relayer.sequence.app;Immutable-Zkevm-Testnet Relayer,https://mainnet-relayer.sequence.app;Mainnet Relayer,https://optimism-relayer.sequence.app;Optimism Relayer,https://optimism-sepolia-relayer.sequence.app;Optimism-Sepolia Relayer,https://polygon-relayer.sequence.app;Polygon Relayer,https://polygon-zkevm-relayer.sequence.app;Polygon-Zkevm Relayer,https://rootnet-relayer.sequence.app;Rootnet Relayer,https://rootnet-porcini-relayer.sequence.app;Rootnet-Porcini Relayer,https://sepolia-relayer.sequence.app;Sepolia Relayer,https://skale-nebula-testnet-relayer.sequence.app;Skale-Nebula-Testnet Relayer,https://soneium-minato-relayer.sequence.app;Soneium-Minato Relayer,https://toy-testnet-relayer.sequence.app;Toy-Testnet Relayer,https://xai-relayer.sequence.app;Xai Relayer,https://xai-sepolia-relayer.sequence.app;Xai-Sepolia Relayer,https://xr-sepolia-relayer.sequence.app;Xr-Sepolia Relayer -securityAnnotation=@auth -securitySchemes={       'ApiKeyAuth': {         'type': 'apiKey',         'in': 'header',         'description': 'Project access key for authenticating requests, get an access key at https://sequence.build',         'name': 'X-Access-Key'       },     } -out=proto/docs/relayer.gen.yaml
openapi: 3.0.0
info:
  title: 'Relayer Api'
  version: ''
servers:
  - url: 'https://amoy-relayer.sequence.app'
    description: 'Amoy Relayer'
  - url: 'https://apechain-relayer.sequence.app'
    description: 'Apechain Relayer'
  - url: 'https://apechain-testnet-relayer.sequence.app'
    description: 'Apechain-Testnet Relayer'
  - url: 'https://arbitrum-relayer.sequence.app'
    description: 'Arbitrum Relayer'
  - url: 'https://arbitrum-nova-relayer.sequence.app'
    description: 'Arbitrum-Nova Relayer'
  - url: 'https://arbitrum-sepolia-relayer.sequence.app'
    description: 'Arbitrum-Sepolia Relayer'
  - url: 'https://astar-zkevm-relayer.sequence.app'
    description: 'Astar-Zkevm Relayer'
  - url: 'https://astar-zkyoto-relayer.sequence.app'
    description: 'Astar-Zkyoto Relayer'
  - url: 'https://avalanche-relayer.sequence.app'
    description: 'Avalanche Relayer'
  - url: 'https://avalanche-testnet-relayer.sequence.app'
    description: 'Avalanche-Testnet Relayer'
  - url: 'https://b3-relayer.sequence.app'
    description: 'B3 Relayer'
  - url: 'https://b3-sepolia-relayer.sequence.app'
    description: 'B3-Sepolia Relayer'
  - url: 'https://base-relayer.sequence.app'
    description: 'Base Relayer'
  - url: 'https://base-sepolia-relayer.sequence.app'
    description: 'Base-Sepolia Relayer'
  - url: 'https://blast-relayer.sequence.app'
    description: 'Blast Relayer'
  - url: 'https://blast-sepolia-relayer.sequence.app'
    description: 'Blast-Sepolia Relayer'
  - url: 'https://borne-testnet-relayer.sequence.app'
    description: 'Borne-Testnet Relayer'
  - url: 'https://bsc-relayer.sequence.app'
    description: 'Bsc Relayer'
  - url: 'https://bsc-testnet-relayer.sequence.app'
    description: 'Bsc-Testnet Relayer'
  - url: 'https://gnosis-relayer.sequence.app'
    description: 'Gnosis Relayer'
  - url: 'https://homeverse-relayer.sequence.app'
    description: 'Homeverse Relayer'
  - url: 'https://homeverse-testnet-relayer.sequence.app'
    description: 'Homeverse-Testnet Relayer'
  - url: 'https://immutable-zkevm-relayer.sequence.app'
    description: 'Immutable-Zkevm Relayer'
  - url: 'https://immutable-zkevm-testnet-relayer.sequence.app'
    description: 'Immutable-Zkevm-Testnet Relayer'
  - url: 'https://mainnet-relayer.sequence.app'
    description: 'Mainnet Relayer'
  - url: 'https://optimism-relayer.sequence.app'
    description: 'Optimism Relayer'
  - url: 'https://optimism-sepolia-relayer.sequence.app'
    description: 'Optimism-Sepolia Relayer'
  - url: 'https://polygon-relayer.sequence.app'
    description: 'Polygon Relayer'
  - url: 'https://polygon-zkevm-relayer.sequence.app'
    description: 'Polygon-Zkevm Relayer'
  - url: 'https://rootnet-relayer.sequence.app'
    description: 'Rootnet Relayer'
  - url: 'https://rootnet-porcini-relayer.sequence.app'
    description: 'Rootnet-Porcini Relayer'
  - url: 'https://sepolia-relayer.sequence.app'
    description: 'Sepolia Relayer'
  - url: 'https://skale-nebula-testnet-relayer.sequence.app'
    description: 'Skale-Nebula-Testnet Relayer'
  - url: 'https://soneium-minato-relayer.sequence.app'
    description: 'Soneium-Minato Relayer'
  - url: 'https://toy-testnet-relayer.sequence.app'
    description: 'Toy-Testnet Relayer'
  - url: 'https://xai-relayer.sequence.app'
    description: 'Xai Relayer'
  - url: 'https://xai-sepolia-relayer.sequence.app'
    description: 'Xai-Sepolia Relayer'
  - url: 'https://xr-sepolia-relayer.sequence.app'
    description: 'Xr-Sepolia Relayer'
components:
  securitySchemes: {'ApiKeyAuth': {'type': 'apiKey', 'in': 'header', 'description': 'Project access key for authenticating requests, get an access key at https://sequence.build', 'name': 'X-Access-Key'}}
  schemas:
    ErrorWebrpcEndpoint:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcEndpoint"
        code:
          type: number
          example: 0
        msg:
          type: string
          example: "endpoint error"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcRequestFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcRequestFailed"
        code:
          type: number
          example: -1
        msg:
          type: string
          example: "request failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadRoute:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRoute"
        code:
          type: number
          example: -2
        msg:
          type: string
          example: "bad route"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorWebrpcBadMethod:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadMethod"
        code:
          type: number
          example: -3
        msg:
          type: string
          example: "bad method"
        cause:
          type: string
        status:
          type: number
          example: 405
    ErrorWebrpcBadRequest:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRequest"
        code:
          type: number
          example: -4
        msg:
          type: string
          example: "bad request"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadResponse:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadResponse"
        code:
          type: number
          example: -5
        msg:
          type: string
          example: "bad response"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcServerPanic:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcServerPanic"
        code:
          type: number
          example: -6
        msg:
          type: string
          example: "server panic"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcInternalError:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcInternalError"
        code:
          type: number
          example: -7
        msg:
          type: string
          example: "internal error"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcClientDisconnected:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcClientDisconnected"
        code:
          type: number
          example: -8
        msg:
          type: string
          example: "client disconnected"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamLost:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamLost"
        code:
          type: number
          example: -9
        msg:
          type: string
          example: "stream lost"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamFinished:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamFinished"
        code:
          type: number
          example: -10
        msg:
          type: string
          example: "stream finished"
        cause:
          type: string
        status:
          type: number
          example: 200
    ErrorUnauthorized:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Unauthorized"
        code:
          type: number
          example: 1000
        msg:
          type: string
          example: "Unauthorized access"
        cause:
          type: string
        status:
          type: number
          example: 401
    ErrorPermissionDenied:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "PermissionDenied"
        code:
          type: number
          example: 1001
        msg:
          type: string
          example: "Permission denied"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorMethodNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "MethodNotFound"
        code:
          type: number
          example: 1003
        msg:
          type: string
          example: "Method not found"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorAborted:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Aborted"
        code:
          type: number
          example: 1005
        msg:
          type: string
          example: "Request aborted"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorGeoblocked:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Geoblocked"
        code:
          type: number
          example: 1006
        msg:
          type: string
          example: "Geoblocked region"
        cause:
          type: string
        status:
          type: number
          example: 451
    ErrorInvalidArgument:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidArgument"
        code:
          type: number
          example: 2001
        msg:
          type: string
          example: "Invalid argument"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorUnavailable:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Unavailable"
        code:
          type: number
          example: 2002
        msg:
          type: string
          example: "Unavailable resource"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorQueryFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "QueryFailed"
        code:
          type: number
          example: 2003
        msg:
          type: string
          example: "Query failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "NotFound"
        code:
          type: number
          example: 3000
        msg:
          type: string
          example: "Resource not found"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorInsufficientFee:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InsufficientFee"
        code:
          type: number
          example: 3004
        msg:
          type: string
          example: "Insufficient fee"
        cause:
          type: string
        status:
          type: number
          example: 402
    ETHTxnStatus:
      type: string
      description: Represented as uint on the server side
      enum:
        - UNKNOWN
        - DROPPED
        - QUEUED
        - SENT
        - SUCCEEDED
        - PARTIALLY_FAILED
        - FAILED
    TransferType:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - SEND
        - RECEIVE
        - BRIDGE_DEPOSIT
        - BRIDGE_WITHDRAW
        - BURN
        - UNKNOWN
    FeeTokenType:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - UNKNOWN
        - ERC20_TOKEN
        - ERC1155_TOKEN
    SortOrder:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - DESC
        - ASC
    Version:
      type: object
      required:
        - webrpcVersion
        - schemaVersion
        - schemaHash
        - appVersion
      properties:
        webrpcVersion:
          type: string
        schemaVersion:
          type: string
        schemaHash:
          type: string
        appVersion:
          type: string
    RuntimeStatus:
      type: object
      required:
        - healthOK
        - startTime
        - uptime
        - ver
        - branch
        - commitHash
        - useEIP1559
        - senders
        - checks
      properties:
        healthOK:
          type: boolean
        startTime:
          type: string
        uptime:
          type: number
        ver:
          type: string
        branch:
          type: string
        commitHash:
          type: string
        useEIP1559:
          type: boolean
        senders:
          type: array
          description: '[]SenderStatus'
          items:
            $ref: '#/components/schemas/SenderStatus'
        checks:
          $ref: '#/components/schemas/RuntimeChecks'
    SenderStatus:
      type: object
      required:
        - index
        - address
        - etherBalance
        - active
      properties:
        index:
          type: number
        address:
          type: string
        etherBalance:
          type: number
        active:
          type: boolean
    RuntimeChecks:
      type: object
    SequenceContext:
      type: object
      required:
        - factory
        - mainModule
        - mainModuleUpgradable
        - guestModule
        - utils
      properties:
        factory:
          type: string
        mainModule:
          type: string
        mainModuleUpgradable:
          type: string
        guestModule:
          type: string
        utils:
          type: string
    GasTank:
      type: object
      required:
        - id
        - chainId
        - name
        - currentBalance
        - unlimited
        - feeMarkupFactor
        - updatedAt
        - createdAt
      properties:
        id:
          type: number
        chainId:
          type: number
        name:
          type: string
        currentBalance:
          type: number
        unlimited:
          type: boolean
        feeMarkupFactor:
          type: number
        updatedAt:
          type: string
        createdAt:
          type: string
    GasTankBalanceAdjustment:
      type: object
      required:
        - gasTankId
        - nonce
        - amount
        - totalBalance
        - balanceTimestamp
        - createdAt
      properties:
        gasTankId:
          type: number
        nonce:
          type: number
        amount:
          type: number
        totalBalance:
          type: number
        balanceTimestamp:
          type: string
        createdAt:
          type: string
    GasSponsor:
      type: object
      required:
        - id
        - gasTankId
        - projectId
        - chainId
        - address
        - name
        - active
        - updatedAt
        - createdAt
        - deletedAt
      properties:
        id:
          type: number
        gasTankId:
          type: number
        projectId:
          type: number
        chainId:
          type: number
        address:
          type: string
        name:
          type: string
        active:
          type: boolean
        updatedAt:
          type: string
        createdAt:
          type: string
        deletedAt:
          type: string
    GasSponsorUsage:
      type: object
      required:
        - name
        - id
        - totalGasUsed
        - totalTxnFees
        - totalTxnFeesUsd
        - avgGasPrice
        - totalTxns
        - startTime
        - endTime
      properties:
        name:
          type: string
        id:
          type: number
        totalGasUsed:
          type: number
        totalTxnFees:
          type: number
        totalTxnFeesUsd:
          type: number
        avgGasPrice:
          type: number
        totalTxns:
          type: number
        startTime:
          type: string
        endTime:
          type: string
    MetaTxn:
      type: object
      required:
        - chainId
        - walletAddress
        - contract
        - input
      properties:
        chainId:
          type: number
        walletAddress:
          type: string
        contract:
          type: string
        input:
          type: string
    MetaTxnLog:
      type: object
      required:
        - id
        - chainId
        - projectId
        - txnHash
        - txnNonce
        - txnStatus
        - txnRevertReason
        - requeues
        - queuedAt
        - sentAt
        - minedAt
        - target
        - input
        - txnArgs
        - walletAddress
        - metaTxnNonce
        - gasLimit
        - gasPrice
        - gasUsed
        - gasEstimated
        - usdRate
        - creditsUsed
        - isWhitelisted
        - updatedAt
        - createdAt
      properties:
        id:
          type: number
        chainId:
          type: number
        projectId:
          type: number
        txnHash:
          type: string
        txnNonce:
          type: string
        metaTxnID:
          type: string
        txnStatus:
          $ref: '#/components/schemas/ETHTxnStatus'
        txnRevertReason:
          type: string
        requeues:
          type: number
        queuedAt:
          type: string
        sentAt:
          type: string
        minedAt:
          type: string
        target:
          type: string
        input:
          type: string
        txnArgs:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        txnReceipt:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        walletAddress:
          type: string
        metaTxnNonce:
          type: string
        gasLimit:
          type: number
        gasPrice:
          type: string
        gasUsed:
          type: number
        gasEstimated:
          type: number
        gasFeeMarkup:
          type: number
        usdRate:
          type: string
        creditsUsed:
          type: number
        isWhitelisted:
          type: boolean
        gasSponsor:
          type: number
        gasTank:
          type: number
        updatedAt:
          type: string
        createdAt:
          type: string
    MetaTxnReceipt:
      type: object
      required:
        - id
        - status
        - index
        - logs
        - receipts
        - txnReceipt
      properties:
        id:
          type: string
        status:
          type: string
        revertReason:
          type: string
        index:
          type: number
        logs:
          type: array
          description: '[]MetaTxnReceiptLog'
          items:
            $ref: '#/components/schemas/MetaTxnReceiptLog'
        receipts:
          type: array
          description: '[]MetaTxnReceipt'
          items:
            $ref: '#/components/schemas/MetaTxnReceipt'
        txnReceipt:
          type: string
    MetaTxnReceiptLog:
      type: object
      required:
        - address
        - topics
        - data
      properties:
        address:
          type: string
        topics:
          type: array
          description: '[]string'
          items:
            type: string
        data:
          type: string
    Transaction:
      type: object
      required:
        - blockNumber
        - chainId
        - timestamp
      properties:
        txnHash:
          type: string
        blockNumber:
          type: number
        chainId:
          type: number
        metaTxnID:
          type: string
        transfers:
          type: array
          description: '[]TxnLogTransfer'
          items:
            $ref: '#/components/schemas/TxnLogTransfer'
        users:
          type: object
          description: 'map<string,TxnLogUser>'
          additionalProperties:
            $ref: '#/components/schemas/TxnLogUser'
        timestamp:
          type: string
    TxnLogUser:
      type: object
      required:
        - username
      properties:
        username:
          type: string
    TxnLogTransfer:
      type: object
      required:
        - transferType
        - contractAddress
        - from
        - to
        - ids
        - amounts
      properties:
        transferType:
          $ref: '#/components/schemas/TransferType'
        contractAddress:
          type: string
        from:
          type: string
        to:
          type: string
        ids:
          type: array
          description: '[]string'
          items:
            type: string
        amounts:
          type: array
          description: '[]string'
          items:
            type: string
    SentTransactionsFilter:
      type: object
      properties:
        pending:
          type: boolean
        failed:
          type: boolean
    SimulateResult:
      type: object
      required:
        - executed
        - succeeded
        - gasUsed
        - gasLimit
      properties:
        executed:
          type: boolean
        succeeded:
          type: boolean
        result:
          type: string
        reason:
          type: string
        gasUsed:
          type: number
        gasLimit:
          type: number
    FeeOption:
      type: object
      required:
        - token
        - to
        - value
        - gasLimit
      properties:
        token:
          $ref: '#/components/schemas/FeeToken'
        to:
          type: string
        value:
          type: string
        gasLimit:
          type: number
    FeeToken:
      type: object
      required:
        - chainId
        - name
        - symbol
        - type
        - logoURL
      properties:
        chainId:
          type: number
        name:
          type: string
        symbol:
          type: string
        type:
          $ref: '#/components/schemas/FeeTokenType'
        decimals:
          type: number
        logoURL:
          type: string
        contractAddress:
          type: string
        tokenID:
          type: string
    Page:
      type: object
      properties:
        pageSize:
          type: number
        page:
          type: number
        more:
          type: boolean
        totalRecords:
          type: number
        column:
          type: string
        before:
          type: object
        after:
          type: object
        sort:
          type: array
          description: '[]SortBy'
          items:
            $ref: '#/components/schemas/SortBy'
    SortBy:
      type: object
      required:
        - column
        - order
      properties:
        column:
          type: string
        order:
          $ref: '#/components/schemas/SortOrder'
    Relayer_GetSequenceContext_Request:
      type: object
    Relayer_GetChainID_Request:
      type: object
    Relayer_SendMetaTxn_Request:
      type: object
      properties:
        call:
          $ref: '#/components/schemas/MetaTxn'
        quote:
          type: string
        projectID:
          type: number
    Relayer_GetMetaTxnNonce_Request:
      type: object
      properties:
        walletContractAddress:
          type: string
        space:
          type: string
    Relayer_GetMetaTxnReceipt_Request:
      type: object
      properties:
        metaTxID:
          type: string
    Relayer_Simulate_Request:
      type: object
      properties:
        wallet:
          type: string
        transactions:
          type: string
    Relayer_UpdateMetaTxnGasLimits_Request:
      type: object
      properties:
        walletAddress:
          type: string
        walletConfig:
          type: object
        payload:
          type: string
    Relayer_FeeTokens_Request:
      type: object
    Relayer_FeeOptions_Request:
      type: object
      properties:
        wallet:
          type: string
        to:
          type: string
        data:
          type: string
        simulate:
          type: boolean
    Relayer_GetMetaTxnNetworkFeeOptions_Request:
      type: object
      properties:
        walletConfig:
          type: object
        payload:
          type: string
    Relayer_GetMetaTransactions_Request:
      type: object
      properties:
        projectId:
          type: number
        gasTankId:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Relayer_SentTransactions_Request:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/SentTransactionsFilter'
        page:
          $ref: '#/components/schemas/Page'
    Relayer_PendingTransactions_Request:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
    Relayer_GetGasTank_Request:
      type: object
      properties:
        id:
          type: number
    Relayer_AddGasTank_Request:
      type: object
      properties:
        name:
          type: string
        feeMarkupFactor:
          type: number
        unlimited:
          type: boolean
    Relayer_UpdateGasTank_Request:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        feeMarkupFactor:
          type: number
        unlimited:
          type: boolean
    Relayer_GetGasSponsor_Request:
      type: object
      properties:
        id:
          type: number
    Relayer_AddressGasSponsors_Request:
      type: object
      properties:
        address:
          type: string
        page:
          $ref: '#/components/schemas/Page'
    Relayer_ListGasSponsors_Request:
      type: object
      properties:
        projectId:
          type: number
        gasTankId:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Relayer_AddGasSponsor_Request:
      type: object
      properties:
        projectId:
          type: number
        gasTankId:
          type: number
        address:
          type: string
        name:
          type: string
        active:
          type: boolean
    Relayer_UpdateGasSponsor_Request:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        active:
          type: boolean
    Relayer_RemoveGasSponsor_Request:
      type: object
      properties:
        id:
          type: number
    Relayer_ReportGasSponsorUsage_Request:
      type: object
      properties:
        projectId:
          type: number
        gasTankId:
          type: number
        startTime:
          type: string
        endTime:
          type: string
    Relayer_NextGasTankBalanceAdjustmentNonce_Request:
      type: object
      properties:
        id:
          type: number
    Relayer_AdjustGasTankBalance_Request:
      type: object
      properties:
        id:
          type: number
        nonce:
          type: number
        amount:
          type: number
    Relayer_GetGasTankBalanceAdjustment_Request:
      type: object
      properties:
        id:
          type: number
        nonce:
          type: number
    Relayer_ListGasTankBalanceAdjustments_Request:
      type: object
      properties:
        id:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Relayer_GetProjectBalance_Request:
      type: object
      properties:
        projectId:
          type: number
    Relayer_AdjustProjectBalance_Request:
      type: object
      properties:
        projectId:
          type: number
        amount:
          type: number
        name:
          type: string
        reason:
          type: string
    Relayer_GetSequenceContext_Response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SequenceContext'
    Relayer_GetChainID_Response:
      type: object
      properties:
        chainID:
          type: number
    Relayer_SendMetaTxn_Response:
      type: object
      properties:
        status:
          type: boolean
        txnHash:
          type: string
    Relayer_GetMetaTxnNonce_Response:
      type: object
      properties:
        nonce:
          type: string
    Relayer_GetMetaTxnReceipt_Response:
      type: object
      properties:
        receipt:
          $ref: '#/components/schemas/MetaTxnReceipt'
    Relayer_Simulate_Response:
      type: object
      properties:
        results:
          type: array
          description: '[]SimulateResult'
          items:
            $ref: '#/components/schemas/SimulateResult'
    Relayer_UpdateMetaTxnGasLimits_Response:
      type: object
      properties:
        payload:
          type: string
    Relayer_FeeTokens_Response:
      type: object
      properties:
        isFeeRequired:
          type: boolean
        tokens:
          type: array
          description: '[]FeeToken'
          items:
            $ref: '#/components/schemas/FeeToken'
    Relayer_FeeOptions_Response:
      type: object
      properties:
        options:
          type: array
          description: '[]FeeOption'
          items:
            $ref: '#/components/schemas/FeeOption'
        sponsored:
          type: boolean
        quote:
          type: string
    Relayer_GetMetaTxnNetworkFeeOptions_Response:
      type: object
      properties:
        options:
          type: array
          description: '[]FeeOption'
          items:
            $ref: '#/components/schemas/FeeOption'
    Relayer_GetMetaTransactions_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        transactions:
          type: array
          description: '[]MetaTxnLog'
          items:
            $ref: '#/components/schemas/MetaTxnLog'
    Relayer_SentTransactions_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        transactions:
          type: array
          description: '[]Transaction'
          items:
            $ref: '#/components/schemas/Transaction'
    Relayer_PendingTransactions_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        transactions:
          type: array
          description: '[]Transaction'
          items:
            $ref: '#/components/schemas/Transaction'
    Relayer_GetGasTank_Response:
      type: object
      properties:
        gasTank:
          $ref: '#/components/schemas/GasTank'
    Relayer_AddGasTank_Response:
      type: object
      properties:
        status:
          type: boolean
        gasTank:
          $ref: '#/components/schemas/GasTank'
    Relayer_UpdateGasTank_Response:
      type: object
      properties:
        status:
          type: boolean
        gasTank:
          $ref: '#/components/schemas/GasTank'
    Relayer_GetGasSponsor_Response:
      type: object
      properties:
        gasSponsor:
          $ref: '#/components/schemas/GasSponsor'
    Relayer_AddressGasSponsors_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        gasSponsors:
          type: array
          description: '[]GasSponsor'
          items:
            $ref: '#/components/schemas/GasSponsor'
    Relayer_ListGasSponsors_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        gasSponsors:
          type: array
          description: '[]GasSponsor'
          items:
            $ref: '#/components/schemas/GasSponsor'
    Relayer_AddGasSponsor_Response:
      type: object
      properties:
        status:
          type: boolean
        gasSponsor:
          $ref: '#/components/schemas/GasSponsor'
    Relayer_UpdateGasSponsor_Response:
      type: object
      properties:
        status:
          type: boolean
        gasSponsor:
          $ref: '#/components/schemas/GasSponsor'
    Relayer_RemoveGasSponsor_Response:
      type: object
      properties:
        status:
          type: boolean
    Relayer_ReportGasSponsorUsage_Response:
      type: object
      properties:
        gasSponsorUsage:
          type: array
          description: '[]GasSponsorUsage'
          items:
            $ref: '#/components/schemas/GasSponsorUsage'
    Relayer_NextGasTankBalanceAdjustmentNonce_Response:
      type: object
      properties:
        nonce:
          type: number
    Relayer_AdjustGasTankBalance_Response:
      type: object
      properties:
        status:
          type: boolean
        adjustment:
          $ref: '#/components/schemas/GasTankBalanceAdjustment'
    Relayer_GetGasTankBalanceAdjustment_Response:
      type: object
      properties:
        adjustment:
          $ref: '#/components/schemas/GasTankBalanceAdjustment'
    Relayer_ListGasTankBalanceAdjustments_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        adjustments:
          type: array
          description: '[]GasTankBalanceAdjustment'
          items:
            $ref: '#/components/schemas/GasTankBalanceAdjustment'
    Relayer_GetProjectBalance_Response:
      type: object
      properties:
        balance:
          type: number
    Relayer_AdjustProjectBalance_Response:
      type: object
      properties:
        balance:
          type: number
paths:
  /rpc/Relayer/GetSequenceContext:
    post:
      summary: GetSequenceContext
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetSequenceContext_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetSequenceContext_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetChainID:
    post:
      summary: GetChainID
      description: "TODO: return a string instead"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetChainID_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetChainID_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/SendMetaTxn:
    post:
      summary: SendMetaTxn
      description: " Transactions\nTODO (future): rename this to just, 'SendTransaction(txn: MetaTransaction)' or 'SendTransaction(txn: SignedTransaction)', or something.. Project ID is only used by service and admin calls. Other clients must have projectID passed via the context TODO: rename return txnHash: string to metaTxnID: string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_SendMetaTxn_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_SendMetaTxn_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetMetaTxnNonce:
    post:
      summary: GetMetaTxnNonce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetMetaTxnNonce_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetMetaTxnNonce_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetMetaTxnReceipt:
    post:
      summary: GetMetaTxnReceipt
      description: "TODO: one day, make GetMetaTxnReceipt respond immediately with receipt or not and add WaitTransactionReceipt method, which will block and wait, similar to how GetMetaTxnReceipt is implemented now. For backwards compat, we can leave the current GetMetaTxnReceipt how it is, an deprecate it, and introduce new, GetTransactionReceipt and WaitTransactionReceipt methods we can also accept metaTxnId and txnHash .. so can take either or.. I wonder if ERC-4337 has any convention on this?"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetMetaTxnReceipt_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetMetaTxnReceipt_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/Simulate:
    post:
      summary: Simulate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_Simulate_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_Simulate_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/UpdateMetaTxnGasLimits:
    post:
      summary: UpdateMetaTxnGasLimits
      description: "TODO: deprecated, to be removed by https://github.com/0xsequence/stack/pull/356 at a later date"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_UpdateMetaTxnGasLimits_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_UpdateMetaTxnGasLimits_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/FeeTokens:
    post:
      summary: FeeTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_FeeTokens_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_FeeTokens_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/FeeOptions:
    post:
      summary: FeeOptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_FeeOptions_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_FeeOptions_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetMetaTxnNetworkFeeOptions:
    post:
      summary: GetMetaTxnNetworkFeeOptions
      description: "TODO: deprecated, to be removed by https://github.com/0xsequence/stack/pull/356 at a later date"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetMetaTxnNetworkFeeOptions_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetMetaTxnNetworkFeeOptions_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetMetaTransactions:
    post:
      summary: GetMetaTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetMetaTransactions_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetMetaTransactions_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/SentTransactions:
    post:
      summary: SentTransactions
      description: "Sent transactions from an account. If filter is omitted then it will return all transactions."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_SentTransactions_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_SentTransactions_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/PendingTransactions:
    post:
      summary: PendingTransactions
      description: "Pending transactions waiting to be mined for an account. This endpoint is just a sugar of `SentTransactions` with the filter set to pending: true."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_PendingTransactions_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_PendingTransactions_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetGasTank:
    post:
      summary: GetGasTank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetGasTank_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetGasTank_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/AddGasTank:
    post:
      summary: AddGasTank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_AddGasTank_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_AddGasTank_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/UpdateGasTank:
    post:
      summary: UpdateGasTank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_UpdateGasTank_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_UpdateGasTank_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetGasSponsor:
    post:
      summary: GetGasSponsor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/AddressGasSponsors:
    post:
      summary: AddressGasSponsors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_AddressGasSponsors_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_AddressGasSponsors_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/ListGasSponsors:
    post:
      summary: ListGasSponsors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_ListGasSponsors_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_ListGasSponsors_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/AddGasSponsor:
    post:
      summary: AddGasSponsor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_AddGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_AddGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/UpdateGasSponsor:
    post:
      summary: UpdateGasSponsor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_UpdateGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_UpdateGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/RemoveGasSponsor:
    post:
      summary: RemoveGasSponsor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_RemoveGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_RemoveGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/ReportGasSponsorUsage:
    post:
      summary: ReportGasSponsorUsage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_ReportGasSponsorUsage_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_ReportGasSponsorUsage_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/NextGasTankBalanceAdjustmentNonce:
    post:
      summary: NextGasTankBalanceAdjustmentNonce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_NextGasTankBalanceAdjustmentNonce_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_NextGasTankBalanceAdjustmentNonce_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/AdjustGasTankBalance:
    post:
      summary: AdjustGasTankBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_AdjustGasTankBalance_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_AdjustGasTankBalance_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetGasTankBalanceAdjustment:
    post:
      summary: GetGasTankBalanceAdjustment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetGasTankBalanceAdjustment_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetGasTankBalanceAdjustment_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/ListGasTankBalanceAdjustments:
    post:
      summary: ListGasTankBalanceAdjustments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_ListGasTankBalanceAdjustments_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_ListGasTankBalanceAdjustments_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetProjectBalance:
    post:
      summary: GetProjectBalance
      description: "Project Balance"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetProjectBalance_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetProjectBalance_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/AdjustProjectBalance:
    post:
      summary: AdjustProjectBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_AdjustProjectBalance_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_AdjustProjectBalance_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
[...]
