# sequence-relayer v0.4.1 e3e258b78200357173ed6f66be8ed022a3658c71
# --
# Code generated by webrpc-gen@v0.29.0 with openapi generator; DO NOT EDIT
# 
# webrpc-gen -service=Relayer -match=@public -schema=proto/relayer.ridl -target=openapi -title=Relayer Api -servers=https://amoy-relayer.sequence.app;Amoy Relayer,https://apechain-relayer.sequence.app;Apechain Relayer,https://apechain-testnet-relayer.sequence.app;Apechain-Testnet Relayer,https://arbitrum-relayer.sequence.app;Arbitrum Relayer,https://arbitrum-nova-relayer.sequence.app;Arbitrum-Nova Relayer,https://arbitrum-sepolia-relayer.sequence.app;Arbitrum-Sepolia Relayer,https://arc-testnet-relayer.sequence.app;Arc-Testnet Relayer,https://avalanche-relayer.sequence.app;Avalanche Relayer,https://avalanche-testnet-relayer.sequence.app;Avalanche-Testnet Relayer,https://b3-relayer.sequence.app;B3 Relayer,https://b3-sepolia-relayer.sequence.app;B3-Sepolia Relayer,https://base-relayer.sequence.app;Base Relayer,https://base-sepolia-relayer.sequence.app;Base-Sepolia Relayer,https://blast-relayer.sequence.app;Blast Relayer,https://blast-sepolia-relayer.sequence.app;Blast-Sepolia Relayer,https://bsc-relayer.sequence.app;Bsc Relayer,https://bsc-testnet-relayer.sequence.app;Bsc-Testnet Relayer,https://etherlink-relayer.sequence.app;Etherlink Relayer,https://etherlink-testnet-relayer.sequence.app;Etherlink-Testnet Relayer,https://gnosis-relayer.sequence.app;Gnosis Relayer,https://homeverse-relayer.sequence.app;Homeverse Relayer,https://homeverse-testnet-relayer.sequence.app;Homeverse-Testnet Relayer,https://immutable-zkevm-relayer.sequence.app;Immutable-Zkevm Relayer,https://immutable-zkevm-testnet-relayer.sequence.app;Immutable-Zkevm-Testnet Relayer,https://incentiv-testnet-v2-relayer.sequence.app;Incentiv-Testnet-V2 Relayer,https://katana-relayer.sequence.app;Katana Relayer,https://laos-relayer.sequence.app;Laos Relayer,https://laos-sigma-testnet-relayer.sequence.app;Laos-Sigma-Testnet Relayer,https://mainnet-relayer.sequence.app;Mainnet Relayer,https://monad-relayer.sequence.app;Monad Relayer,https://monad-testnet-relayer.sequence.app;Monad-Testnet Relayer,https://moonbase-alpha-relayer.sequence.app;Moonbase-Alpha Relayer,https://moonbeam-relayer.sequence.app;Moonbeam Relayer,https://optimism-relayer.sequence.app;Optimism Relayer,https://optimism-sepolia-relayer.sequence.app;Optimism-Sepolia Relayer,https://polygon-relayer.sequence.app;Polygon Relayer,https://polygon-zkevm-relayer.sequence.app;Polygon-Zkevm Relayer,https://rootnet-relayer.sequence.app;Rootnet Relayer,https://rootnet-porcini-relayer.sequence.app;Rootnet-Porcini Relayer,https://sandbox-testnet-relayer.sequence.app;Sandbox-Testnet Relayer,https://sei-relayer.sequence.app;Sei Relayer,https://sei-testnet-relayer.sequence.app;Sei-Testnet Relayer,https://sepolia-relayer.sequence.app;Sepolia Relayer,https://skale-nebula-relayer.sequence.app;Skale-Nebula Relayer,https://skale-nebula-testnet-relayer.sequence.app;Skale-Nebula-Testnet Relayer,https://somnia-relayer.sequence.app;Somnia Relayer,https://somnia-testnet-relayer.sequence.app;Somnia-Testnet Relayer,https://soneium-relayer.sequence.app;Soneium Relayer,https://soneium-minato-relayer.sequence.app;Soneium-Minato Relayer,https://telos-relayer.sequence.app;Telos Relayer,https://telos-testnet-relayer.sequence.app;Telos-Testnet Relayer,https://toy-testnet-relayer.sequence.app;Toy-Testnet Relayer,https://xai-relayer.sequence.app;Xai Relayer,https://xai-sepolia-relayer.sequence.app;Xai-Sepolia Relayer -securityAnnotation=@auth -securitySchemes={       'ApiKeyAuth': {         'type': 'apiKey',         'in': 'header',         'description': 'Project access key for authenticating requests, get an access key at https://sequence.build',         'name': 'X-Access-Key'       },     } -out=proto/docs/relayer.gen.yaml
openapi: 3.0.0
info:
  title: 'Relayer Api'
  version: ''
servers:
  - url: 'https://amoy-relayer.sequence.app'
    description: 'Amoy Relayer'
  - url: 'https://apechain-relayer.sequence.app'
    description: 'Apechain Relayer'
  - url: 'https://apechain-testnet-relayer.sequence.app'
    description: 'Apechain-Testnet Relayer'
  - url: 'https://arbitrum-relayer.sequence.app'
    description: 'Arbitrum Relayer'
  - url: 'https://arbitrum-nova-relayer.sequence.app'
    description: 'Arbitrum-Nova Relayer'
  - url: 'https://arbitrum-sepolia-relayer.sequence.app'
    description: 'Arbitrum-Sepolia Relayer'
  - url: 'https://arc-testnet-relayer.sequence.app'
    description: 'Arc-Testnet Relayer'
  - url: 'https://avalanche-relayer.sequence.app'
    description: 'Avalanche Relayer'
  - url: 'https://avalanche-testnet-relayer.sequence.app'
    description: 'Avalanche-Testnet Relayer'
  - url: 'https://b3-relayer.sequence.app'
    description: 'B3 Relayer'
  - url: 'https://b3-sepolia-relayer.sequence.app'
    description: 'B3-Sepolia Relayer'
  - url: 'https://base-relayer.sequence.app'
    description: 'Base Relayer'
  - url: 'https://base-sepolia-relayer.sequence.app'
    description: 'Base-Sepolia Relayer'
  - url: 'https://blast-relayer.sequence.app'
    description: 'Blast Relayer'
  - url: 'https://blast-sepolia-relayer.sequence.app'
    description: 'Blast-Sepolia Relayer'
  - url: 'https://bsc-relayer.sequence.app'
    description: 'Bsc Relayer'
  - url: 'https://bsc-testnet-relayer.sequence.app'
    description: 'Bsc-Testnet Relayer'
  - url: 'https://etherlink-relayer.sequence.app'
    description: 'Etherlink Relayer'
  - url: 'https://etherlink-testnet-relayer.sequence.app'
    description: 'Etherlink-Testnet Relayer'
  - url: 'https://gnosis-relayer.sequence.app'
    description: 'Gnosis Relayer'
  - url: 'https://homeverse-relayer.sequence.app'
    description: 'Homeverse Relayer'
  - url: 'https://homeverse-testnet-relayer.sequence.app'
    description: 'Homeverse-Testnet Relayer'
  - url: 'https://immutable-zkevm-relayer.sequence.app'
    description: 'Immutable-Zkevm Relayer'
  - url: 'https://immutable-zkevm-testnet-relayer.sequence.app'
    description: 'Immutable-Zkevm-Testnet Relayer'
  - url: 'https://incentiv-testnet-v2-relayer.sequence.app'
    description: 'Incentiv-Testnet-V2 Relayer'
  - url: 'https://katana-relayer.sequence.app'
    description: 'Katana Relayer'
  - url: 'https://laos-relayer.sequence.app'
    description: 'Laos Relayer'
  - url: 'https://laos-sigma-testnet-relayer.sequence.app'
    description: 'Laos-Sigma-Testnet Relayer'
  - url: 'https://mainnet-relayer.sequence.app'
    description: 'Mainnet Relayer'
  - url: 'https://monad-relayer.sequence.app'
    description: 'Monad Relayer'
  - url: 'https://monad-testnet-relayer.sequence.app'
    description: 'Monad-Testnet Relayer'
  - url: 'https://moonbase-alpha-relayer.sequence.app'
    description: 'Moonbase-Alpha Relayer'
  - url: 'https://moonbeam-relayer.sequence.app'
    description: 'Moonbeam Relayer'
  - url: 'https://optimism-relayer.sequence.app'
    description: 'Optimism Relayer'
  - url: 'https://optimism-sepolia-relayer.sequence.app'
    description: 'Optimism-Sepolia Relayer'
  - url: 'https://polygon-relayer.sequence.app'
    description: 'Polygon Relayer'
  - url: 'https://polygon-zkevm-relayer.sequence.app'
    description: 'Polygon-Zkevm Relayer'
  - url: 'https://rootnet-relayer.sequence.app'
    description: 'Rootnet Relayer'
  - url: 'https://rootnet-porcini-relayer.sequence.app'
    description: 'Rootnet-Porcini Relayer'
  - url: 'https://sandbox-testnet-relayer.sequence.app'
    description: 'Sandbox-Testnet Relayer'
  - url: 'https://sei-relayer.sequence.app'
    description: 'Sei Relayer'
  - url: 'https://sei-testnet-relayer.sequence.app'
    description: 'Sei-Testnet Relayer'
  - url: 'https://sepolia-relayer.sequence.app'
    description: 'Sepolia Relayer'
  - url: 'https://skale-nebula-relayer.sequence.app'
    description: 'Skale-Nebula Relayer'
  - url: 'https://skale-nebula-testnet-relayer.sequence.app'
    description: 'Skale-Nebula-Testnet Relayer'
  - url: 'https://somnia-relayer.sequence.app'
    description: 'Somnia Relayer'
  - url: 'https://somnia-testnet-relayer.sequence.app'
    description: 'Somnia-Testnet Relayer'
  - url: 'https://soneium-relayer.sequence.app'
    description: 'Soneium Relayer'
  - url: 'https://soneium-minato-relayer.sequence.app'
    description: 'Soneium-Minato Relayer'
  - url: 'https://telos-relayer.sequence.app'
    description: 'Telos Relayer'
  - url: 'https://telos-testnet-relayer.sequence.app'
    description: 'Telos-Testnet Relayer'
  - url: 'https://toy-testnet-relayer.sequence.app'
    description: 'Toy-Testnet Relayer'
  - url: 'https://xai-relayer.sequence.app'
    description: 'Xai Relayer'
  - url: 'https://xai-sepolia-relayer.sequence.app'
    description: 'Xai-Sepolia Relayer'
components:
  securitySchemes: {'ApiKeyAuth': {'type': 'apiKey', 'in': 'header', 'description': 'Project access key for authenticating requests, get an access key at https://sequence.build', 'name': 'X-Access-Key'}}
  schemas:
    ErrorWebrpcEndpoint:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcEndpoint"
        code:
          type: number
          example: 0
        msg:
          type: string
          example: "endpoint error"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcRequestFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcRequestFailed"
        code:
          type: number
          example: -1
        msg:
          type: string
          example: "request failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadRoute:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRoute"
        code:
          type: number
          example: -2
        msg:
          type: string
          example: "bad route"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorWebrpcBadMethod:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadMethod"
        code:
          type: number
          example: -3
        msg:
          type: string
          example: "bad method"
        cause:
          type: string
        status:
          type: number
          example: 405
    ErrorWebrpcBadRequest:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRequest"
        code:
          type: number
          example: -4
        msg:
          type: string
          example: "bad request"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadResponse:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadResponse"
        code:
          type: number
          example: -5
        msg:
          type: string
          example: "bad response"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcServerPanic:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcServerPanic"
        code:
          type: number
          example: -6
        msg:
          type: string
          example: "server panic"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcInternalError:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcInternalError"
        code:
          type: number
          example: -7
        msg:
          type: string
          example: "internal error"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcClientAborted:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcClientAborted"
        code:
          type: number
          example: -8
        msg:
          type: string
          example: "request aborted by client"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamLost:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamLost"
        code:
          type: number
          example: -9
        msg:
          type: string
          example: "stream lost"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamFinished:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamFinished"
        code:
          type: number
          example: -10
        msg:
          type: string
          example: "stream finished"
        cause:
          type: string
        status:
          type: number
          example: 200
    ErrorUnauthorized:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Unauthorized"
        code:
          type: number
          example: 1000
        msg:
          type: string
          example: "Unauthorized access"
        cause:
          type: string
        status:
          type: number
          example: 401
    ErrorPermissionDenied:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "PermissionDenied"
        code:
          type: number
          example: 1001
        msg:
          type: string
          example: "Permission denied"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorSessionExpired:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "SessionExpired"
        code:
          type: number
          example: 1002
        msg:
          type: string
          example: "Session expired"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorMethodNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "MethodNotFound"
        code:
          type: number
          example: 1003
        msg:
          type: string
          example: "Method not found"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorRequestConflict:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "RequestConflict"
        code:
          type: number
          example: 1004
        msg:
          type: string
          example: "Conflict with target resource"
        cause:
          type: string
        status:
          type: number
          example: 409
    ErrorAborted:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Aborted"
        code:
          type: number
          example: 1005
        msg:
          type: string
          example: "Request aborted"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorGeoblocked:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Geoblocked"
        code:
          type: number
          example: 1006
        msg:
          type: string
          example: "Geoblocked region"
        cause:
          type: string
        status:
          type: number
          example: 451
    ErrorRateLimited:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "RateLimited"
        code:
          type: number
          example: 1007
        msg:
          type: string
          example: "Rate-limited. Please slow down."
        cause:
          type: string
        status:
          type: number
          example: 429
    ErrorProjectNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "ProjectNotFound"
        code:
          type: number
          example: 1008
        msg:
          type: string
          example: "Project not found"
        cause:
          type: string
        status:
          type: number
          example: 401
    ErrorAccessKeyNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "AccessKeyNotFound"
        code:
          type: number
          example: 1101
        msg:
          type: string
          example: "Access key not found"
        cause:
          type: string
        status:
          type: number
          example: 401
    ErrorAccessKeyMismatch:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "AccessKeyMismatch"
        code:
          type: number
          example: 1102
        msg:
          type: string
          example: "Access key mismatch"
        cause:
          type: string
        status:
          type: number
          example: 409
    ErrorInvalidOrigin:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidOrigin"
        code:
          type: number
          example: 1103
        msg:
          type: string
          example: "Invalid origin for Access Key"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorInvalidService:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidService"
        code:
          type: number
          example: 1104
        msg:
          type: string
          example: "Service not enabled for Access key"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorUnauthorizedUser:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "UnauthorizedUser"
        code:
          type: number
          example: 1105
        msg:
          type: string
          example: "Unauthorized user"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorQuotaExceeded:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "QuotaExceeded"
        code:
          type: number
          example: 1200
        msg:
          type: string
          example: "Quota request exceeded"
        cause:
          type: string
        status:
          type: number
          example: 429
    ErrorQuotaRateLimit:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "QuotaRateLimit"
        code:
          type: number
          example: 1201
        msg:
          type: string
          example: "Quota rate limit exceeded"
        cause:
          type: string
        status:
          type: number
          example: 429
    ErrorNoDefaultKey:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "NoDefaultKey"
        code:
          type: number
          example: 1300
        msg:
          type: string
          example: "No default access key found"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorMaxAccessKeys:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "MaxAccessKeys"
        code:
          type: number
          example: 1301
        msg:
          type: string
          example: "Access keys limit reached"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorAtLeastOneKey:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "AtLeastOneKey"
        code:
          type: number
          example: 1302
        msg:
          type: string
          example: "You need at least one Access Key"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorTimeout:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Timeout"
        code:
          type: number
          example: 1900
        msg:
          type: string
          example: "Request timed out"
        cause:
          type: string
        status:
          type: number
          example: 408
    ErrorInvalidArgument:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidArgument"
        code:
          type: number
          example: 2001
        msg:
          type: string
          example: "Invalid argument"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorUnavailable:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Unavailable"
        code:
          type: number
          example: 2002
        msg:
          type: string
          example: "Unavailable resource"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorQueryFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "QueryFailed"
        code:
          type: number
          example: 2003
        msg:
          type: string
          example: "Query failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "NotFound"
        code:
          type: number
          example: 3000
        msg:
          type: string
          example: "Resource not found"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorInsufficientFee:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InsufficientFee"
        code:
          type: number
          example: 3004
        msg:
          type: string
          example: "Insufficient fee"
        cause:
          type: string
        status:
          type: number
          example: 402
    ErrorNotEnoughBalance:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "NotEnoughBalance"
        code:
          type: number
          example: 3005
        msg:
          type: string
          example: "Not enough balance"
        cause:
          type: string
        status:
          type: number
          example: 402
    ErrorSimulationFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "SimulationFailed"
        code:
          type: number
          example: 3006
        msg:
          type: string
          example: "Simulation failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ETHTxnStatus:
      type: string
      description: Represented as uint on the server side
      enum:
        - UNKNOWN
        - DROPPED
        - QUEUED
        - SENT
        - SUCCEEDED
        - PARTIALLY_FAILED
        - FAILED
        - PENDING_PRECONDITION
    TransferType:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - SEND
        - RECEIVE
        - BRIDGE_DEPOSIT
        - BRIDGE_WITHDRAW
        - BURN
        - UNKNOWN
    SimulateStatus:
      type: string
      description: Represented as int on the server side
      enum:
        - SKIPPED
        - SUCCEEDED
        - FAILED
        - ABORTED
        - REVERTED
        - NOT_ENOUGH_GAS
    FeeTokenType:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - UNKNOWN
        - ERC20_TOKEN
        - ERC1155_TOKEN
    SortOrder:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - DESC
        - ASC
    Version:
      type: object
      required:
        - webrpcVersion
        - schemaVersion
        - schemaHash
        - appVersion
      properties:
        webrpcVersion:
          type: string
        schemaVersion:
          type: string
        schemaHash:
          type: string
        appVersion:
          type: string
    RuntimeStatus:
      type: object
      required:
        - healthOK
        - startTime
        - uptime
        - ver
        - branch
        - commitHash
        - chainID
        - useEIP1559
        - senders
        - checks
      properties:
        healthOK:
          type: boolean
        startTime:
          type: string
        uptime:
          type: number
        ver:
          type: string
        branch:
          type: string
        commitHash:
          type: string
        chainID:
          type: number
        useEIP1559:
          type: boolean
        senders:
          type: array
          description: '[]SenderStatus'
          items:
            $ref: '#/components/schemas/SenderStatus'
        checks:
          $ref: '#/components/schemas/RuntimeChecks'
    SenderStatus:
      type: object
      required:
        - index
        - address
        - etherBalance
        - active
      properties:
        index:
          type: number
        address:
          type: string
        etherBalance:
          type: number
        active:
          type: boolean
    RuntimeChecks:
      type: object
    SequenceContext:
      type: object
      required:
        - factory
        - mainModule
        - mainModuleUpgradable
        - guestModule
        - utils
      properties:
        factory:
          type: string
        mainModule:
          type: string
        mainModuleUpgradable:
          type: string
        guestModule:
          type: string
        utils:
          type: string
    GasTank:
      type: object
      required:
        - id
        - chainId
        - name
        - currentBalance
        - unlimited
        - feeMarkupFactor
        - updatedAt
        - createdAt
      properties:
        id:
          type: number
        chainId:
          type: number
        name:
          type: string
        currentBalance:
          type: number
        unlimited:
          type: boolean
        feeMarkupFactor:
          type: number
        updatedAt:
          type: string
        createdAt:
          type: string
    GasTankBalanceAdjustment:
      type: object
      required:
        - gasTankId
        - nonce
        - amount
        - totalBalance
        - balanceTimestamp
        - createdAt
      properties:
        gasTankId:
          type: number
        nonce:
          type: number
        amount:
          type: number
        totalBalance:
          type: number
        balanceTimestamp:
          type: string
        createdAt:
          type: string
    GasSponsor:
      type: object
      required:
        - id
        - gasTankId
        - projectId
        - chainId
        - address
        - name
        - active
        - updatedAt
        - createdAt
        - deletedAt
      properties:
        id:
          type: number
        gasTankId:
          type: number
        projectId:
          type: number
        chainId:
          type: number
        address:
          type: string
        name:
          type: string
        active:
          type: boolean
        updatedAt:
          type: string
        createdAt:
          type: string
        deletedAt:
          type: string
    GasSponsorUsage:
      type: object
      required:
        - name
        - id
        - totalGasUsed
        - totalTxnFees
        - totalTxnFeesUsd
        - avgGasPrice
        - totalTxns
        - startTime
        - endTime
      properties:
        name:
          type: string
        id:
          type: number
        totalGasUsed:
          type: number
        totalTxnFees:
          type: number
        totalTxnFeesUsd:
          type: number
        avgGasPrice:
          type: number
        totalTxns:
          type: number
        startTime:
          type: string
        endTime:
          type: string
    MetaTxn:
      type: object
      required:
        - walletAddress
        - contract
        - input
      properties:
        walletAddress:
          type: string
        contract:
          type: string
        input:
          type: string
    MetaTxnLog:
      type: object
      required:
        - id
        - chainId
        - projectId
        - txnHash
        - txnNonce
        - txnStatus
        - txnRevertReason
        - requeues
        - queuedAt
        - sentAt
        - minedAt
        - target
        - input
        - txnArgs
        - walletAddress
        - metaTxnNonce
        - gasLimit
        - gasPrice
        - gasUsed
        - gasEstimated
        - usdRate
        - creditsUsed
        - cost
        - isWhitelisted
        - updatedAt
        - createdAt
      properties:
        id:
          type: number
        chainId:
          type: number
        projectId:
          type: number
        txnHash:
          type: string
        txnNonce:
          type: string
        metaTxnID:
          type: string
        txnStatus:
          $ref: '#/components/schemas/ETHTxnStatus'
        txnRevertReason:
          type: string
        requeues:
          type: number
        queuedAt:
          type: string
        sentAt:
          type: string
        minedAt:
          type: string
        target:
          type: string
        input:
          type: string
        txnArgs:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        txnReceipt:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        walletAddress:
          type: string
        metaTxnNonce:
          type: string
        gasLimit:
          type: number
        gasPrice:
          type: string
        gasUsed:
          type: number
        gasEstimated:
          type: number
        gasFeeMarkup:
          type: number
        usdRate:
          type: string
        creditsUsed:
          type: number
        cost:
          type: string
        isWhitelisted:
          type: boolean
        gasSponsor:
          type: number
        gasTank:
          type: number
        updatedAt:
          type: string
        createdAt:
          type: string
    MetaTxnReceipt:
      type: object
      required:
        - id
        - status
        - index
        - logs
        - receipts
        - blockNumber
        - txnHash
        - txnReceipt
      properties:
        id:
          type: string
        status:
          type: string
        revertReason:
          type: string
        index:
          type: number
        logs:
          type: array
          description: '[]MetaTxnReceiptLog'
          items:
            $ref: '#/components/schemas/MetaTxnReceiptLog'
        receipts:
          type: array
          description: '[]MetaTxnReceipt'
          items:
            $ref: '#/components/schemas/MetaTxnReceipt'
        blockNumber:
          type: string
        txnHash:
          type: string
        txnReceipt:
          type: string
    MetaTxnReceiptLog:
      type: object
      required:
        - address
        - topics
        - data
      properties:
        address:
          type: string
        topics:
          type: array
          description: '[]string'
          items:
            type: string
        data:
          type: string
    IntentPrecondition:
      type: object
      required:
        - type
        - chainId
        - data
      properties:
        type:
          type: string
        chainId:
          type: string
        data:
          type: object
    IntentSolution:
      type: object
      required:
        - transactions
      properties:
        transactions:
          type: array
          description: '[]Transactions'
          items:
            $ref: '#/components/schemas/Transactions'
    Transactions:
      type: object
      required:
        - chainID
        - transactions
      properties:
        chainID:
          type: string
        transactions:
          type: array
          description: '[]Transaction'
          items:
            $ref: '#/components/schemas/Transaction'
        preconditions:
          type: array
          description: '[]IntentPrecondition'
          items:
            $ref: '#/components/schemas/IntentPrecondition'
    Transaction:
      type: object
      required:
        - delegateCall
        - revertOnError
        - gasLimit
        - target
        - value
        - data
      properties:
        delegateCall:
          type: boolean
        revertOnError:
          type: boolean
        gasLimit:
          type: string
        target:
          type: string
        value:
          type: string
        data:
          type: string
    TxnLogUser:
      type: object
      required:
        - username
      properties:
        username:
          type: string
    TxnLogTransfer:
      type: object
      required:
        - transferType
        - contractAddress
        - from
        - to
        - ids
        - amounts
      properties:
        transferType:
          $ref: '#/components/schemas/TransferType'
        contractAddress:
          type: string
        from:
          type: string
        to:
          type: string
        ids:
          type: array
          description: '[]string'
          items:
            type: string
        amounts:
          type: array
          description: '[]string'
          items:
            type: string
    SentTransactionsFilter:
      type: object
      properties:
        pending:
          type: boolean
        failed:
          type: boolean
    SimulateResult:
      type: object
      required:
        - executed
        - succeeded
        - gasUsed
        - gasLimit
      properties:
        executed:
          type: boolean
        succeeded:
          type: boolean
        result:
          type: string
        reason:
          type: string
        gasUsed:
          type: number
        gasLimit:
          type: number
    SimulateV3Result:
      type: object
      required:
        - status
        - gasUsed
        - gasLimit
      properties:
        status:
          $ref: '#/components/schemas/SimulateStatus'
        result:
          type: string
        error:
          type: string
        gasUsed:
          type: number
        gasLimit:
          type: number
    FeeOption:
      type: object
      required:
        - token
        - to
        - value
        - gasLimit
      properties:
        token:
          $ref: '#/components/schemas/FeeToken'
        to:
          type: string
        value:
          type: string
        gasLimit:
          type: number
    FeeToken:
      type: object
      required:
        - chainId
        - name
        - symbol
        - type
        - logoURL
      properties:
        chainId:
          type: number
        name:
          type: string
        symbol:
          type: string
        type:
          $ref: '#/components/schemas/FeeTokenType'
        decimals:
          type: number
        logoURL:
          type: string
        contractAddress:
          type: string
        tokenID:
          type: string
    Page:
      type: object
      properties:
        pageSize:
          type: number
        page:
          type: number
        more:
          type: boolean
        totalRecords:
          type: number
        column:
          type: string
        before:
          type: object
        after:
          type: object
        sort:
          type: array
          description: '[]SortBy'
          items:
            $ref: '#/components/schemas/SortBy'
    SortBy:
      type: object
      required:
        - column
        - order
      properties:
        column:
          type: string
        order:
          $ref: '#/components/schemas/SortOrder'
    Relayer_GetChainID_Request:
      type: object
    Relayer_FeeTokens_Request:
      type: object
    Relayer_FeeOptions_Request:
      type: object
      properties:
        wallet:
          type: string
        to:
          type: string
        data:
          type: string
        simulate:
          type: boolean
    Relayer_ListGasSponsors_Request:
      type: object
      properties:
        projectId:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Relayer_GetGasSponsor_Request:
      type: object
      properties:
        projectId:
          type: number
        id:
          type: number
    Relayer_AddGasSponsor_Request:
      type: object
      properties:
        projectId:
          type: number
        address:
          type: string
        name:
          type: string
        active:
          type: boolean
    Relayer_UpdateGasSponsor_Request:
      type: object
      properties:
        projectId:
          type: number
        id:
          type: number
        name:
          type: string
        active:
          type: boolean
    Relayer_RemoveGasSponsor_Request:
      type: object
      properties:
        projectId:
          type: number
        id:
          type: number
    Relayer_GetChainID_Response:
      type: object
      properties:
        chainID:
          type: number
    Relayer_FeeTokens_Response:
      type: object
      properties:
        isFeeRequired:
          type: boolean
        tokens:
          type: array
          description: '[]FeeToken'
          items:
            $ref: '#/components/schemas/FeeToken'
        paymentAddress:
          type: string
    Relayer_FeeOptions_Response:
      type: object
      properties:
        options:
          type: array
          description: '[]FeeOption'
          items:
            $ref: '#/components/schemas/FeeOption'
        sponsored:
          type: boolean
        quote:
          type: string
    Relayer_ListGasSponsors_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        gasSponsors:
          type: array
          description: '[]GasSponsor'
          items:
            $ref: '#/components/schemas/GasSponsor'
    Relayer_GetGasSponsor_Response:
      type: object
      properties:
        gasSponsor:
          $ref: '#/components/schemas/GasSponsor'
    Relayer_AddGasSponsor_Response:
      type: object
      properties:
        status:
          type: boolean
        gasSponsor:
          $ref: '#/components/schemas/GasSponsor'
    Relayer_UpdateGasSponsor_Response:
      type: object
      properties:
        status:
          type: boolean
        gasSponsor:
          $ref: '#/components/schemas/GasSponsor'
    Relayer_RemoveGasSponsor_Response:
      type: object
      properties:
        status:
          type: boolean
paths:
  /rpc/Relayer/GetChainID:
    post:
      operationId: Relayer-GetChainID
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetChainID_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetChainID_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/FeeTokens:
    post:
      operationId: Relayer-FeeTokens
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_FeeTokens_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_FeeTokens_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/FeeOptions:
    post:
      operationId: Relayer-FeeOptions
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_FeeOptions_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_FeeOptions_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/ListGasSponsors:
    post:
      operationId: Relayer-ListGasSponsors
      tags: ["Relayer"]
      summary: "Gas Sponsorship"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_ListGasSponsors_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_ListGasSponsors_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/GetGasSponsor:
    post:
      operationId: Relayer-GetGasSponsor
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_GetGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_GetGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/AddGasSponsor:
    post:
      operationId: Relayer-AddGasSponsor
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_AddGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_AddGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/UpdateGasSponsor:
    post:
      operationId: Relayer-UpdateGasSponsor
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_UpdateGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_UpdateGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Relayer/RemoveGasSponsor:
    post:
      operationId: Relayer-RemoveGasSponsor
      tags: ["Relayer"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Relayer_RemoveGasSponsor_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relayer_RemoveGasSponsor_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientAborted'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorAborted'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyNotFound'
                  - $ref: '#/components/schemas/ErrorAccessKeyMismatch'
                  - $ref: '#/components/schemas/ErrorInvalidOrigin'
                  - $ref: '#/components/schemas/ErrorInvalidService'
                  - $ref: '#/components/schemas/ErrorUnauthorizedUser'
                  - $ref: '#/components/schemas/ErrorQuotaExceeded'
                  - $ref: '#/components/schemas/ErrorQuotaRateLimit'
                  - $ref: '#/components/schemas/ErrorNoDefaultKey'
                  - $ref: '#/components/schemas/ErrorMaxAccessKeys'
                  - $ref: '#/components/schemas/ErrorAtLeastOneKey'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorUnavailable'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorInsufficientFee'
                  - $ref: '#/components/schemas/ErrorNotEnoughBalance'
                  - $ref: '#/components/schemas/ErrorSimulationFailed'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
