.tabbed-content__menu {
  display: flex;
}

.tabbed-content__menu-button {
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 158, 255, 0.165);
  background-color: rgba(0, 143, 245, 0.098);
  transition: background-color 0.4s ease;
  outline: none;
}

.tabbed-content__menu-button:hover {
  background-color: rgba(0, 143, 245, 0.2);
}

.tabbed-content__menu-button:focus {
  outline: none;
}

.tabbed-content__menu-button--active,
.tabbed-content__menu-button--active:hover {
  background-color: #007bff;
  color: white;
}

.tabbed-content__content {
  margin-top: 20px;
  padding: 1rem 1.25rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 158, 255, 0.165);
  background-color: rgba(0, 143, 245, 0.098);
}