# sequence-metadata v0.4.0 cf8b684bec3de83e2633e47b9cf5ee72db055c92
# --
# Code generated by webrpc-gen@v0.25.2 with openapi generator; DO NOT EDIT
# 
# webrpc-gen -service=Metadata,Collections -ignore=@internal -schema=proto/metadata.ridl -target=openapi -title=Sequence Metadata -servers=https://metadata.sequence.app/;Metadata -securityAnnotation=@auth -securitySchemes={       'ApiKeyAuth': {         'type': 'apiKey',         'in': 'header',         'description': 'Project access key for authenticating requests, get an access key at https://sequence.build',         'name': 'X-Access-Key'       },       'BearerAuth': {         'type': 'http',         'scheme': 'bearer',         'bearerFormat': 'JWT',         'description': 'JWT Service Token generated from Sequence Builder',       },     } -out=proto/docs/metadata.gen.yaml
openapi: 3.0.0
info:
  title: 'Sequence Metadata'
  version: ''
servers:
  - url: 'https://metadata.sequence.app/'
    description: 'Metadata'
components:
  securitySchemes: {'ApiKeyAuth': {'type': 'apiKey', 'in': 'header', 'description': 'Project access key for authenticating requests, get an access key at https://sequence.build', 'name': 'X-Access-Key'}, 'BearerAuth': {'type': 'http', 'scheme': 'bearer', 'bearerFormat': 'JWT', 'description': 'JWT Service Token generated from Sequence Builder'}}
  schemas:
    ErrorWebrpcEndpoint:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcEndpoint"
        code:
          type: number
          example: 0
        msg:
          type: string
          example: "endpoint error"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcRequestFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcRequestFailed"
        code:
          type: number
          example: -1
        msg:
          type: string
          example: "request failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadRoute:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRoute"
        code:
          type: number
          example: -2
        msg:
          type: string
          example: "bad route"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorWebrpcBadMethod:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadMethod"
        code:
          type: number
          example: -3
        msg:
          type: string
          example: "bad method"
        cause:
          type: string
        status:
          type: number
          example: 405
    ErrorWebrpcBadRequest:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadRequest"
        code:
          type: number
          example: -4
        msg:
          type: string
          example: "bad request"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcBadResponse:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcBadResponse"
        code:
          type: number
          example: -5
        msg:
          type: string
          example: "bad response"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcServerPanic:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcServerPanic"
        code:
          type: number
          example: -6
        msg:
          type: string
          example: "server panic"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcInternalError:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcInternalError"
        code:
          type: number
          example: -7
        msg:
          type: string
          example: "internal error"
        cause:
          type: string
        status:
          type: number
          example: 500
    ErrorWebrpcClientDisconnected:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcClientDisconnected"
        code:
          type: number
          example: -8
        msg:
          type: string
          example: "client disconnected"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamLost:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamLost"
        code:
          type: number
          example: -9
        msg:
          type: string
          example: "stream lost"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorWebrpcStreamFinished:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "WebrpcStreamFinished"
        code:
          type: number
          example: -10
        msg:
          type: string
          example: "stream finished"
        cause:
          type: string
        status:
          type: number
          example: 200
    ErrorUnauthorized:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Unauthorized"
        code:
          type: number
          example: 1000
        msg:
          type: string
          example: "Unauthorized access"
        cause:
          type: string
        status:
          type: number
          example: 401
    ErrorPermissionDenied:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "PermissionDenied"
        code:
          type: number
          example: 1001
        msg:
          type: string
          example: "Permission denied"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorSessionExpired:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "SessionExpired"
        code:
          type: number
          example: 1002
        msg:
          type: string
          example: "Session expired"
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorMethodNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "MethodNotFound"
        code:
          type: number
          example: 1003
        msg:
          type: string
          example: "Method not found"
        cause:
          type: string
        status:
          type: number
          example: 404
    ErrorRequestConflict:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "RequestConflict"
        code:
          type: number
          example: 1004
        msg:
          type: string
          example: "Conflict with target resource"
        cause:
          type: string
        status:
          type: number
          example: 409
    ErrorFail:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Fail"
        code:
          type: number
          example: 1005
        msg:
          type: string
          example: "Request Failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorGeoblocked:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Geoblocked"
        code:
          type: number
          example: 1006
        msg:
          type: string
          example: "Geoblocked region"
        cause:
          type: string
        status:
          type: number
          example: 451
    ErrorTaskFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "TaskFailed"
        code:
          type: number
          example: 1007
        msg:
          type: string
          example: "Task failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorTimeout:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "Timeout"
        code:
          type: number
          example: 2000
        msg:
          type: string
          example: "Request timed out"
        cause:
          type: string
        status:
          type: number
          example: 408
    ErrorInvalidArgument:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "InvalidArgument"
        code:
          type: number
          example: 2001
        msg:
          type: string
          example: "Invalid argument"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorRequiredArgument:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "RequiredArgument"
        code:
          type: number
          example: 2002
        msg:
          type: string
          example: "Required argument missing"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorQueryFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "QueryFailed"
        code:
          type: number
          example: 2003
        msg:
          type: string
          example: "Query failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorValidationFailed:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "ValidationFailed"
        code:
          type: number
          example: 2004
        msg:
          type: string
          example: "Validation failed"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorRateLimited:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "RateLimited"
        code:
          type: number
          example: 2005
        msg:
          type: string
          example: "Rate limited"
        cause:
          type: string
        status:
          type: number
          example: 429
    ErrorNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "NotFound"
        code:
          type: number
          example: 3000
        msg:
          type: string
          example: "Resource not found"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorProjectNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "ProjectNotFound"
        code:
          type: number
          example: 3002
        msg:
          type: string
          example: "Project not found"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorChainNotFound:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "ChainNotFound"
        code:
          type: number
          example: 3003
        msg:
          type: string
          example: "Chain not found"
        cause:
          type: string
        status:
          type: number
          example: 400
    ErrorTokenDirectoryDisabled:
      type: object
      required:
        - error
        - code
        - msg
        - status
      properties:
        error:
          type: string
          example: "TokenDirectoryDisabled"
        code:
          type: number
          example: 4001
        msg:
          type: string
          example: "Token Directory is disabled"
        cause:
          type: string
        status:
          type: number
          example: 400
    ContractType:
      type: string
      description: Represented as uint16 on the server side
      enum:
        - UNKNOWN
        - ERC20
        - ERC721
        - ERC1155
    Source:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - UNKNOWN
        - FETCHER
        - FETCHER_OPENSEA_API
        - FETCHER_ENS_API
        - FETCHER_ON_CHAIN_ERC20_INTERFACE
        - FETCHER_ON_CHAIN_TOKEN_URI
        - FETCHER_ON_CHAIN_CONTRACT_URI
        - TOKEN_DIRECTORY
        - TOKEN_DIRECTORY_PUBLIC_TOKEN_LIST
        - TOKEN_DIRECTORY_3RD_PARTY
        - TOKEN_DIRECTORY_SEQUENCE_GITHUB
        - TOKEN_DIRECTORY_SEQUENCE_BUILDER
        - SEQUENCE_BUILDER
        - SEQUENCE_BUILDER_DEPLOYED
        - SEQUENCE_BUILDER_COLLECTIONS
        - SEQUENCE_BUILDER_ADMIN
    ResourceStatus:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - NOT_AVAILABLE
        - REFRESHING
        - AVAILABLE
    PropertyType:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - INT
        - STRING
        - ARRAY
        - GENERIC
    SwapType:
      type: string
      description: Represented as uint32 on the server side
      enum:
        - UNKNOWN
        - BUY
        - SELL
    TaskStatus:
      type: string
      description: Represented as uint8 on the server side
      enum:
        - QUEUED
        - PAUSED
        - FAILED
        - DONE
    Version:
      type: object
      required:
        - webrpcVersion
        - schemaVersion
        - schemaHash
        - appVersion
      properties:
        webrpcVersion:
          type: string
        schemaVersion:
          type: string
        schemaHash:
          type: string
        appVersion:
          type: string
    RuntimeStatus:
      type: object
      required:
        - healthOK
        - startTime
        - uptime
        - uptimeString
        - ver
        - branch
        - commitHash
        - runnable
      properties:
        healthOK:
          type: boolean
        startTime:
          type: string
        uptime:
          type: number
        uptimeString:
          type: string
        ver:
          type: string
        branch:
          type: string
        commitHash:
          type: string
        runnable:
          type: object
          description: 'map<string,RunnableStatus>'
          additionalProperties:
            $ref: '#/components/schemas/RunnableStatus'
    RunnableStatus:
      type: object
      required:
        - running
        - restarts
        - startTime
        - lastError
      properties:
        running:
          type: boolean
        restarts:
          type: number
        startTime:
          type: string
        endTime:
          type: string
        lastError:
          type: object
    ContractIndex:
      type: object
      required:
        - chainId
        - address
        - type
        - source
        - metadata
        - contentHash
        - deployed
        - bytecodeHash
        - notFound
        - updatedAt
        - status
      properties:
        chainId:
          type: number
        address:
          type: string
        type:
          $ref: '#/components/schemas/ContractType'
        source:
          $ref: '#/components/schemas/Source'
        metadata:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        contentHash:
          type: number
        deployed:
          type: boolean
        bytecodeHash:
          type: string
        notFound:
          type: boolean
        updatedAt:
          type: string
        queuedAt:
          type: string
        status:
          $ref: '#/components/schemas/ResourceStatus'
    TokenIndex:
      type: object
      required:
        - chainId
        - contractAddress
        - tokenId
        - source
        - metadata
        - updatedAt
      properties:
        chainId:
          type: number
        contractAddress:
          type: string
        tokenId:
          type: string
        source:
          $ref: '#/components/schemas/Source'
        metadata:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        notFound:
          type: boolean
        lastFetched:
          type: string
        fetchCount:
          type: number
        updatedAt:
          type: string
        queuedAt:
          type: string
    ContractInfo:
      type: object
      required:
        - chainId
        - address
        - source
        - name
        - type
        - symbol
        - logoURI
        - deployed
        - bytecodeHash
        - extensions
        - contentHash
        - updatedAt
        - status
      properties:
        chainId:
          type: number
        address:
          type: string
        source:
          type: string
        name:
          type: string
        type:
          type: string
        symbol:
          type: string
        decimals:
          type: number
        logoURI:
          type: string
        deployed:
          type: boolean
        bytecodeHash:
          type: string
        extensions:
          $ref: '#/components/schemas/ContractInfoExtensions'
        contentHash:
          type: number
        updatedAt:
          type: string
        queuedAt:
          type: string
        status:
          $ref: '#/components/schemas/ResourceStatus'
    ContractInfoExtensions:
      type: object
      required:
        - link
        - description
        - categories
        - ogImage
        - ogName
        - originChainId
        - originAddress
        - blacklist
        - verified
        - verifiedBy
        - featured
        - featureIndex
      properties:
        link:
          type: string
        description:
          type: string
        categories:
          type: array
          description: '[]string'
          items:
            type: string
        ogImage:
          type: string
        ogName:
          type: string
        originChainId:
          type: number
        originAddress:
          type: string
        blacklist:
          type: boolean
        verified:
          type: boolean
        verifiedBy:
          type: string
        featured:
          type: boolean
        featureIndex:
          type: number
    TokenMetadata:
      type: object
      required:
        - tokenId
        - source
        - name
        - attributes
        - status
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
        source:
          type: string
        name:
          type: string
        description:
          type: string
        image:
          type: string
        video:
          type: string
        audio:
          type: string
        properties:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        attributes:
          type: array
          description: '[]map<string,any>'
          items:
            type: object
            description: 'map<string,any>'
            additionalProperties:
              type: object
        imageData:
          type: string
        externalUrl:
          type: string
        backgroundColor:
          type: string
        animationUrl:
          type: string
        decimals:
          type: number
        updatedAt:
          type: string
        assets:
          type: array
          description: '[]Asset'
          items:
            $ref: '#/components/schemas/Asset'
        status:
          $ref: '#/components/schemas/ResourceStatus'
        queuedAt:
          type: string
        lastFetched:
          type: string
    PropertyFilter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/PropertyType'
        min:
          type: number
        max:
          type: number
        values:
          type: array
          description: '[]any'
          items:
            type: object
    Filter:
      type: object
      properties:
        text:
          type: string
        properties:
          type: array
          description: '[]PropertyFilter'
          items:
            $ref: '#/components/schemas/PropertyFilter'
    Collection:
      type: object
      required:
        - id
        - projectId
        - metadata
        - private
      properties:
        id:
          type: number
        projectId:
          type: number
        metadata:
          $ref: '#/components/schemas/CollectionMetadata'
        private:
          type: boolean
        revealKey:
          type: string
        tokenCount:
          type: number
        createdAt:
          type: string
        updatedAt:
          type: string
        deletedAt:
          type: string
        baseURIs:
          $ref: '#/components/schemas/CollectionBaseURIs'
        assets:
          type: array
          description: '[]Asset'
          items:
            $ref: '#/components/schemas/Asset'
    CollectionMetadata:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        image:
          type: string
        externalLink:
          type: string
        properties:
          type: object
          description: 'map<string,any>'
          additionalProperties:
            type: object
        attributes:
          type: array
          description: '[]map<string,any>'
          items:
            type: object
            description: 'map<string,any>'
            additionalProperties:
              type: object
    CollectionBaseURIs:
      type: object
      required:
        - contractMetadataURI
        - tokenMetadataURI
      properties:
        contractMetadataURI:
          type: string
        tokenMetadataURI:
          type: string
    ContractCollection:
      type: object
      required:
        - id
        - chainId
        - contractAddress
        - collectionId
      properties:
        id:
          type: number
        chainId:
          type: number
        contractAddress:
          type: string
        collectionId:
          type: number
    Asset:
      type: object
      required:
        - id
        - collectionId
        - metadataField
      properties:
        id:
          type: number
        collectionId:
          type: number
        tokenId:
          type: string
        url:
          type: string
        metadataField:
          type: string
        filename:
          type: string
        filesize:
          type: number
        mimeType:
          type: string
        width:
          type: number
        height:
          type: number
        updatedAt:
          type: string
    Token:
      type: object
      required:
        - collectionId
        - tokenId
        - metadata
        - private
        - searchColumn
      properties:
        collectionId:
          type: number
        tokenId:
          type: string
        metadata:
          $ref: '#/components/schemas/TokenMetadata'
        private:
          type: boolean
        searchColumn:
          type: string
        updatedAt:
          type: string
    GetNiftyswapUnitPricesRequest:
      type: object
      required:
        - swapType
        - ids
        - amounts
      properties:
        swapType:
          $ref: '#/components/schemas/SwapType'
        ids:
          type: array
          description: '[]string'
          items:
            type: string
        amounts:
          type: array
          description: '[]string'
          items:
            type: string
    GetNiftyswapUnitPricesResponse:
      type: object
      required:
        - unitPrice
        - unitAmount
        - availableAmount
      properties:
        unitPrice:
          type: string
        unitAmount:
          type: string
        availableAmount:
          type: string
    Page:
      type: object
      properties:
        page:
          type: number
        column:
          type: string
        before:
          type: object
        after:
          type: object
        pageSize:
          type: number
        more:
          type: boolean
    Task:
      type: object
      required:
        - id
        - queue
        - status
        - try
        - payload
        - result
      properties:
        id:
          type: number
        queue:
          type: string
        status:
          $ref: '#/components/schemas/TaskStatus'
        try:
          type: number
        runAt:
          type: string
        lastRanAt:
          type: string
        createdAt:
          type: string
        payload:
          type: array
          description: '[]byte'
          items:
            type: string
        result:
          type: array
          description: '[]byte'
          items:
            type: string
    Metadata_GetTask_Request:
      type: object
      properties:
        taskId:
          type: number
    Metadata_GetTaskStatus_Request:
      type: object
      properties:
        taskId:
          type: number
    Metadata_GetContractInfo_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
    Metadata_GetContractInfoBatch_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddresses:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_FindContractInfo_Request:
      type: object
      properties:
        contractAddress:
          type: string
    Metadata_FindContractInfoBatch_Request:
      type: object
      properties:
        contractAddresses:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_RefreshContractInfo_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
    Metadata_RefreshContractInfoBatch_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddresses:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_SearchContractsByQuery_Request:
      type: object
      properties:
        q:
          type: string
        chainID:
          type: string
        chainIDs:
          type: array
          description: '[]string'
          items:
            type: string
        types:
          type: array
          description: '[]ContractType'
          items:
            $ref: '#/components/schemas/ContractType'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_SearchContractInfo_Request:
      type: object
      properties:
        contractAddress:
          type: string
    Metadata_SearchContractInfoBatch_Request:
      type: object
      properties:
        contractAddresses:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_SearchContracts_Request:
      type: object
      properties:
        q:
          type: string
        chainID:
          type: string
        chainIDs:
          type: array
          description: '[]string'
          items:
            type: string
        types:
          type: array
          description: '[]ContractType'
          items:
            $ref: '#/components/schemas/ContractType'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_SearchMetadata_Request:
      type: object
      properties:
        filter:
          type: string
        chainID:
          type: string
        types:
          type: array
          description: '[]ContractType'
          items:
            $ref: '#/components/schemas/ContractType'
        excludeTokenMetadata:
          type: boolean
    Metadata_GetTokenMetadata_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
        tokenIDs:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_GetTokenMetadataBatch_Request:
      type: object
      properties:
        chainID:
          type: string
        contractTokenMap:
          type: object
          description: 'map<string,[]string>'
          additionalProperties:
            type: array
            description: '[]string'
            items:
              type: string
    Metadata_RefreshTokenMetadata_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
        tokenIDs:
          type: array
          description: '[]string'
          items:
            type: string
        refreshAll:
          type: boolean
    Metadata_SearchTokenMetadataByQuery_Request:
      type: object
      properties:
        q:
          type: string
        chainID:
          type: string
        page:
          $ref: '#/components/schemas/Page'
    Metadata_SearchTokenMetadata_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
        filter:
          $ref: '#/components/schemas/Filter'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_SearchTokenMetadataTokenIDs_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
        filter:
          $ref: '#/components/schemas/Filter'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_GetTokenMetadataPropertyFilters_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
        excludeProperties:
          type: array
          description: '[]string'
          items:
            type: string
        excludePropertyValues:
          type: boolean
    Metadata_RefreshAllContractTokens_Request:
      type: object
      properties:
        chainHandle:
          type: string
        contractAddress:
          type: string
    Metadata_SearchTokens_Request:
      type: object
      properties:
        q:
          type: string
        chainID:
          type: string
        page:
          $ref: '#/components/schemas/Page'
    Metadata_TokenCollectionFilters_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
    Metadata_GetTokenRefreshStatus_Request:
      type: object
      properties:
        taskId:
          type: number
    Metadata_SearchTokenIDs_Request:
      type: object
      properties:
        chainID:
          type: string
        contractAddress:
          type: string
        filter:
          $ref: '#/components/schemas/Filter'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_GetTokenDirectory_Request:
      type: object
      properties:
        chainID:
          type: string
        includeTestnets:
          type: boolean
        onlyFeatured:
          type: boolean
        page:
          $ref: '#/components/schemas/Page'
    Metadata_SearchTokenDirectory_Request:
      type: object
      properties:
        query:
          type: string
        chainID:
          type: number
        includeTestnets:
          type: boolean
        onlyFeatured:
          type: boolean
        page:
          $ref: '#/components/schemas/Page'
    Metadata_GetTokenDirectoryNetworks_Request:
      type: object
      properties:
        includeTestnets:
          type: boolean
        onlyFeatured:
          type: boolean
    Metadata_DirectoryGetNetworks_Request:
      type: object
      properties:
        includeTestnets:
          type: boolean
        onlyFeatured:
          type: boolean
    Metadata_DirectoryGetCollections_Request:
      type: object
      properties:
        chainId:
          type: number
        includeTestnets:
          type: boolean
        onlyFeatured:
          type: boolean
        page:
          $ref: '#/components/schemas/Page'
    Metadata_DirectorySearchCollections_Request:
      type: object
      properties:
        query:
          type: string
        chainId:
          type: number
        includeTestnets:
          type: boolean
        onlyFeatured:
          type: boolean
        page:
          $ref: '#/components/schemas/Page'
    Metadata_GetTask_Response:
      type: object
      properties:
        task:
          $ref: '#/components/schemas/Task'
    Metadata_GetTaskStatus_Response:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TaskStatus'
    Metadata_GetContractInfo_Response:
      type: object
      properties:
        contractInfo:
          $ref: '#/components/schemas/ContractInfo'
        taskID:
          type: number
    Metadata_GetContractInfoBatch_Response:
      type: object
      properties:
        contractInfoMap:
          type: object
          description: 'map<string,ContractInfo>'
          additionalProperties:
            $ref: '#/components/schemas/ContractInfo'
        taskID:
          type: number
    Metadata_FindContractInfo_Response:
      type: object
      properties:
        contractInfoList:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
    Metadata_FindContractInfoBatch_Response:
      type: object
      properties:
        contractInfoByChain:
          type: object
          description: 'map<string,[]ContractInfo>'
          additionalProperties:
            type: array
            description: '[]ContractInfo'
            items:
              $ref: '#/components/schemas/ContractInfo'
    Metadata_RefreshContractInfo_Response:
      type: object
      properties:
        taskID:
          type: number
    Metadata_RefreshContractInfoBatch_Response:
      type: object
      properties:
        taskID:
          type: number
    Metadata_SearchContractsByQuery_Response:
      type: object
      properties:
        contractInfo:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
        nextPage:
          $ref: '#/components/schemas/Page'
    Metadata_SearchContractInfo_Response:
      type: object
      properties:
        contractInfoList:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
    Metadata_SearchContractInfoBatch_Response:
      type: object
      properties:
        contractInfoByChain:
          type: object
          description: 'map<string,[]ContractInfo>'
          additionalProperties:
            type: array
            description: '[]ContractInfo'
            items:
              $ref: '#/components/schemas/ContractInfo'
    Metadata_SearchContracts_Response:
      type: object
      properties:
        contractInfo:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
        nextPage:
          $ref: '#/components/schemas/Page'
    Metadata_SearchMetadata_Response:
      type: object
      properties:
        tokenMetadata:
          type: array
          description: '[]TokenMetadata'
          items:
            $ref: '#/components/schemas/TokenMetadata'
        contractInfo:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
    Metadata_GetTokenMetadata_Response:
      type: object
      properties:
        tokenMetadata:
          type: array
          description: '[]TokenMetadata'
          items:
            $ref: '#/components/schemas/TokenMetadata'
        taskID:
          type: number
    Metadata_GetTokenMetadataBatch_Response:
      type: object
      properties:
        contractTokenMetadata:
          type: object
          description: 'map<string,[]TokenMetadata>'
          additionalProperties:
            type: array
            description: '[]TokenMetadata'
            items:
              $ref: '#/components/schemas/TokenMetadata'
        taskID:
          type: number
    Metadata_RefreshTokenMetadata_Response:
      type: object
      properties:
        taskID:
          type: number
    Metadata_SearchTokenMetadataByQuery_Response:
      type: object
      properties:
        tokenMetadata:
          type: array
          description: '[]TokenMetadata'
          items:
            $ref: '#/components/schemas/TokenMetadata'
        nextPage:
          $ref: '#/components/schemas/Page'
    Metadata_SearchTokenMetadata_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        tokenMetadata:
          type: array
          description: '[]TokenMetadata'
          items:
            $ref: '#/components/schemas/TokenMetadata'
    Metadata_SearchTokenMetadataTokenIDs_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        tokenIDs:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_GetTokenMetadataPropertyFilters_Response:
      type: object
      properties:
        filters:
          type: array
          description: '[]PropertyFilter'
          items:
            $ref: '#/components/schemas/PropertyFilter'
    Metadata_RefreshAllContractTokens_Response:
      type: object
      properties:
        taskID:
          type: number
        retryAfter:
          type: number
    Metadata_SearchTokens_Response:
      type: object
      properties:
        tokenMetadata:
          type: array
          description: '[]TokenMetadata'
          items:
            $ref: '#/components/schemas/TokenMetadata'
        nextPage:
          $ref: '#/components/schemas/Page'
    Metadata_TokenCollectionFilters_Response:
      type: object
      properties:
        filters:
          type: array
          description: '[]PropertyFilter'
          items:
            $ref: '#/components/schemas/PropertyFilter'
    Metadata_GetTokenRefreshStatus_Response:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TaskStatus'
    Metadata_SearchTokenIDs_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        tokenIds:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_GetTokenDirectory_Response:
      type: object
      properties:
        collections:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_SearchTokenDirectory_Response:
      type: object
      properties:
        collections:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_GetTokenDirectoryNetworks_Response:
      type: object
      properties:
        chainIDs:
          type: array
          description: '[]uint64'
          items:
            type: number
        networks:
          type: array
          description: '[]string'
          items:
            type: string
    Metadata_DirectoryGetNetworks_Response:
      type: object
      properties:
        networks:
          type: array
          description: '[]uint64'
          items:
            type: number
    Metadata_DirectoryGetCollections_Response:
      type: object
      properties:
        collections:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
        page:
          $ref: '#/components/schemas/Page'
    Metadata_DirectorySearchCollections_Response:
      type: object
      properties:
        collections:
          type: array
          description: '[]ContractInfo'
          items:
            $ref: '#/components/schemas/ContractInfo'
        page:
          $ref: '#/components/schemas/Page'
    Collections_CreateCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_GetCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
    Collections_ListCollections_Request:
      type: object
      properties:
        projectId:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Collections_UpdateCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_DeleteCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
    Collections_PublishCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        recursive:
          type: boolean
    Collections_UnpublishCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
    Collections_CreateContractCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        contractCollection:
          $ref: '#/components/schemas/ContractCollection'
    Collections_GetContractCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        chainId:
          type: number
        contractAddress:
          type: string
    Collections_ListContractCollections_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Collections_UpdateContractCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        contractCollection:
          $ref: '#/components/schemas/ContractCollection'
    Collections_DeleteContractCollection_Request:
      type: object
      properties:
        projectId:
          type: number
        chainId:
          type: number
        contractAddress:
          type: string
    Collections_CreateToken_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        token:
          $ref: '#/components/schemas/TokenMetadata'
        private:
          type: boolean
    Collections_GetToken_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        tokenId:
          type: string
    Collections_ListTokens_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        page:
          $ref: '#/components/schemas/Page'
    Collections_UpdateToken_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        tokenId:
          type: string
        token:
          $ref: '#/components/schemas/TokenMetadata'
        private:
          type: boolean
    Collections_DeleteToken_Request:
      type: object
      properties:
        projectId:
          type: number
        collectionId:
          type: number
        tokenId:
          type: string
    Collections_CreateAsset_Request:
      type: object
      properties:
        projectId:
          type: number
        asset:
          $ref: '#/components/schemas/Asset'
    Collections_GetAsset_Request:
      type: object
      properties:
        projectId:
          type: number
        assetId:
          type: number
    Collections_UpdateAsset_Request:
      type: object
      properties:
        projectId:
          type: number
        asset:
          $ref: '#/components/schemas/Asset'
    Collections_DeleteAsset_Request:
      type: object
      properties:
        projectId:
          type: number
        assetId:
          type: number
    Collections_CreateCollection_Response:
      type: object
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_GetCollection_Response:
      type: object
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_ListCollections_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        collections:
          type: array
          description: '[]Collection'
          items:
            $ref: '#/components/schemas/Collection'
    Collections_UpdateCollection_Response:
      type: object
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_DeleteCollection_Response:
      type: object
      properties:
        status:
          type: boolean
    Collections_PublishCollection_Response:
      type: object
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_UnpublishCollection_Response:
      type: object
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    Collections_CreateContractCollection_Response:
      type: object
      properties:
        contractCollection:
          $ref: '#/components/schemas/ContractCollection'
    Collections_GetContractCollection_Response:
      type: object
      properties:
        contractCollection:
          $ref: '#/components/schemas/ContractCollection'
    Collections_ListContractCollections_Response:
      type: object
      properties:
        contractCollections:
          type: array
          description: '[]ContractCollection'
          items:
            $ref: '#/components/schemas/ContractCollection'
        collections:
          type: array
          description: '[]Collection'
          items:
            $ref: '#/components/schemas/Collection'
        page:
          $ref: '#/components/schemas/Page'
    Collections_UpdateContractCollection_Response:
      type: object
      properties:
        ok:
          type: boolean
    Collections_DeleteContractCollection_Response:
      type: object
      properties:
        ok:
          type: boolean
    Collections_CreateToken_Response:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/TokenMetadata'
        assets:
          type: array
          description: '[]Asset'
          items:
            $ref: '#/components/schemas/Asset'
    Collections_GetToken_Response:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/TokenMetadata'
        assets:
          type: array
          description: '[]Asset'
          items:
            $ref: '#/components/schemas/Asset'
    Collections_ListTokens_Response:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        tokens:
          type: array
          description: '[]TokenMetadata'
          items:
            $ref: '#/components/schemas/TokenMetadata'
    Collections_UpdateToken_Response:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/TokenMetadata'
    Collections_DeleteToken_Response:
      type: object
      properties:
        status:
          type: boolean
    Collections_CreateAsset_Response:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/Asset'
    Collections_GetAsset_Response:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/Asset'
    Collections_UpdateAsset_Response:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/Asset'
    Collections_DeleteAsset_Response:
      type: object
      properties:
        status:
          type: boolean
paths:
  /rpc/Metadata/GetTask:
    post:
      tags: ["Metadata"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetTask_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetTask_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/GetTaskStatus:
    post:
      tags: ["Metadata"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetTaskStatus_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetTaskStatus_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/GetContractInfo:
    post:
      tags: ["Metadata"]
      summary: "Contract Info -- returns contract meta-info for contracts found in registered chain's token-lists"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetContractInfo_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetContractInfo_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/GetContractInfoBatch:
    post:
      tags: ["Metadata"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetContractInfoBatch_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetContractInfoBatch_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/FindContractInfo:
    post:
      tags: ["Metadata"]
      summary: "Find Contract Info across all chains token-lists. Similar to GetContractInfo above,"
      description: |
        but it will traverse all chains and results from all.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_FindContractInfo_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_FindContractInfo_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/FindContractInfoBatch:
    post:
      tags: ["Metadata"]
      summary: "map of contractAddress :: []ContractInfo"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_FindContractInfoBatch_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_FindContractInfoBatch_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/RefreshContractInfo:
    post:
      tags: ["Metadata"]
      summary: "Refresh Contract Info -- refresh contract meta-info"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_RefreshContractInfo_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_RefreshContractInfo_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/RefreshContractInfoBatch:
    post:
      tags: ["Metadata"]
      summary: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_RefreshContractInfoBatch_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_RefreshContractInfoBatch_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchContractsByQuery:
    post:
      tags: ["Metadata"]
      summary: "Search for contract infos using a query string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchContractsByQuery_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchContractsByQuery_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchContractInfo:
    post:
      tags: ["Metadata"]
      summary: "Deprecated: UseFindContractInfo instead. (renamed)."
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchContractInfo_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchContractInfo_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchContractInfoBatch:
    post:
      tags: ["Metadata"]
      summary: "Deprecated: Use FindContractInfoBatch instead. (renamed)"
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchContractInfoBatch_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchContractInfoBatch_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchContracts:
    post:
      tags: ["Metadata"]
      summary: "Deprecated: Use SearchContractsByQuery instead. (renamed)"
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchContracts_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchContracts_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchMetadata:
    post:
      tags: ["Metadata"]
      summary: "Deprecated: Use SearchContractsByQuery() and SearchTokenMetadataByQuery() instead."
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchMetadata_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchMetadata_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/GetTokenMetadata:
    post:
      tags: ["Metadata"]
      summary: "GetTokenMetadata - fetch token metadata for a particular contract and respective tokenIDs"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetTokenMetadata_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetTokenMetadata_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/GetTokenMetadataBatch:
    post:
      tags: ["Metadata"]
      summary: "GetTokenMetadataBatch allows you to query the token metadata of a batch of contracts and respective tokenIDs"
      description: |
        where map is contractAddress::[]tokenID => contractAddress::[]TokenMetadata

        Note, we limit each request to 50 contracts max and 50 tokens max per contract.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetTokenMetadataBatch_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetTokenMetadataBatch_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/RefreshTokenMetadata:
    post:
      tags: ["Metadata"]
      summary: "RefreshTokenMetadata allows you to refresh a contract metadata for contract-level and token-level metadata."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_RefreshTokenMetadata_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_RefreshTokenMetadata_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchTokenMetadataByQuery:
    post:
      tags: ["Metadata"]
      summary: "Search ERC721 & ERC1155 token metadata by query string \"q\""
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchTokenMetadataByQuery_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchTokenMetadataByQuery_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
                  - $ref: '#/components/schemas/ErrorInvalidArgument'
                  - $ref: '#/components/schemas/ErrorRequiredArgument'
                  - $ref: '#/components/schemas/ErrorQueryFailed'
                  - $ref: '#/components/schemas/ErrorValidationFailed'
                  - $ref: '#/components/schemas/ErrorRateLimited'
                  - $ref: '#/components/schemas/ErrorNotFound'
                  - $ref: '#/components/schemas/ErrorProjectNotFound'
                  - $ref: '#/components/schemas/ErrorChainNotFound'
                  - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        '5XX':
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                  - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                  - $ref: '#/components/schemas/ErrorWebrpcInternalError'
  /rpc/Metadata/SearchTokenMetadata:
    post:
      tags: ["Metadata"]
      summary: "Search ERC721 & ERC1155 token metadata by filter object \"filter\""
      description: |
        which allows to search by text or properties.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchTokenMetadata_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchTokenMetadata_Response'
        '4XX':
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                  - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                  - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                  - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                  - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                  - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                  - $ref: '#/components/schemas/ErrorUnauthorized'
                  - $ref: '#/components/schemas/ErrorPermissionDenied'
                  - $ref: '#/components/schemas/ErrorSessionExpired'
                  - $ref: '#/components/schemas/ErrorMethodNotFound'
                  - $ref: '#/components/schemas/ErrorRequestConflict'
                  - $ref: '#/components/schemas/ErrorFail'
                  - $ref: '#/components/schemas/ErrorGeoblocked'
                  - $ref: '#/components/schemas/ErrorTaskFailed'
                  - $ref: '#/components/schemas/ErrorTimeout'
[...]
